@layer base {
  @font-face {
    font-family: 'area-normal';
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    /* src: url('/fonts/AreaNormalTrial-Bold.otf') format('opentype'); */
    src: url('/fonts/area-semibold-webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'area-normal';
    font-weight: bold;
    font-style: normal;
    font-display: auto;
    /* src: url('/fonts/AreaNormalTrial-Extrabold.otf') format('opentype'); */
    src: url('/fonts/area-bold-webfont.woff2') format('woff2');
  }
}
