@layer base {
  @font-face {
    font-family: 'area-normal';
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    src: url('/fonts/AreaNormal-SemiBold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'area-normal';
    font-weight: bold;
    font-style: normal;
    font-display: auto;
    src: url('/fonts/AreaNormal-Bold.woff2') format('woff2');
  }
}
