@layer base {
  body {
    /* Remove default touch box */
    -webkit-tap-highlight-color: transparent;
  }

  /**
   * Avoid text overflows
   */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    hyphens: none;
    overflow-wrap: break-word;
  }

  a,
  button {
    touch-action: manipulation;
    user-select: none;
    outline: none;

    &:disabled {
      cursor: not-allowed;
    }
  }

  button {
    text-transform: inherit;
    letter-spacing: inherit;
  }

  img,
  video {
    display: block;
    width: 100%;
  }

  video {
    background-color: theme('colors.black');
  }

  input {
    background-color: transparent;
  }

  svg {
    display: block;
  }

  mark {
    background-color: transparent;
  }

  address {
    font-style: normal;
  }

  /**
   * Hack for autofill styles
   */
  input:-webkit-autofill,
  input:-webkit-autofill:enabled,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:enabled,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:enabled,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: #ffffff;
    box-shadow: 0 0 0px 1000px #1C1D2C inset;
  }
}
