---
import type { HTMLAttributes } from 'astro/types';
import Icon from '@/components/Elements/Icon.astro';

interface Input {
  label: string;
}

type Props = HTMLAttributes<'input'> & Input;

const { label, ...rest } = Astro.props as Props;
---

<div>
  <input type="file" class="sr-only" {...rest} />

  <label
    for={rest.id}
    class:list={[
      'flex items-center justify-start gap-10 font-heading text-18 lg:text-24 text-grey hover:text-white transition-colors duration-300 underline cursor-pointer',
    ]}
  >
    <Icon name="paperclip" class="size-24" />
    {label}
  </label>
</div>
