---
import { componentProperties } from '@/utils/helpers';
import Icon from '@/components/Elements/Icon.astro';

interface Base {
  name: string;
  filename?: string;
  state?: 'ready' | 'uploading' | 'error';
  class?: string;
}

type Props = Base;

const {
  name,
  filename = 'file_upload.pdf',
  state = 'ready',
  ...rest
} = Astro.props as Props;

const { classes, attributes } = componentProperties(
  [
    'w-full flex items-center justify-between gap-10 p-22 font-heading text-12 lg:text-18 text-white bg-card rounded-16 lg:rounded-24 border',
  ],
  rest,
);
---

<div
  data-file={name}
  class:list={[classes, state === 'error' ? 'border-red' : 'border-white/10']}
  {...attributes}
>
  <span data-filename>{filename}</span>

  <div class="flex gap-10 items-center">
    {
      state === 'uploading' && (
        <Icon name="spinner" class="size-20 text-yellow animate-spin" />
      )
    }
    {state === 'error' && <Icon name="error" class="size-20 text-red" />}
    {
      state !== 'uploading' && (
        <button data-file-remove type="button">
          <span class="sr-only">Remove</span>
          <Icon name="cross" class="size-16" />
        </button>
      )
    }
  </div>
</div>
