---
import type { HTMLAttributes } from 'astro/types';
import { componentProperties, hasSlot } from '@/utils/helpers';

interface Base {
  headline?: string;
}

type Props = HTMLAttributes<'div'> & Base;

const { headline = '', ...rest } = Astro.props as Props;
const hasSlotDefault = await hasSlot(Astro.slots, 'default');
const hasSlotBottom = await hasSlot(Astro.slots, 'bottom');
const { classes, attributes } = componentProperties(
  ['flex flex-col justify-start gap-20'],
  rest,
);
---

<div class:list={classes} {...attributes}>
  {
    headline && (
      <p class="font-heading text-18 lg:text-22 text-balance">{headline}</p>
    )
  }

  {
    hasSlotDefault && (
      <div>
        <slot />
      </div>
    )
  }

  {
    hasSlotBottom && (
      <div>
        <slot name="bottom" />
      </div>
    )
  }
</div>
