<div
  data-js="404"
  class="wrapper text-center relative flex flex-col justify-start items-center gap-40 md:gap-60"
>
  {Astro.slots.headline && <slot name="headline" />}
  {Astro.slots.links && <slot name="links" />}
</div>
