<!-- Begin Block: 404 -->
<div
  class="wrapper text-center flex flex-col justify-start items-center gap-40 md:gap-60"
>
  {Astro.slots.headline && <slot name="headline" />}
  {Astro.slots.links && <slot name="links" />}

  <div
    class:list={[
      'block-404__number absolute -bottom-[0.15em] left-1/2 -translate-x-1/2 -z-1',
      'text-card font-heading font-bold text-[55vw] md:text-[51vw] leading-[1] tracking-[0.04em]',
      'pointer-events-none',
    ]}
    style="-webkit-text-stroke: 3vw currentColor;"
  >
    404
  </div>
</div>

<style is:global>
  .block-404__number {
    mask-image: linear-gradient(to top, transparent 10%, white 100%);
  }
</style>
<!-- End Block: 404 -->
