<!-- Begin Block: Article -->
<article class="wrapper grid gap-x-30 gap-y-80 grid-cols-8 lg:grid-cols-12">
  {
    Astro.slots.content && (
      <div class="flex flex-col gap-50 lg:gap-100 lg:order-2 col-span-full lg:col-start-5 lg:col-span-8">
        <slot name="content" />
      </div>
    )
  }

  {
    Astro.slots.aside && (
      <aside class="lg:order-1 col-span-full lg:col-start-1 lg:col-span-3">
        <div class="lg:sticky lg:top-100 flex flex-col justify-start items-start gap-20">
          <slot name="aside" />
        </div>
      </aside>
    )
  }
</article>
<!-- End Block: Article -->
