---
import CardAvatars from '@/components/Card/Avatars.astro';
import CardCta from '@/components/Card/Cta.astro';
import CardFigure from '@/components/Card/Figure.astro';
import CardMedia from '@/components/Card/Media.astro';

interface Props {
  description?: string;
}

const { description = '' } = Astro.props as Props;
---

<div data-js="card-stacks" class="wrapper xl:grid xl:grid-cols-12 xl:gap-30">
  <div class="xl:col-span-10 xl:col-start-2 flex flex-col gap-60 lg:gap-110">
    <div
      class="grid grid-cols-8 md:grid-cols-12 xl:grid-cols-10 gap-12 md:gap-30 gap-y-60 md:gap-y-80"
    >
      {
        Astro.slots.headline && (
          <div class="col-span-full">
            <slot name="headline" />
          </div>
        )
      }

      {
        description && (
          <p class="col-start-2 col-span-7 xs:col-start-3 xs:col-span-6 md:col-start-3 md:col-span-10 xl:col-start-3 xl:col-span-8 text-17 lg:text-21">
            {description}
          </p>
        )
      }
    </div>

    <ul
      class="card-stacks__list mdMax:flex mdMax:flex-col md:columns-2 gap-30 text-center"
    >
      <li class="break-inside-avoid md:mb-30 first-chi">
        <CardMedia
          headline="Agile Team, Powerful Results"
          description="Our hand-picked team of over 25 designers, engineers, SEO experts, and paid media specialists is agile, responsive, and invested in every project."
        >
          <img
            src="/images/test-project-1.webp"
            width="673"
            height="379"
            alt=""
          />
        </CardMedia>
      </li>

      <li class="break-inside-avoid md:mb-30">
        <CardFigure
          figure={100}
          unit="+"
          headline="Active Clients"
          description="We're trusted partners of brands across the UK, providing tailored, ongoing support that ensures their digital success."
          color="green"
          shape="square"
        />
      </li>

      <li class="break-inside-avoid md:mb-30">
        <CardMedia
          headline="Best-in-class Tech Stack"
          description="We leverage industry-leading tools like Asana, SEMrush, GA4, Looker Studio, Figma and Adobe to design, build, and optimise digital experiences that perform at the highest level."
        >
          <img
            src="/images/test-project-1.webp"
            width="673"
            height="379"
            alt=""
          />
        </CardMedia>
      </li>

      <li class="break-inside-avoid md:mb-30">
        <CardAvatars
          headline="Our Agency"
          description="Lorem ipsum dolor sit amet consectetur. Vitae tempor sollicitudin magna risus nunc. Id est aliquam cursus."
        >
          <img src="/images/test-avatar-1.webp" width="80" height="80" alt="" />
          <img src="/images/test-avatar-2.webp" width="80" height="80" alt="" />
          <img src="/images/test-avatar-3.webp" width="80" height="80" alt="" />
          <img src="/images/test-avatar-4.webp" width="80" height="80" alt="" />
          <img src="/images/test-avatar-5.webp" width="80" height="80" alt="" />
        </CardAvatars>
      </li>

      <li class="break-inside-avoid md:mb-30">
        <CardMedia
          headline="Flexible Investment Levels"
          description="From startups to established brands, we've got options to suit your budget. Most of our web projects range from £30k to £150k, but we also offer tailored solutions starting from just £2,600."
        >
          <img
            src="/images/test-project-1.webp"
            width="673"
            height="379"
            alt=""
          />
        </CardMedia>
      </li>

      <li class="break-inside-avoid md:mb-30">
        <CardFigure
          figure={150}
          unit="+"
          headline="Website Delivered"
          description="We've launched websites across every imaginable industry, helping B2B and B2C brands achieve their online goals with impactful, results-driven designs."
          color="yellow"
          shape="triangle"
        />
      </li>

      <li class="break-inside-avoid md:mb-30">
        <CardMedia
          headline="Global Reach, Local Expertise"
          description="With teams in London and South Africa, we combine local insights with a global perspective to deliver world-class digital solutions."
        >
          <img
            src="/images/test-project-1.webp"
            width="673"
            height="379"
            alt=""
          />
        </CardMedia>
      </li>

      <li class="break-inside-avoid md:mb-30">
        <CardFigure
          figure={84}
          unit="%"
          headline="Client Retention"
          description="84% of our clients stay with us for three years or more, because when you build trust and deliver real results, why go anywhere else?"
          color="blue"
          shape="circle"
        />
      </li>

      <li class="break-inside-avoid md:mb-30">
        <CardMedia
          headline="Certified Google Partner"
          description="Being a certified Google Partner means we're always on top of the latest digital marketing trends, ensuring your brand gets the best performance and results every step of the way."
        >
          <img
            src="/images/test-project-1.webp"
            width="673"
            height="379"
            alt=""
          />
        </CardMedia>
      </li>

      <li class="break-inside-avoid md:mb-30">
        <CardCta
          headline="Ready to start your next project? Call, live chat or send us a message today"
          cta="Get in touch"
        />
      </li>
    </ul>
  </div>
</div>

<style>
  .card-stacks__list {
    @media screen(md) {
      margin-top: theme('spacing.120');

      & li:first-child {
        margin-block-start: calc(-1 * theme('spacing.120'));
      }
    }
  }
</style>
