---
import CarouselProject from '@/components/Carousel/Project.astro';

const imageMobileTest: ImageObject = {
  src: '/images/portrait-1.webp',
  alt: 'portrait 1',
  width: 900,
  height: 1600,
};

const imageDesktopTest: ImageObject = {
  src: '/images/landscape-1.webp',
  alt: 'landscape 1',
  width: 1600,
  height: 900,
};

const slidesTest = [
  {
    imageMobile: imageMobileTest,
    imageDesktop: imageDesktopTest,
  },
  {
    imageMobile: imageMobileTest,
    imageDesktop: imageDesktopTest,
  },
  {
    imageMobile: imageMobileTest,
    imageDesktop: imageDesktopTest,
  },
  {
    imageMobile: imageMobileTest,
    imageDesktop: imageDesktopTest,
  },
];
---

<!-- Begin Block: CarouselProjects -->
<div class="wrapper-full grid gap-x-12 md:gap-x-30 grid-cols-8 md:grid-cols-12">
  <div class="col-start-2 md:col-start-3 col-span-6 md:col-span-8">
    <CarouselProject slides={slidesTest} />
  </div>
</div>
<!-- End Block: CarouselProjects -->
