---
import CarouselProfile from '@/components/Carousel/Profile.astro';

const exampleProfile = {
  type: 'profile',
  role: 'Senior PPC Account Manager',
  name: 'George Dickin',
  image: {
    src: '/images/test-laptop.webp',
    alt: '',
    width: 500,
    height: 500,
  },
};

const exampleProfile2 = {
  type: 'profile',
  role: 'PPC Account Manager',
  name: 'Joe Bloggs',
  image: {
    src: '/images/test-laptop.webp',
    alt: '',
    width: 500,
    height: 500,
  },
};

const exampleProfile3 = {
  type: 'profile',
  role: 'PPC Account Manager',
  name: 'Alex Super Long Name Chenery-Howes',
  image: {
    src: '/images/test-laptop.webp',
    alt: '',
    width: 500,
    height: 500,
  },
};

const exampleProfileSummary = {
  type: 'profile-summary',
  title: 'Our Wider Team',
  copy: 'Lorem ipsum dolor sit amet consectetur. Convallis arcu congue in in interdum. Nibh metus ultricies morbi venenatis.',
  avatars: [
    {
      src: '/images/test-avatar-1.webp',
      alt: '',
      width: 500,
      height: 500,
    },
    {
      src: '/images/test-avatar-2.webp',
      alt: '',
      width: 500,
      height: 500,
    },
    {
      src: '/images/test-avatar-3.webp',
      alt: '',
      width: 500,
      height: 500,
    },
    {
      src: '/images/test-avatar-4.webp',
      alt: '',
      width: 500,
      height: 500,
    },
    {
      src: '/images/test-avatar-5.webp',
      alt: '',
      width: 500,
      height: 500,
    },
  ],
};

const exampleProfiles: any = [
  exampleProfile,
  exampleProfile2,
  exampleProfile3,
  exampleProfile,
  exampleProfile,
  exampleProfile,
  exampleProfile,
  exampleProfileSummary,
];
---

<div class="wrapper">
  <CarouselProfile slides={exampleProfiles} />
</div>
