---
import CarouselPost from '@/components/Carousel/Post.astro'

const examplePost = {
  title: 'Web Design',
  headline: '10 Steps to a Reliable Website Marketing Strategy',
  color: 'blue',
  time: '3 Min Read',
  image: {
    src: '/images/test-laptop.jpeg',
    alt: '',
    width: 500,
    height: 300,
  },
}

const examplePosts: any = [
  examplePost,
  examplePost,
  examplePost,
  examplePost,
  examplePost,
  examplePost,
  examplePost,
  examplePost,
]
---

<section class="pb-100 overflow-hidden">
  <div class="wrapper">
    <CarouselPost title="Resources & insights" slides={examplePosts} />
  </div>
</section>
