---
import CarouselPost from '@/components/Carousel/Post.astro';

const examplePost = {
  tags: [{ title: 'PPC', color: 'yellow' }],
  headline: '10 Steps to a Reliable Website Marketing Strategy',
  time: '3 Min Read',
  image: {
    src: '/images/test-laptop.webp',
    alt: '',
    width: 500,
    height: 300,
  },
};

const examplePosts: any = [
  examplePost,
  examplePost,
  examplePost,
  examplePost,
  examplePost,
  examplePost,
  examplePost,
  examplePost,
];
---

<!-- Begin Block: CarouselPosts -->
<div class="wrapper">
  <CarouselPost heading="Resources & insights" slides={examplePosts} />
</div>
<!-- End Block: CarouselPosts -->
