<!-- Begin Block: Contact -->
<div class="wrapper grid gap-x-30 gap-y-80 grid-cols-8 lg:grid-cols-12">
  <div class="lg:order-2 col-span-full lg:col-start-6 lg:col-span-7">
    <div class="flex flex-col gap-60 lg:gap-80">
      {
        Astro.slots.content && (
          <div class=" flex flex-col justify-start items-start gap-40 lg:gap-60">
            <slot name="content" />
          </div>
        )
      }

      {
        Astro.slots.form && (
          <div>
            <slot name="form" />
          </div>
        )
      }
    </div>
  </div>

  {
    Astro.slots.aside && (
      <aside class="lg:order-1 flex flex-col justify-start items-start gap-15 col-span-full lg:col-start-1 lg:col-span-5 xl:col-span-4">
        <slot name="aside" />
      </aside>
    )
  }
</div>
<!-- End Block: Contact -->
