---
import type { HTMLAttributes } from 'astro/types';

interface Base {
  title?: string | null;
  platform: 'youtube';
  src: string;
}

type Props = HTMLAttributes<'div'> & Base;

const { title = null, platform, src, ...rest } = Astro.props as Props;
const classes = ['w-full', rest.class].filter(Boolean);
---

<!-- Begin Block: Embed -->
<div class:list={classes}>
  {
    platform === 'youtube' && (
      <iframe
        class="w-full aspect-video"
        width="100%"
        src={src}
        title={title}
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      />
    )
  }
</div>
<!-- End Block: Embed -->
