---
import CardProjectHero from "@/components/Card/ProjectHero.astro";
---

<section class="text-center text-white py-100">
  <div class="wrapper grid grid-cols-1 gap-24 md:gap-60">
    <CardProjectHero
      title="Faith Ibiza"
      headline="VIP Ibiza Concierge Services"
      description="A full redesign of the Faith Ibiza website from the ground up, featuring stunning hero images and videography, delightful animations and an intuitive party calendar."
      cta="Explore Project"
      color="yellow"
    >
      <img src="/images/test.png" alt="" />
    </CardProjectHero>

    <CardProjectHero
      title="Ballet with Isabella"
      headline="Elite Online Ballet Training"
      description="A bespoke WordPress build featuring a customer login area, a member live area and an on-demand online studio which houses over 100 classes, courses, plans and workshops for ballet students."
      cta="Explore Project"
      color="green"
    >
      <img src="/images/test.png" alt="" />
    </CardProjectHero>

    <CardProjectHero
      title="Shirakawa 1958"
      headline="The World’s Rarest Japanese Whisky"
      description="This bespoke WordPress and WooCommerce website build features elegant typography, a sumptuous colour palette and a super-slick checkout flow."
      cta="Explore Project"
      color="blue"
    >
      <img src="/images/test.png" alt="" />
    </CardProjectHero>
  </div>
</section>
