---
import Icon from '@/components/Elements/Icon.astro';
---

<!-- Begin Block: FruitMachine -->
<div data-js="fruit-machine" class="fruit-machine relative text-center">
  <canvas
    class="absolute top-0 left-0 z-50 size-full bg-transparent pointer-events-none"
  >
  </canvas>

  <div class="wrapper">
    <p class="text-18 sm:text-24 font-heading font-bold">
      Welcome to
      <Icon
        name="yellowball"
        width={117}
        height={22}
        class="inline-block w-[82px] sm:w-[116px] h-auto"
      />
    </p>

    <div
      class="fruit-machine__container relative z-1 w-full max-w-[1050px] mx-auto aspect-[6/2.44] overflow-hidden pointer-events-none select-none"
    >
      <ul
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-between gap-[2.5%] w-full aspect-[6/1.07]"
      >
        <li data-js-fruit-machine-strip>
          <img
            src="/images/fruit-strip.svg"
            class="fruit-machine__strip fruit-machine__strip-1 block w-full h-auto"
          />
        </li>
        <li data-js-fruit-machine-strip>
          <img
            src="/images/fruit-strip.svg"
            class="fruit-machine__strip fruit-machine__strip-2 block w-full h-auto"
          />
        </li>
        <li data-js-fruit-machine-strip>
          <img
            src="/images/fruit-strip.svg"
            class="fruit-machine__strip fruit-machine__strip-3 block w-full h-auto"
          />
        </li>
        <li data-js-fruit-machine-strip>
          <img
            src="/images/fruit-strip.svg"
            class="fruit-machine__strip fruit-machine__strip-4 block w-full h-auto"
          />
        </li>
        <li data-js-fruit-machine-strip>
          <img
            src="/images/fruit-strip.svg"
            class="fruit-machine__strip fruit-machine__strip-5 block w-full h-auto"
          />
        </li>
      </ul>
    </div>

    <h1 class="text-fluid-h3 font-heading">
      Why gamble with your next agency?
      <span
        class="fruit-machine__statement block opacity-0 transition-opacity duration-1000 ease-smooth"
      >
        Win every time with Yellowball.
      </span>
    </h1>
  </div>
</div>
<!-- End Block: FruitMachine -->

<style is:global>
  .fruit-machine {
    --fruit-strip-height: 100% / 34;
  }

  .fruit-machine__statement {
    .fruit-machine.spin-complete & {
      opacity: 1;
    }
  }

  .fruit-machine__container {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 28%;
      z-index: 1;
      pointer-events: none;
    }

    &::before {
      --fruit-gradient: linear-gradient(
        to bottom,
        theme('colors.navy') 0%,
        transparent 100%
      );

      top: 0;
      background-image: var(--fruit-gradient), var(--fruit-gradient),
        var(--fruit-gradient);
    }

    &::after {
      --fruit-gradient: linear-gradient(
        to top,
        theme('colors.navy') 0%,
        transparent 100%
      );

      bottom: 0;
      background-image: var(--fruit-gradient), var(--fruit-gradient),
        var(--fruit-gradient);
    }
  }

  .fruit-machine__strip {
    --fruit-strip-depth: -2;

    translate: 0 calc(var(--fruit-strip-height) * var(--fruit-strip-depth)) 0;
  }

  .fruit-machine__strip-1 {
    --fruit-strip-depth: -5;
  }

  .fruit-machine__strip-2 {
    --fruit-strip-depth: -1;
  }

  .fruit-machine__strip-3 {
    --fruit-strip-depth: -7;
  }

  .fruit-machine__strip-4 {
    --fruit-strip-depth: -3;
  }

  .fruit-machine__strip-5 {
    --fruit-strip-depth: -4;
  }
</style>
