---
import Icon from '@/components/Elements/Icon.astro';
import TextGradient from '@/components/Elements/TextGradient.astro';
import TextReveal from '@/components/Elements/TextReveal.astro';
---

<!-- Begin Block: FruitMachine -->
<div data-js="fruit-machine" class="fruit-machine relative text-center">
  <canvas
    class="absolute top-0 left-0 z-50 size-full bg-transparent pointer-events-none"
  >
  </canvas>

  <div
    class="wrapper flex flex-col items-center justify-start gap-40 md:gap-50"
  >
    <TextReveal
      onEnter
      tag="h1"
      class="font-heading text-fluid-h1 font-semibold"
    >
      <TextGradient>Why gamble</TextGradient> with your
      <br class="smMax:hidden" /> next web agency?
    </TextReveal>

    <button
      data-js-fruit-machine-scroll
      type="button"
      class="flex gap-10 items-center text-grey text-17 sm:text-21"
    >
      Scroll to spin
      <Icon name="arrow-s" width={17} height={17} />
    </button>

    <div
      data-js-fruit-machine-container
      class="fruit-machine__container relative z-1 w-full max-w-[1050px] mx-auto aspect-[6/2.44] overflow-hidden select-none"
    >
      <ul class="flex justify-between items-start gap-[2.5%] w-full">
        <li>
          <img
            src="/images/fruit-strip.png"
            class="fruit-machine__strip fruit-machine__strip-1 block w-full h-auto"
            style="--fruit-strip-depth: -4.45;"
          />
        </li>
        <li>
          <img
            src="/images/fruit-strip.png"
            class="fruit-machine__strip fruit-machine__strip-2 block w-full h-auto"
            style="--fruit-strip-depth: -0.45;"
          />
        </li>
        <li>
          <img
            src="/images/fruit-strip.png"
            class="fruit-machine__strip fruit-machine__strip-3 block w-full h-auto"
            style="--fruit-strip-depth: -6.45;"
          />
        </li>
        <li>
          <img
            src="/images/fruit-strip.png"
            class="fruit-machine__strip fruit-machine__strip-4 block w-full h-auto"
            style="--fruit-strip-depth: -2.45;"
          />
        </li>
        <li>
          <img
            src="/images/fruit-strip.png"
            class="fruit-machine__strip fruit-machine__strip-5 block w-full h-auto"
            style="--fruit-strip-depth: -3.45;"
          />
        </li>
      </ul>
    </div>

    <TextReveal
      onEnter
      tag="h2"
      class="font-heading text-fluid-h1 font-semibold"
    >
      Win every
      <br class="md:hidden" />
      time with
      <span class="block">
        <Icon
          name="yellowball"
          width={520}
          height={100}
          class="w-auto h-[1em]"
        />
      </span>
    </TextReveal>
  </div>
</div>
<!-- End Block: FruitMachine -->

<style is:global>
  .fruit-machine {
    background-image: linear-gradient(
      to bottom,
      theme('colors.transparent') 0%,
      theme('colors.navy') 10%,
      theme('colors.navy') 90%,
      theme('colors.transparent') 100%
    );

    &__container {
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 28%;
        z-index: 1;
        pointer-events: none;
      }

      &::before {
        --fruit-gradient: linear-gradient(
          to bottom,
          theme('colors.navy') 0%,
          transparent 100%
        );

        top: 0;
        background-image: var(--fruit-gradient), var(--fruit-gradient),
          var(--fruit-gradient);
      }

      &::after {
        --fruit-gradient: linear-gradient(
          to top,
          theme('colors.navy') 0%,
          transparent 100%
        );

        bottom: 0;
        background-image: var(--fruit-gradient), var(--fruit-gradient),
          var(--fruit-gradient);
      }
    }

    &__strip {
      --fruit-strip-height: calc(100% / 34);
      --fruit-strip-depth: -1.45;

      translate: 0 calc(var(--fruit-strip-height) * var(--fruit-strip-depth)) 0;
    }
  }
</style>
