---
import Icon from '@/components/Elements/Icon.astro';
---

<!-- Begin Block: FruitMachine -->
<div data-js="fruit-machine" class="fruit-machine relative text-center">
  <canvas
    class="absolute top-0 left-0 z-50 size-full bg-transparent pointer-events-none"
  >
  </canvas>

  <div class="wrapper">
    <p class="text-18 sm:text-24 font-heading font-bold">
      Welcome to
      <Icon
        name="yellowball"
        width={117}
        height={22}
        class="inline-block w-[82px] sm:w-[116px] h-auto"
      />
    </p>

    <div
      class="fruit-machine__container relative z-1 w-full max-w-[1050px] mx-auto aspect-[6/2.44] overflow-hidden pointer-events-none select-none"
    >
      <ul
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-between gap-[2.5%] w-full aspect-[6/1.07]"
      >
        <li data-js-fruit-machine-strip>
          <img
            src="/images/fruit-strip.svg"
            class="fruit-machine__strip fruit-machine__strip-1 block w-full h-auto"
          />
        </li>
        <li data-js-fruit-machine-strip>
          <img
            src="/images/fruit-strip.svg"
            class="fruit-machine__strip fruit-machine__strip-2 block w-full h-auto"
          />
        </li>
        <li data-js-fruit-machine-strip>
          <img
            src="/images/fruit-strip.svg"
            class="fruit-machine__strip fruit-machine__strip-3 block w-full h-auto"
          />
        </li>
        <li data-js-fruit-machine-strip>
          <img
            src="/images/fruit-strip.svg"
            class="fruit-machine__strip fruit-machine__strip-4 block w-full h-auto"
          />
        </li>
        <li data-js-fruit-machine-strip>
          <img
            src="/images/fruit-strip.svg"
            class="fruit-machine__strip fruit-machine__strip-5 block w-full h-auto"
          />
        </li>
      </ul>
    </div>

    <h1 class="text-fluid-h3 font-heading">
      Why gamble with your next agency?
      <span
        class="fruit-machine__statement block opacity-0 transition-opacity duration-1000"
      >
        Win every time with Yellowball.
      </span>
    </h1>
  </div>
</div>
<!-- End Block: FruitMachine -->

<style is:global>
  .fruit-machine {
    --stripHeight: 100% / 34;
    --stripSpeed: 2s;

    /* &.spin {
      .fruit-machine__strip {
        transform: translate3d(0, calc(var(--stripHeight) * -32), 0);
      }
    } */

    &.spin-complete {
      .fruit-machine__statement {
        opacity: 1;
      }
    }

    &__container {
      /* mask-image: linear-gradient(
        to bottom,
        transparent 5%,
        black 50%,
        transparent 95%
      ); */
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 28%;
        z-index: 1;
        pointer-events: none;
      }

      &::before {
        top: 0;
        background-image: linear-gradient(
            to bottom,
            theme('colors.navy') 0%,
            transparent 100%
          ),
          linear-gradient(to bottom, theme('colors.navy') 0%, transparent 100%),
          linear-gradient(to bottom, theme('colors.navy') 0%, transparent 100%);
      }

      &::after {
        bottom: 0;
        background-image: linear-gradient(
            to top,
            theme('colors.navy') 0%,
            transparent 100%
          ),
          linear-gradient(to top, theme('colors.navy') 0%, transparent 100%),
          linear-gradient(to top, theme('colors.navy') 0%, transparent 100%);
      }
    }

    /* @keyframes spin {
      0% {
        transform: translate3d(0, calc(var(--stripHeight) * -32), 0);
      }
      90% {
        transform: translate3d(0, calc(var(--strip-translate) + 2%), 0);
      }
      100% {
        transform: translate3d(0, var(--strip-translate), 0);
      }
    } */

    &__strip {
      --strip-depth: -2;

      transform: translate3d(
        0,
        calc(var(--stripHeight) * var(--strip-depth)),
        0
      );
      /* --strip-ease: linear; */
      /* transition: transform var(--stripSpeed) cubic-bezier(0.35, 0.06, 0, 1.1); */
      /* transition: transform var(--stripSpeed)
        cubic-bezier(0.519, 0.354, 0, 1.128); */
    }

    &__strip-1 {
      --strip-depth: -5;
    }

    &__strip-2 {
      --strip-depth: -1;
    }

    &__strip-3 {
      --strip-depth: -7;
    }

    &__strip-4 {
      --strip-depth: -3;
    }

    &__strip-5 {
      --strip-depth: -4;
    }

    /* &__strip-1 {
      --strip-translate: calc(var(--stripHeight) * -2);
      animation: spin var(--stripSpeed) var(--strip-ease) forwards;
    }

    &__strip-2 {
      --strip-translate: calc(var(--stripHeight) * -12);
      animation: spin var(--stripSpeed) var(--strip-ease) forwards;
    }

    &__strip-3 {
      --strip-translate: calc(var(--stripHeight) * -7);
      animation: spin var(--stripSpeed) var(--strip-ease) forwards;
    }

    &__strip-4 {
      --strip-translate: calc(var(--stripHeight) * -22);
      animation: spin var(--stripSpeed) var(--strip-ease) forwards;
    }

    &__strip-5 {
      --strip-translate: calc(var(--stripHeight) * -17);
      animation: spin var(--stripSpeed) var(--strip-ease) forwards;
    } */
  }
</style>
