---
import { Icon } from 'astro-icon/components';
---

<div data-js="block-google" class="wrapper grid grid-cols-12 gap-12 md:gap-30">
  <div class="col-span-2">
    <Icon name="google" class="block w-[138px] h-auto" />
  </div>

  <div class="col-span-8 flex flex-col gap-24">
    <p class="text-15 font-heading font-bold">Sponsored</p>

    <div class="flex gap-12">
      <div
        class="flex items-center justify-center aspect-square rounded-full bg-current overflow-hidden size-[34px] shrink-0"
      >
        <Icon name="shape-circle" class="block size-16 text-blue" />
      </div>

      <div class="flex flex-col">
        <h4 class="text-15">Yellowball PPC</h4>
        <p class="text-12 text-navy-lightest">
          https://www.weareyellowball.com
        </p>
      </div>
    </div>

    <h3 class="text-21 md:text-28 text-blue-google">
      Want to appear here too? Explore our paid search services
    </h3>
    <p class="text-15 md:text-18 text-navy-lightest">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio rem
      temporibus tenetur qui nobis, eius consequuntur fugiat dolorem, esse
      aliquid molestias? Vel quaerat ratione porro nostrum ad. Iusto, voluptatem
      fuga!
    </p>
  </div>
</div>
