---
import Icon from '@/components/Elements/Icon.astro';
import TextReveal from '@/components/Elements/TextReveal.astro';
---

<script>
  // import gsap from 'gsap';
  // import { ScrollTrigger } from 'gsap/dist/ScrollTrigger';

  // gsap.registerPlugin(ScrollTrigger);

  // const section = document.querySelector(
  //   '[data-js="heading-banner"]',
  // ) as HTMLElement;

  // if (section) {
  //   const shapes = section.querySelectorAll(
  //     '.shape',
  //   ) as NodeListOf<HTMLElement>;

  //   const tl = gsap.timeline({
  //     scrollTrigger: {
  //       markers: false,
  //       trigger: section,
  //       start: 'top center',
  //       end: 'center center',
  //       scrub: 1.5,
  //     },
  //   });

  //   shapes.forEach((shape, index) => {
  //     const x = [0, -40, 40];

  //     tl.from(
  //       shape,
  //       {
  //         opacity: 0,
  //         x: x[index] ?? 0,
  //         y: index === 0 ? -40 : 40,
  //         rotate: index % 2 ? -90 : 90,
  //       },
  //       0,
  //     );
  //   });
  // }
</script>

<!-- Begin Block: HeadingBanner -->
<div data-js="heading-banner" data-css="heading-banner">
  <div class="wrapper flex justify-center">
    <div class="flex flex-col gap-40">
      <div class="flex flex-col items-center lg:items-end lg:pr-30">
        <ul
          class="grid grid-cols-2 grid-rows-2 gap-10 justify-center items-center size-80 lg:-mb-30"
        >
          <li class="col-span-full">
            <Icon
              class="shape block mx-auto size-[37px] text-yellow"
              name="shape-triangle"
            />
          </li>
          <li>
            <Icon
              class="shape block mx-auto size-[32px] text-green"
              name="shape-square"
            />
          </li>
          <li>
            <Icon
              class="shape block mx-auto size-[32px] text-blue"
              name="shape-circle"
            />
          </li>
        </ul>
      </div>

      <TextReveal
        tag="h2"
        data-css-headline
        class="font-heading text-fluid-h2 font-semibold lgMax:text-center"
      >
        We specialise in three<br class="lgMax:hidden" />
        core areas to drive your<br class="lgMax:hidden" />
        business forward
      </TextReveal>
    </div>
  </div>
</div>
<!-- End Block: HeadingBanner -->

<style is:global>
  [data-css='heading-banner'] {
    [data-css-headline] {
      .mask {
        &:nth-child(2) {
          @media screen(lg) {
            padding-left: 2ch;
          }
        }

        &:nth-child(3) {
          @media screen(lg) {
            padding-left: 1ch;
          }
        }
      }
    }
  }
</style>
