---
import ShapePyramid from "@/components/Elements/ShapePyramid.astro";
import TextReveal from "@/components/Elements/TextReveal.astro";
---

<section class="py-100">
  <div class="wrapper flex justify-center">
    <div class="relative flex flex-col gap-40">
      <div class="flex justify-center md:absolute bottom-full left-[88%]">
        <ShapePyramid />
      </div>

      <TextReveal>
        <h2 class="font-heading text-fluid-h2 font-semibold mdMax:text-center">
          We specialise in three
          <span class="md:pl-[2ch]">core areas to drive your</span>
          <span class="md:pl-[1ch]">business forward</span>
        </h2>
      </TextReveal>
    </div>
  </div>
</section>
