---
import Icon from '@/components/Elements/Icon.astro';
import TextReveal from '@/components/Elements/TextReveal.astro';
---

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/dist/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const section = document.querySelector(
    '[data-js="heading-banner"]',
  ) as HTMLElement;

  if (section) {
    const shapes = section.querySelectorAll(
      '.shape',
    ) as NodeListOf<HTMLElement>;

    const tl = gsap.timeline({
      scrollTrigger: {
        markers: false,
        trigger: section,
        start: 'top center',
        end: 'center center',
        scrub: 1.5,
      },
    });

    shapes.forEach((shape, index) => {
      const x = [0, -40, 40];

      tl.from(
        shape,
        {
          opacity: 0,
          x: x[index] ?? 0,
          y: index === 0 ? -40 : 40,
          rotate: index % 2 ? -90 : 90,
        },
        0,
      );
    });
  }
</script>

<div data-js="heading-banner">
  <div class="wrapper flex justify-center">
    <div class="relative flex flex-col gap-40">
      <ul
        class="grid grid-cols-2 grid-rows-2 gap-10 justify-center items-center mx-auto md:absolute top-0 right-[5%] size-80 md:-translate-y-full"
      >
        <li class="col-span-full">
          <Icon
            class="shape block mx-auto size-[37px] text-yellow"
            name="shape-triangle"
          />
        </li>
        <li>
          <Icon
            class="shape block mx-auto size-[32px] text-green"
            name="shape-square"
          />
        </li>
        <li>
          <Icon
            class="shape block mx-auto size-[32px] text-blue"
            name="shape-circle"
          />
        </li>
      </ul>

      <TextReveal>
        <h2 class="font-heading text-fluid-h2 font-semibold mdMax:text-center">
          We specialise in three
          <span class="md:pl-[2ch]">core areas to drive your</span>
          <span class="md:pl-[1ch]">business forward</span>
        </h2>
      </TextReveal>
    </div>
  </div>
</div>
