---
import TextReveal from '@/components/Elements/TextReveal.astro';
---

<div data-js="hero" class="text-center">
  <div
    class="wrapper relative flex flex-col justify-start items-center gap-40 md:gap-60"
  >
    {Astro.slots.top && <slot name="top" />}

    {
      Astro.slots.headline && (
        <TextReveal>
          <slot name="headline" />
        </TextReveal>
      )
    }

    {Astro.slots.bottom && <slot name="bottom" />}
    {Astro.slots.extra && <slot name="extra" />}
  </div>
</div>
