---
import ShapeGradient from '@/components/Elements/ShapeGradient.astro';
import TextReveal from '@/components/Elements/TextReveal.astro';

interface Props {
  color?: ColorTypes;
  shape?: ShapeTypes;
}

const { color = 'blue', shape } = Astro.props as Props;
---

<div
  data-js="hero"
  class="wrapper text-center relative flex flex-col justify-start items-center gap-40 md:gap-60"
>
  {
    shape && (
      <ShapeGradient
        {shape}
        {color}
        class="absolute top-50 md:top-70 left-1/2 -translate-x-1/2 -z-1 size-[65vw] md:size-[56vw] max-w-[800px] max-h-[800px]"
      />
    )
  }

  {Astro.slots.top && <slot name="top" />}

  {
    Astro.slots.headline && (
      <TextReveal>
        <slot name="headline" />
      </TextReveal>
    )
  }

  {Astro.slots.bottom && <slot name="bottom" />}
  {Astro.slots.extra && <slot name="extra" />}
</div>
