---
import Icon from '@/components/Elements/Icon.astro';
import UILogo from '@/components/UI/Logo.astro';
import ShapeGradient from '@/components/Elements/ShapeGradient.astro';

interface Props {
  color?: ColorTypes;
  shape?: ShapeTypes;
  hasLogoAnimation?: boolean;
}

const {
  color = 'blue',
  shape,
  hasLogoAnimation = false,
} = Astro.props as Props;
---

<!-- Begin Block: Hero -->
<div
  data-js="hero"
  class:list={[
    'wrapper py-50 relative flex flex-col items-center justify-center gap-40 md:gap-60 text-center',
  ]}
>
  {
    shape && (
      <span
        class="absolute top-50 md:top-70 left-1/2 -translate-x-1/2 opacity-0 translate-y-[10%] scale-[1.1] -z-2"
        data-js-hero-icon
      >
        <ShapeGradient
          data-js-hero-icon-inner
          {shape}
          {color}
          class:list={[
            'block size-[65vw] md:size-[56vw] max-w-[800px] max-h-[800px]',
          ]}
        />
      </span>
    )
  }

  {
    hasLogoAnimation && (
      <>
        <div data-js-hero-logo-animated-container class="h-50">
          <div
            data-js-hero-logo-animated-box
            class="absolute top-50 left-0 right-0 flex items-center justify-center z-1"
          >
            <UILogo
              data-js-hero-logo-animated-svg
              noHover
              sizeMobile="50px"
              sizeDesktop="50px"
            />
          </div>
        </div>

        <Icon
          data-js-hero-logo-static
          class="hidden"
          name="yellowball"
          width="128"
          height="39"
        />
      </>
    )
  }

  <div
    data-js-hero-content
    class="flex flex-col items-center justify-start gap-40 md:gap-60 transform-style-3d"
  >
    {Astro.slots.top && <slot name="top" />}
    {Astro.slots.headline && <slot name="headline" />}
    {Astro.slots.bottom && <slot name="bottom" />}
    {Astro.slots.extra && <slot name="extra" />}
  </div>
</div>
<!-- End Block: Hero -->

<style is:global>
  html:not(.has-no-hero-animation) {
    [data-js='header'] {
      translate: 0 -100% 0;
    }

    [data-js='hero'] {
      height: calc(100vh - var(--header-height));
    }

    [data-js-layout-lines-shape],
    [data-js-hero-logo-animated-svg],
    [data-js-hero-content] {
      opacity: 0;
    }
  }
</style>
