<div
  class="wrapper relative flex flex-col justify-start items-center gap-40 md:gap-60 text-center"
>
  {Astro.slots.headline && <slot name="headline" />}
  {Astro.slots.description && <slot name="description" />}
</div>
