---
import Icon from "@/components/Elements/Icon.astro";
import User from "@/components/Elements/User.astro";
---

<section class="text-center text-white py-100">
  <div class="wrapper flex flex-col justify-start items-center gap-100">
    <Icon name="yellowball" />

    <h1 class="font-heading text-fluid-heading font-semibold text-balance">
      <span class="text-green">Websites</span> that get your business rolling
    </h1>

    <p class="font-normal text-21 text-grey text-balance">
      We’re a boutique, London-based web design agency, crafting stunning,
      bespoke websites that captivate and convert. Ready to get the ball
      rolling? Let’s chat!
    </p>

    <User title="PPC Team" class="bg-blue" />
    <User title="Design Team" class="bg-yellow" />
    <User title="SEO Team" class="bg-green" />
    <User title="Developers" class="bg-grey" />
  </div>
</section>
