---
import Icon from "@/components/Elements/Icon.astro";
import Chip from "@/components/Elements/Chip.astro";
import Link from "@/components/Elements/Link.astro";
import TextReveal from "@/components/Elements/TextReveal.astro";
---

<section class="text-center text-white py-100">
  <div
    class="wrapper flex flex-col justify-start items-center gap-40 md:gap-60"
  >
    <Icon name="yellowball" />

    <TextReveal>
      <h1 class="font-heading text-fluid-h1 font-semibold text-balance">
        <span class="text-green">Websites</span> that get your business rolling
      </h1>
    </TextReveal>

    <p class="font-normal text-17 md:text-21 text-grey text-balance">
      We're a boutique, London-based web design agency, crafting stunning,
      bespoke websites that captivate and convert. Ready to get the ball
      rolling? <Link href="/" class="text-yellow">Let's chat</Link>
    </p>

    <Chip title="PPC Team" class="bg-blue" />
    <Chip title="Design Team" class="bg-yellow" />
    <Chip title="SEO Team" class="bg-green" />
    <Chip title="Developers" class="bg-grey" />
  </div>
</section>
