---
import Icon from "@/components/Elements/Icon.astro";
import Chip from "@/components/Elements/Chip.astro";
import Link from "@/components/Elements/Link.astro";
import TextReveal from "@/components/Elements/TextReveal.astro";
---

<script>
  import { MouseSimulator } from "@/utils/mouseSimulator";
  import { getRandomBetween } from "@/utils/helpers";

  const cursors = [...document.querySelectorAll(".cursor")] as HTMLElement[];

  cursors.forEach((cursor) => {
    const parent = cursor.parentElement;

    if (!parent) return;

    const mouseSimulator = new MouseSimulator(parent, cursor);
    mouseSimulator.start();

    window.setTimeout(
      () => {
        parent.classList.remove("opacity-0");
      },
      getRandomBetween(1000, 2000)
    );
  });
</script>

<section class="text-center text-white py-100">
  <div
    class="wrapper relative flex flex-col justify-start items-center gap-40 md:gap-60"
  >
    <Icon name="yellowball" />

    <TextReveal>
      <h1 class="font-heading text-fluid-h1 font-semibold text-balance">
        <span class="text-green">Websites</span> that get your business rolling
      </h1>
    </TextReveal>

    <p class="font-normal text-17 md:text-21 text-grey text-balance">
      We're a boutique, London-based web design agency, crafting stunning,
      bespoke websites that captivate and convert. Ready to get the ball
      rolling? <Link href="/" class="text-yellow">Let's chat</Link>
    </p>

    <ul
      class="absolute inset-0 z-10 grid grid-cols-2 grid-rows-2 pointer-events-none"
    >
      <li class="relative opacity-0 transition-opacity duration-300">
        <Chip
          title="PPC Team"
          class="cursor bg-blue absolute top-0 left-0 z-0"
        />
      </li>

      <li class="relative opacity-0 transition-opacity duration-300">
        <Chip
          title="Design Team"
          class="cursor bg-yellow absolute top-0 left-0 z-0"
        />
      </li>

      <li class="relative opacity-0 transition-opacity duration-300">
        <Chip
          title="SEO Team"
          class="cursor bg-green absolute top-0 left-0 z-0"
        />
      </li>

      <li class="relative opacity-0 transition-opacity duration-300">
        <Chip
          title="Developers"
          class="cursor bg-grey absolute top-0 left-0 z-0"
        />
      </li>
    </ul>
  </div>
</section>
