---
import ShapeGradient from '@/components/Elements/ShapeGradient.astro';

interface Props {
  color?: ColorTypes;
  shape?: ShapeTypes;
}

const { color = 'blue', shape } = Astro.props as Props;
---

<!-- Begin Block: Hero -->
<div
  data-js="hero"
  class="wrapper md:gap-60 py-50 relative flex flex-col items-center justify-start gap-40 text-center"
>
  {
    shape && (
      <span
        class="absolute top-50 md:top-70 left-1/2 -translate-x-1/2 opacity-0 translate-y-[10%] scale-[1.1] -z-2"
        data-js-hero-icon
      >
        <ShapeGradient
          data-js-hero-icon-inner
          {shape}
          {color}
          class:list={[
            'block size-[65vw] md:size-[56vw] max-w-[800px] max-h-[800px]',
          ]}
        />
      </span>
    )
  }

  {Astro.slots.top && <slot name="top" />}
  {Astro.slots.headline && <slot name="headline" />}
  {Astro.slots.bottom && <slot name="bottom" />}
  {Astro.slots.extra && <slot name="extra" />}
</div>
<!-- End Block: Hero -->
