---
import ShapeGradient from '@/components/Elements/ShapeGradient.astro';

interface Props {
  color?: ColorTypes;
  shape?: ShapeTypes;
}

const { color = 'blue', shape } = Astro.props as Props;
---

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/dist/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const heros = [
    ...document.querySelectorAll('[data-js=hero]'),
  ] as HTMLElement[];

  heros.forEach(hero => {
    const html = document.documentElement as HTMLElement;
    const icon = hero.querySelector('[data-js-hero-icon]') as HTMLElement;

    if (icon) {
      gsap.to(icon, {
        opacity: 1,
        y: '0%',
        scale: 1,
        duration: 1,
        delay: 0.5,
        ease: 'power4.out',
      });

      const tl = gsap.timeline({
        scrollTrigger: {
          markers: false,
          trigger: html,
          endTrigger: hero,
          start: 'top top',
          end: 'bottom top',
          scrub: 1.5,
        },
      });

      tl.to(icon, {
        opacity: 0,
        y: '-30%',
        scale: 0.75,
        ease: 'linear',
      });
    }
  });
</script>

<div
  data-js="hero"
  class="wrapper text-center relative flex flex-col justify-start items-center gap-40 md:gap-60"
>
  {
    shape && (
      <ShapeGradient
        data-js-hero-icon
        {shape}
        {color}
        class:list={[
          'absolute top-50 md:top-70 left-1/2 -translate-x-1/2 -z-2',
          'size-[65vw] md:size-[56vw] max-w-[800px] max-h-[800px]',
          'opacity-0 translate-y-[10%] scale-[1.1]',
        ]}
      />
    )
  }

  {Astro.slots.top && <slot name="top" />}
  {Astro.slots.headline && <slot name="headline" />}
  {Astro.slots.bottom && <slot name="bottom" />}
  {Astro.slots.extra && <slot name="extra" />}
</div>
