---
import Ticker from '@/components/Elements/Ticker.astro';

const images = [
  '/images/test-logo-1.png',
  '/images/test-logo-2.png',
  '/images/test-logo-3.png',
  '/images/test-logo-4.png',
  '/images/test-logo-5.png',
  '/images/test-logo-6.png',
  '/images/test-logo-7.png',
];
---

<div class="wrapper">
  <div
    class:list={[
      'relative overflow-hidden',
      'before:w-[calc(var(--outer-gutter)*4)] after:w-[calc(var(--outer-gutter)*4)]',
      'before:absolute before:top-0 before:bottom-0 before:left-0 before:z-1 before:pointer-events-none',
      'before:bg-gradient-to-r before:from-navy before:to-transparent',
      'after:absolute after:top-0 after:bottom-0 after:right-0 after:z-1 after:pointer-events-none',
      'after:bg-gradient-to-l after:from-navy after:to-transparent',
    ]}
  >
    <Ticker class="logo-ticker__el">
      {
        images?.map(image => (
          <img
            class="w-[118px] aspect-[118/64]"
            src={image}
            alt=""
            width={118}
            height={64}
          />
        ))
      }
    </Ticker>
  </div>
</div>

<style>
  .logo-ticker__el {
    --gap: 60px;

    @screen md {
      --gap: 100px;
    }
  }
</style>
