---
import Ticker from '@/components/Elements/Ticker.astro';

const images = [
  '/images/test-logo-1.png',
  '/images/test-logo-2.png',
  '/images/test-logo-3.png',
  '/images/test-logo-4.png',
  '/images/test-logo-5.png',
  '/images/test-logo-6.png',
  '/images/test-logo-7.png',
];
---

<!-- Begin Block: LogoTicker -->
<div class="wrapper">
  <div class="logo-ticker relative overflow-hidden isolate">
    <Ticker spacingClasses="gap-60 md:gap-100 px-30 md:px-50">
      {
        images.map(image => (
          <img
            class="w-[118px] aspect-[118/64]"
            src={image}
            width={118}
            height={64}
            alt=""
          />
        ))
      }
    </Ticker>
  </div>
</div>

<style>
  .logo-ticker {
    mask-image: linear-gradient(
      to left,
      transparent 0%,
      white 20%,
      white 80%,
      transparent 100%
    );
  }
</style>
<!-- End Block: LogoTicker -->
