---
import type { HTMLAttributes } from 'astro/types';

interface Base {
  caption?: string;
}

type Props = HTMLAttributes<'div'> & Base;

const { caption = '', ...rest } = Astro.props as Props;
const classes = ['w-full grid gap-28 grid-cols-1', rest.class].filter(Boolean);
---

<!-- Begin Block: Media -->
<figure class:list={classes}>
  {
    Astro.slots.media && (
      <div class="w-full rounded-30 lg:rounded-40 overflow-hidden">
        <slot name="media" />
      </div>
    )
  }

  {
    caption && (
      <figcaption class="text-12 lg:text-13 font-heading font-semibold">
        {caption}
      </figcaption>
    )
  }
</figure>
<!-- End Block: Media -->
