---
import type { HTMLAttributes } from 'astro/types';
import { hasSlot } from '@/utils/helpers';

interface Base {
  caption?: string;
}

type Props = HTMLAttributes<'div'> & Base;

const { caption = '', ...rest } = Astro.props as Props;
const classes = ['w-full grid gap-28 grid-cols-1', rest.class].filter(Boolean);
const hasSlotMedia = await hasSlot(Astro.slots, 'media');
---

<!-- Begin Block: Media -->
<figure class:list={classes}>
  <div
    class:list={[
      'relative w-full rounded-30 lg:rounded-40',
      'before:absolute before:inset-0 before:outline before:outline-solid before:outline-current before:opacity-20 before:z-1 before:rounded-[inherit]',
    ]}
  >
    <div class="overflow-hidden rounded-[inherit]">
      {hasSlotMedia && <slot name="media" />}
    </div>
  </div>

  {
    caption && (
      <figcaption class="text-12 lg:text-13 font-heading font-semibold">
        {caption}
      </figcaption>
    )
  }
</figure>
<!-- End Block: Media -->
