---
import { JSDOM } from 'jsdom';

const parseSlotContent = (htmlString: string) => {
  const dom = new JSDOM(htmlString);
  return Array.from(dom.window.document.body.children);
};

const html = await Astro.slots.render('default');
const elements = parseSlotContent(html);
---

<!-- Begin Block: Overlaps -->
<ul
  data-js="overlaps"
  class="wrapper grid grid-cols-1 gap-24 md:gap-60 perspective-1000"
>
  {
    elements &&
      elements.map(item => (
        <li class="sticky top-100">
          <Fragment set:html={item.outerHTML} />
        </li>
      ))
  }
</ul>
<!-- End Block: Overlaps -->
