---
import { JSDOM } from 'jsdom';

const parseSlotContent = (htmlString: string) => {
  const dom = new JSDOM(htmlString);
  return Array.from(dom.window.document.body.children);
};

const html = await Astro.slots.render('default');
const elements = parseSlotContent(html);
---

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/dist/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const sections = document.querySelectorAll(
    '[data-js="overlaps"]',
  ) as NodeListOf<HTMLElement>;

  sections.forEach(section => {
    const items = section.querySelectorAll('li') as NodeListOf<HTMLElement>;

    items.forEach(item => {
      gsap
        .timeline({
          scrollTrigger: {
            markers: false,
            trigger: item,
            scrub: 1.5,
            start: 'top top',
          },
        })
        .fromTo(
          item,
          {
            rotateX: 0,
            scale: 1,
            filter: 'brightness(100%)',
          },
          {
            rotateX: -10,
            scale: 0.85,
            filter: 'brightness(50%)',
          },
          '<',
        );
    });
  });
</script>

<ul
  data-js="overlaps"
  class="wrapper grid grid-cols-1 gap-24 md:gap-60 perspective-1000"
>
  {
    elements &&
      elements.map(item => (
        <li class="sticky top-100">
          <Fragment set:html={item.outerHTML} />
        </li>
      ))
  }
</ul>
