---
import ShapeGradient from '@/components/Elements/ShapeGradient.astro';

interface Props {
  color?: ColorTypes;
  shape?: ShapeTypes;
  reverse?: boolean;
  class?: string;
}

const {
  color = 'green',
  shape = 'square',
  reverse = false,
  class: className,
} = Astro.props as Props;
---

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/dist/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const shapes = document.querySelectorAll(
    '[data-js="block-split-rich-text"]',
  ) as NodeListOf<HTMLElement>;

  shapes.forEach(shape => {
    const icon = shape.querySelector(
      '[data-js-block-split-rich-text-icon]',
    ) as HTMLElement;

    if (icon) {
      const tl = gsap.timeline({
        scrollTrigger: {
          markers: false,
          trigger: icon,
          start: 'top center',
          end: 'top 25%',
          scrub: 1.5,
        },
      });

      tl.from(icon, {
        opacity: 0,
        y: '10%',
        scale: 0.95,
        ease: 'linear',
      });
    }
  });
</script>

<!-- Begin Block: SplitRichText -->
<div data-js="block-split-rich-text" class:list={['wrapper', className]}>
  <ShapeGradient
    data-js-block-split-rich-text-icon
    {shape}
    {color}
    class:list={[
      'relative -mb-[65%] md:-mb-[30%] -z-2 size-[80vw] md:size-[41.667vw] max-w-[600px] max-h-[600px]',
      reverse ? '-translate-x-1/2' : 'left-full -translate-x-1/2',
    ]}
  />

  <div
    class:list={[
      'grid grid-cols-1 lg:grid-cols-12 lg:grid-flow-col-dense items-center',
      'gap-x-12 md:gap-x-30 gap-y-80 md:gap-y-100',
    ]}
  >
    <div
      class:list={[
        reverse ? 'lg:col-start-8 lg:col-span-5' : 'lg:col-span-5',
        'bg-grey w-full h-full rounded-20 md:rounded-40 aspect-square lg:aspect-auto [&_img]:size-full [&_img]:object-cover overflow-hidden',
      ]}
    >
      <slot name="media" />
    </div>

    <div
      class:list={[
        reverse ? 'lg:col-span-6 -order-1' : 'lg:col-start-7 lg:col-span-6',
      ]}
    >
      <slot name="richtext" />
    </div>
  </div>

  <!-- End Block: SplitRichText -->
</div>
