---
import RichText from '@/components/Elements/RichText.astro';
import UITickerLogo from '@/components/UI/TickerLogo.astro';
import CardFigure from '@/components/Card/Figure.astro';
---

<!-- Begin Block: Stats -->
<div class="wrapper flex flex-col gap-60 md:gap-120">
  <div
    class="grid grid-cols-8 md:grid-cols-12 gap-x-12 gap-y-40 md:gap-x-30 md:gap-y-60"
  >
    {
      Astro.slots.headline && (
        <div class="col-span-full md:col-span-10 md:col-start-2">
          <slot name="headline" />
        </div>
      )
    }

    {
      Astro.slots.headline && (
        <div class="col-span-full md:col-span-8 md:col-start-4">
          <RichText>
            <slot name="description" />
          </RichText>
        </div>
      )
    }
  </div>

  <UITickerLogo />

  <ul class="grid grid-cols-1 lg:grid-cols-3 gap-24 md:gap-30">
    <li>
      <CardFigure
        size="small"
        figure={100}
        unit="+"
        headline="Active Clients"
        description="We're trusted partners of brands across the UK, providing tailored, ongoing support that ensures their digital success."
        color="green"
        shape="square"
      />
    </li>

    <li>
      <CardFigure
        size="small"
        figure={150}
        unit="+"
        headline="Websites Delivered"
        description="We've launched websites across every imaginable industry, helping B2B and B2C brands achieve their online goals with impactful, results-driven designs."
        color="yellow"
        shape="triangle"
      />
    </li>

    <li>
      <CardFigure
        size="small"
        figure={84}
        unit="%"
        headline="Client Rentention"
        description="84% of our clients stay with us for three years or more, because when you build trust and deliver real results, why go anywhere else?"
        color="blue"
        shape="circle"
      />
    </li>
  </ul>
</div>
<!-- End Block: Stats -->
