---
import TextReveal from '@/components/Elements/TextReveal.astro';
---

<!-- Begin Block: Values -->
<div class="wrapper">
  <div class="flex flex-col gap-100">
    <TextReveal tag="h3" class="font-heading text-fluid-h2 font-semibold">
      Our values
      <span class="!block pl-[1ch]">keep us rolling</span>
    </TextReveal>

    <div class="grid grid-cols-8 md:grid-cols-12 gap-x-12 md:gap-x-30">
      <div class="col-start-2 col-span-6 flex flex-col gap-y-20 md:gap-y-40">
        <h4 class="font-heading text-fluid-h3 font-semibold">Drive Forward</h4>
        <p class="ml-20 md:ml-50 text-15 md:text-18 text-grey">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, amet
          sunt alias quas ab illum error numquam animi cum. Impedit eveniet
          architecto animi dolore quos dolorem. Velit necessitatibus sapiente
          voluptates.
        </p>
      </div>
    </div>

    <div class="grid grid-cols-8 md:grid-cols-12 gap-x-12 md:gap-x-30">
      <div
        class="col-span-full md:col-start-8 md:col-span-5 flex flex-col gap-y-20 md:gap-y-40"
      >
        <h4 class="font-heading text-fluid-h3 font-semibold">
          Perfect the Details
        </h4>
        <p class="ml-20 md:-ml-50 text-15 md:text-18 text-grey">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, amet
          sunt alias quas ab illum error numquam animi cum. Impedit eveniet
          architecto animi dolore quos dolorem. Velit necessitatibus sapiente
          voluptates.
        </p>
      </div>
    </div>

    <div class="grid grid-cols-8 md:grid-cols-12 gap-x-12 md:gap-x-30">
      <div class="col-start-3 col-span-6 flex flex-col gap-y-20 md:gap-y-40">
        <h4 class="font-heading text-fluid-h3 font-semibold">Think Bold</h4>
        <p class="-ml-20 md:-ml-50 text-15 md:text-18 text-grey">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, amet
          sunt alias quas ab illum error numquam animi cum. Impedit eveniet
          architecto animi dolore quos dolorem. Velit necessitatibus sapiente
          voluptates.
        </p>
      </div>
    </div>

    <div class="grid grid-cols-8 md:grid-cols-12 gap-x-12 md:gap-x-30">
      <div
        class="col-span-full md:col-start-9 md:col-span-4 flex flex-col gap-y-20 md:gap-y-40"
      >
        <h4 class="mdMax:ml-20 font-heading text-fluid-h3 font-semibold">
          Build Trust
        </h4>
        <p class="md:-ml-50 text-15 md:text-18 text-grey">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, amet
          sunt alias quas ab illum error numquam animi cum. Impedit eveniet
          architecto animi dolore quos dolorem. Velit necessitatibus sapiente
          voluptates.
        </p>
      </div>
    </div>

    <div class="grid grid-cols-8 md:grid-cols-12 gap-x-12 md:gap-x-30">
      <div
        class="col-start-2 col-span-7 md:col-start-4 md:col-span-6 flex flex-col gap-y-20 md:gap-y-40"
      >
        <h4 class="font-heading text-fluid-h3 font-semibold max-w-[12ch]">
          Own the Outcome
        </h4>
        <p class="-ml-20 md:ml-50 text-15 md:text-18 text-grey">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, amet
          sunt alias quas ab illum error numquam animi cum. Impedit eveniet
          architecto animi dolore quos dolorem. Velit necessitatibus sapiente
          voluptates.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Block: Values -->
