---
import TextReveal from '@/components/Elements/TextReveal.astro';
---

<!-- Begin Block: Values -->
<div class="wrapper">
  <TextReveal tag="h3" class="font-heading text-fluid-h2 font-semibold">
    Our values
    <span class="!block pl-[1ch]">keep us rolling</span>
  </TextReveal>
</div>
<!-- End Block: Values -->
