---
interface Props {
  headline?: string;
}

const { headline = '' } = Astro.props as Props;
---

<div class="flex flex-col justify-start gap-20">
  {
    headline && (
      <p class="font-heading text-18 lg:text-22 text-balance">{headline}</p>
    )
  }

  {
    Astro.slots.default && (
      <div>
        <slot />
      </div>
    )
  }

  {
    Astro.slots.bottom && (
      <div>
        <slot name="bottom" />
      </div>
    )
  }
</div>
