---
import TickerCTA from '@/components/UI/TickerCTA.astro';

interface Props {
  text: string;
}

const { text } = Astro.props as Props;
---

<section class="block w-full pt-100 pb-50">
  <div class="wrapper-full">
    <div
      class="bg-yellow text-navy py-[1.9em] md:py-[1.15em] rounded-[0.8em] font-heading text-fluid-h1 font-semibold contain-paint"
    >
      <TickerCTA text={text} theme="light" />
    </div>
  </div>
</section>
