---
import Icon from "@/components/Elements/Icon.astro";
---

<footer class="app-footer pt-100 overflow-hidden">
  <div class="wrapper">Footer</div>

  <div class="wrapper-full -mb-[5%]">
    <Icon class="size-full text-white/5" name="yellowball" />
  </div>
</footer>
