---
import { Icon } from 'astro-icon/components';
import Ticker from '@/components/Elements/Ticker.astro';

const copy = ['Let’s work together'];
const multipleCopy: string[] = [...copy, ...copy, ...copy];
---

<section class="block w-full pt-100 pb-50">
  <div class="wrapper-full">
    <div
      class="bg-yellow text-navy py-[1.9em] md:py-[1.15em] rounded-[0.8em] font-heading text-fluid-h1 font-semibold contain-paint"
    >
      <Ticker class="relative -top-[0.1em]">
        {
          multipleCopy.map(text => (
            <p class="inline-flex gap-[var(--gap)] items-center">
              {text}

              <span class="bg-navy text-white shrink-0 size-[1em] flex items-center justify-center rounded-[0.3em]">
                <Icon name="arrow-ne" class="block size-[0.2em]" />
              </span>
            </p>
          ))
        }
      </Ticker>
    </div>
  </div>
</section>
