---

---

<div>
  <svg
    class="header-logo__svg"
    viewBox="0 0 117 22"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="header-logo__letter"
      d="M14.7084 4.2373H11.4538L7.91196 14.2459L4.03593 4.2373H0.703125L6.38795 17.7187C6.29812 17.9222 4.60362 21.881 4.60362 21.881H7.70421L14.7071 4.2373H14.7084Z"
      fill="currentColor"></path>
    <path
      class="header-logo__letter"
      d="M24.2616 10.0344C24.2078 9.53988 24.0966 9.07558 23.9237 8.64148C23.752 8.20677 23.5204 7.83304 23.2258 7.51908C22.9343 7.20211 22.5842 6.95215 22.1778 6.76438C21.7751 6.57842 21.3144 6.48484 20.7968 6.48484C19.8313 6.48484 19.0351 6.81268 18.4069 7.46716C17.7775 8.12285 17.3937 8.97838 17.2562 10.0344H24.2604H24.2616ZM21.1592 18.0245C20.1766 18.0245 19.26 17.8549 18.4081 17.5138C17.5551 17.1732 16.8138 16.6975 16.1844 16.0834C15.5562 15.4712 15.0606 14.7346 14.6989 13.8755C14.3371 13.0169 14.1562 12.0672 14.1562 11.0287V10.978C14.1562 10.0072 14.32 9.09853 14.6463 8.24541C14.9733 7.39411 15.4346 6.64906 16.031 6.0121C16.6238 5.37332 17.3265 4.87159 18.1356 4.5045C18.9465 4.13923 19.8417 3.95508 20.8243 3.95508C21.9096 3.95508 22.8616 4.15311 23.6793 4.54314C24.4969 4.93438 25.1795 5.46267 25.7215 6.1262C26.2641 6.79034 26.6729 7.56014 26.9491 8.43741C27.2241 9.31286 27.3616 10.2366 27.3616 11.2081C27.3616 11.3421 27.3567 11.4834 27.3494 11.6283C27.339 11.7732 27.3262 11.9205 27.309 12.0751H17.2825C17.4555 13.1812 17.8985 14.0276 18.6141 14.6163C19.3284 15.2026 20.1937 15.496 21.2099 15.496C21.9872 15.496 22.6581 15.3601 23.2258 15.089C23.7953 14.8161 24.3539 14.4165 24.9069 13.8888L26.742 15.496C26.0863 16.2634 25.3065 16.8756 24.4015 17.335C23.4978 17.7963 22.4162 18.0245 21.1586 18.0245"
      fill="currentColor"></path>
    <path
      class="header-logo__letter"
      d="M31.9879 0H28.8359V17.7186H31.9879V0Z"
      fill="currentColor"></path>
    <path
      class="header-logo__letter"
      d="M37.5191 0H34.3672V17.7186H37.5191V0Z"
      fill="currentColor"></path>
    <path
      class="header-logo__letter header-logo__letter--o"
      d="M46.2564 17.4903C46.8871 17.4903 47.4572 17.375 47.9613 17.1462C48.4667 16.9149 48.9 16.6058 49.2605 16.214C49.6192 15.8227 49.8923 15.3669 50.0812 14.8483C50.2694 14.3284 50.3653 13.7808 50.3653 13.2018V13.1505C50.3653 12.5546 50.2614 11.9919 50.0561 11.466C49.8514 10.9377 49.5636 10.4788 49.1951 10.0864C48.8278 9.69394 48.3909 9.38482 47.8862 9.15297C47.3808 8.92354 46.8205 8.80883 46.2039 8.80883C45.5873 8.80883 45.0263 8.92354 44.5216 9.15297C44.0175 9.38482 43.5842 9.69093 43.2255 10.0719C42.8662 10.4565 42.5918 10.9111 42.4036 11.4394C42.2154 11.9665 42.1213 12.5202 42.1213 13.098V13.1505C42.1213 13.7464 42.2246 14.3043 42.4293 14.8217C42.6346 15.3421 42.9212 15.8016 43.2897 16.2007C43.6576 16.6016 44.0938 16.9155 44.6004 17.1462C45.1058 17.375 45.657 17.4903 46.2577 17.4903M46.2039 20.171C45.1712 20.171 44.2099 19.9887 43.3227 19.6222C42.4366 19.2551 41.6685 18.7582 41.0244 18.1285C40.3773 17.4994 39.8738 16.758 39.5114 15.9073C39.1503 15.0553 38.9688 14.1539 38.9688 13.2012V13.1499C38.9688 12.1796 39.1533 11.2679 39.5255 10.4172C39.8939 9.56595 40.4023 8.82211 41.0489 8.18212C41.6954 7.54515 42.4617 7.0392 43.3489 6.66427C44.2356 6.28933 45.2042 6.10156 46.2577 6.10156C47.3112 6.10156 48.276 6.2845 49.1633 6.65159C50.0506 7.01626 50.8175 7.51859 51.4634 8.15797C52.1099 8.79494 52.6141 9.53636 52.9752 10.378C53.3376 11.2215 53.5179 12.1277 53.5179 13.0973V13.1499C53.5179 14.1032 53.3333 15.0058 52.9624 15.8565C52.5921 16.7078 52.0831 17.4529 51.439 18.0905C50.7925 18.7292 50.0201 19.2358 49.1248 19.6089C48.2296 19.9832 47.2568 20.1704 46.2045 20.1704"
      fill="currentColor"></path>
    <path
      class="header-logo__letter"
      d="M52.5391 4.23761H55.7442L58.4842 13.4812L61.5078 4.1875H64.1691L67.2177 13.4812L70.0097 4.23761H73.136L68.6653 17.8204H65.8746L62.8259 8.60402L59.7498 17.8204H56.9584L52.5391 4.23761Z"
      fill="currentColor"></path>
    <path
      class="header-logo__letter"
      d="M80.8361 15.3176C81.3708 15.3176 81.8743 15.2174 82.3485 15.0115C82.8233 14.8092 83.2358 14.5236 83.5896 14.1565C83.9416 13.7907 84.2227 13.3397 84.4286 12.8041C84.6339 12.2674 84.7384 11.6684 84.7384 11.0037V10.9518C84.7384 10.3064 84.6339 9.71527 84.4286 9.17792C84.2227 8.64178 83.9416 8.18715 83.5896 7.81221C83.2358 7.43909 82.8233 7.14928 82.3485 6.94401C81.8743 6.74114 81.3714 6.6379 80.8361 6.6379C80.3008 6.6379 79.7942 6.74114 79.3127 6.94401C78.8306 7.14928 78.4077 7.44211 78.0459 7.8255C77.6836 8.20707 77.3951 8.66533 77.18 9.1912C76.9643 9.71829 76.8574 10.307 76.8574 10.9518V11.0037C76.8574 11.6509 76.9643 12.242 77.18 12.7788C77.3951 13.3149 77.6836 13.7719 78.0459 14.1457C78.4077 14.52 78.8306 14.8098 79.3127 15.0121C79.7942 15.218 80.302 15.3182 80.8361 15.3182M81.5486 18.0001C80.4322 18.0001 79.5052 17.7616 78.7652 17.2846C78.0258 16.8095 77.4147 16.254 76.935 15.6261V17.7193H73.7812V0.00195312H76.935L76.9075 6.48454C77.4074 5.76908 78.027 5.17076 78.7682 4.68412C79.5089 4.19991 80.4316 3.95599 81.5327 3.95599C82.343 3.95599 83.1258 4.10934 83.8866 4.41726C84.6437 4.72276 85.3196 5.17498 85.9135 5.76908C86.5075 6.3662 86.9854 7.09736 87.3477 7.96496C87.7095 8.83317 87.8897 9.82999 87.8897 10.9518V11.0037C87.8897 12.1267 87.7131 13.1229 87.3605 13.9917C87.0092 14.8593 86.5356 15.5917 85.9435 16.1876C85.3501 16.7841 84.6718 17.2333 83.9055 17.5418C83.1411 17.8473 82.3552 18.0007 81.5468 18.0007"
      fill="currentColor"></path>
    <path
      class="header-logo__letter"
      d="M97.739 12.0755C97.3424 11.9222 96.8737 11.7942 96.3311 11.6934C95.7884 11.5901 95.2146 11.5388 94.6115 11.5388C93.6295 11.5388 92.8632 11.726 92.3114 12.1003C91.7584 12.4746 91.4852 12.986 91.4852 13.6326V13.6834C91.4852 14.3294 91.7383 14.8239 92.2467 15.1638C92.7551 15.5055 93.3802 15.6746 94.1214 15.6746C94.6384 15.6746 95.115 15.6063 95.5544 15.4705C95.9938 15.3334 96.3775 15.142 96.7051 14.8957C97.032 14.65 97.2856 14.3517 97.4652 14.0028C97.6492 13.6526 97.7384 13.2668 97.7384 12.8399V12.0743L97.739 12.0755ZM97.6608 17.7183V16.058C97.197 16.6044 96.6024 17.0626 95.8783 17.4369C95.1541 17.8113 94.276 17.9997 93.2421 17.9997C92.587 17.9997 91.9674 17.9103 91.3814 17.7298C90.7947 17.5517 90.2839 17.289 89.8445 16.9401C89.4064 16.5911 89.0507 16.1558 88.7849 15.6377C88.5173 15.1185 88.3828 14.5184 88.3828 13.8379V13.7872C88.3828 13.0373 88.5222 12.3877 88.7971 11.8334C89.0733 11.281 89.4577 10.8197 89.9484 10.4538C90.4385 10.0886 91.0239 9.81687 91.7052 9.63755C92.3847 9.45944 93.1217 9.36948 93.9137 9.36948C94.7056 9.36948 95.4438 9.4214 96.0194 9.52284C96.5963 9.62487 97.1524 9.76132 97.6871 9.93098V9.67559C97.6871 8.73916 97.3992 8.0249 96.8218 7.52982C96.2437 7.03775 95.4132 6.79081 94.3267 6.79081C93.5525 6.79081 92.8632 6.86809 92.2607 7.01964C91.657 7.1736 91.0459 7.37767 90.4251 7.63306L89.5726 5.15583C90.3303 4.81591 91.1045 4.54301 91.8989 4.33833C92.6903 4.13547 93.6479 4.03223 94.7661 4.03223C96.7992 4.03223 98.3079 4.52973 99.2893 5.52654C100.271 6.52154 100.762 7.92227 100.762 9.7251V17.7177H97.6602L97.6608 17.7183Z"
      fill="currentColor"></path>
    <path
      class="header-logo__letter"
      d="M105.511 0H102.359V17.718H105.511V0Z"
      fill="currentColor"></path>
    <path
      class="header-logo__letter"
      d="M111.036 0H107.883V17.718H111.036V0Z"
      fill="currentColor"></path>
    <path
      class="header-logo__ball"
      d="M114.897 17.7185C114.658 17.7185 114.435 17.6762 114.229 17.5905C114.022 17.5054 113.846 17.3907 113.695 17.2445C113.546 17.0984 113.428 16.9264 113.345 16.7289C113.261 16.5303 113.219 16.322 113.219 16.101V16.0883C113.219 15.8631 113.262 15.6518 113.348 15.4538C113.434 15.2576 113.552 15.0831 113.702 14.9364C113.851 14.7878 114.03 14.6707 114.236 14.5832C114.442 14.4962 114.667 14.4521 114.911 14.4521C115.155 14.4521 115.379 14.495 115.585 14.5789C115.791 14.6647 115.969 14.7806 116.118 14.9291C116.269 15.077 116.386 15.2497 116.469 15.4453C116.553 15.6404 116.596 15.8511 116.596 16.0769V16.0877C116.596 16.3093 116.552 16.5188 116.466 16.7163C116.381 16.9143 116.263 17.0876 116.113 17.2355C115.962 17.3828 115.783 17.5011 115.575 17.5887C115.368 17.6756 115.142 17.7185 114.897 17.7185Z"
      fill="#EAFF01"></path>
  </svg>
</div>

<style>
  .header-logo__svg {
    width: 50vw;
    height: auto;
  }

  .header-logo__letter {
    --delay: 0.025s;

    .header-logo__svg:hover & {
      animation: wave 0.5s theme("transitionTimingFunction.outBack");

      &:nth-child(2) {
        animation-delay: calc(1 * var(--delay));
      }

      &:nth-child(3) {
        animation-delay: calc(2 * var(--delay));
      }

      &:nth-child(4) {
        animation-delay: calc(3 * var(--delay));
      }

      &:nth-child(5) {
        animation-delay: calc(4 * var(--delay));
      }

      &:nth-child(6) {
        animation-delay: calc(5 * var(--delay));
      }

      &:nth-child(7) {
        animation-delay: calc(6 * var(--delay));
      }

      &:nth-child(8) {
        animation-delay: calc(7 * var(--delay));
      }

      &:nth-child(9) {
        animation-delay: calc(8 * var(--delay));
      }

      &:nth-child(10) {
        animation-delay: calc(9 * var(--delay));
      }
    }
  }

  .header-logo__ball {
    fill: #eaff01;
  }

  @keyframes wave {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.2vw);
    }
  }
</style>
