<script>
  const logos = document.querySelectorAll(
    '[data-js=header-logo]',
  ) as NodeListOf<HTMLElement>;

  logos.forEach(logo => {
    if (logo) {
      let timeout: NodeJS.Timeout;

      function handleMouseEnter() {
        clearTimeout(timeout);
        logo.classList.add('has-hover');
      }

      function handleMouseLeave() {
        timeout = setTimeout(() => {
          logo.classList.remove('has-hover');
        }, 500);
      }

      logo.addEventListener('mouseenter', handleMouseEnter);
      logo.addEventListener('mouseleave', handleMouseLeave);
    }
  });
</script>

<div data-js="header-logo" class="header-logo text-white">
  <svg
    class="header-logo__svg"
    viewBox="0 0 165 50"
    xmlns="http://www.w3.org/2000/svg"
  >
    <title>Yellowball Logo</title>
    <path
      class="header-logo__letter header-logo__letter--y"
      d="M34.3481 17.6438H30.7814L26.9 28.612L22.6524 17.6438H19L25.2299 32.4178C25.1314 32.6408 23.2745 36.9792 23.2745 36.9792H26.6724L34.3467 17.6438H34.3481Z"
      fill="currentColor"
    >
    </path>

    <g class="header-logo__group">
      <g class="header-logo__word-start">
        <path
          class="header-logo__letter header-logo__letter--e"
          d="M44.8215 23.9964C44.7626 23.4545 44.6407 22.9457 44.4512 22.47C44.2631 21.9936 44.0092 21.584 43.6864 21.24C43.367 20.8926 42.9833 20.6187 42.538 20.4129C42.0967 20.2091 41.5917 20.1065 41.0245 20.1065C39.9665 20.1065 39.0939 20.4658 38.4055 21.1831C37.7157 21.9016 37.2952 22.8392 37.1445 23.9964H44.8202H44.8215ZM41.4216 32.7527C40.3448 32.7527 39.3403 32.5668 38.4068 32.1929C37.472 31.8198 36.6596 31.2984 35.9699 30.6255C35.2815 29.9546 34.7384 29.1473 34.3419 28.2058C33.9455 27.265 33.7473 26.2242 33.7473 25.0861V25.0306C33.7473 23.9666 33.9267 22.9708 34.2843 22.0359C34.6426 21.103 35.1482 20.2865 35.8018 19.5885C36.4514 18.8884 37.2215 18.3386 38.1081 17.9363C38.9968 17.536 39.9778 17.3342 41.0547 17.3342C42.244 17.3342 43.2874 17.5513 44.1834 17.9787C45.0794 18.4074 45.8274 18.9864 46.4214 19.7135C47.016 20.4413 47.464 21.2849 47.7667 22.2463C48.0681 23.2057 48.2188 24.218 48.2188 25.2826C48.2188 25.4295 48.2134 25.5844 48.2053 25.7432C48.194 25.9019 48.1799 26.0634 48.1612 26.2328H37.1733C37.3628 27.4449 37.8483 28.3726 38.6325 29.0177C39.4153 29.6601 40.3636 29.9817 41.4772 29.9817C42.329 29.9817 43.0643 29.8328 43.6864 29.5357C44.3106 29.2367 44.9227 28.7987 45.5287 28.2204L47.5397 29.9817C46.8212 30.8226 45.9667 31.4936 44.9749 31.9971C43.9845 32.5026 42.7992 32.7527 41.421 32.7527"
          fill="currentColor"
        >
        </path>
        <path
          class="header-logo__letter header-logo__letter--l1"
          d="M53.2844 13H49.8303V32.4175H53.2844V13Z"
          fill="currentColor"
        >
        </path>
        <path
          class="header-logo__letter header-logo__letter--l2"
          d="M59.346 13H55.8918V32.4175H59.346V13Z"
          fill="currentColor"
        >
        </path>
      </g>

      <path
        class="header-logo__letter header-logo__letter--o"
        d="M68.9167 32.1672C69.6078 32.1672 70.2326 32.0409 70.7851 31.7901C71.3389 31.5367 71.8137 31.1979 72.2088 30.7685C72.6019 30.3398 72.9012 29.8402 73.1081 29.2719C73.3144 28.7022 73.4195 28.1021 73.4195 27.4675V27.4113C73.4195 26.7583 73.3057 26.1416 73.0807 25.5653C72.8564 24.9863 72.5409 24.4835 72.1371 24.0534C71.7346 23.6233 71.2558 23.2846 70.7027 23.0305C70.1489 22.7791 69.5348 22.6534 68.8591 22.6534C68.1834 22.6534 67.5687 22.7791 67.0155 23.0305C66.463 23.2846 65.9882 23.62 65.5952 24.0375C65.2014 24.459 64.9007 24.9572 64.6945 25.5362C64.4882 26.1138 64.3851 26.7205 64.3851 27.3537V27.4113C64.3851 28.0643 64.4983 28.6757 64.7226 29.2428C64.9476 29.8131 65.2617 30.3166 65.6655 30.754C66.0686 31.1933 66.5468 31.5374 67.1019 31.7901C67.6557 32.0409 68.2598 32.1672 68.918 32.1672M68.8591 35.105C67.7274 35.105 66.674 34.9052 65.7016 34.5035C64.7306 34.1013 63.8888 33.5567 63.183 32.8666C62.4738 32.1772 61.9221 31.3647 61.5249 30.4324C61.1292 29.4988 60.9303 28.511 60.9303 27.4669V27.4106C60.9303 26.3474 61.1325 25.3483 61.5403 24.416C61.9441 23.4831 62.5013 22.6679 63.2098 21.9666C63.9183 21.2685 64.7581 20.7141 65.7304 20.3032C66.7021 19.8923 67.7635 19.6865 68.918 19.6865C70.0725 19.6865 71.1299 19.887 72.1023 20.2893C73.0746 20.6889 73.9151 21.2394 74.6229 21.9401C75.3314 22.6381 75.8839 23.4507 76.2797 24.373C76.6768 25.2973 76.8743 26.2905 76.8743 27.3531V27.4106C76.8743 28.4554 76.6721 29.4446 76.2656 30.3768C75.8598 31.3097 75.302 32.1262 74.5961 32.8249C73.8876 33.525 73.0412 34.0801 72.0601 34.489C71.0791 34.8992 70.0129 35.1043 68.8598 35.1043"
        fill="currentColor"
      >
      </path>

      <g class="header-logo__word-end">
        <path
          class="header-logo__letter header-logo__letter--w"
          d="M75.8061 17.644H79.3185L82.3213 27.7739L85.6348 17.5891H88.5512L91.8922 27.7739L94.9519 17.644H98.3779L93.4786 32.5292H90.4203L87.0793 22.4291L83.7082 32.5292H80.6492L75.8061 17.644Z"
          fill="currentColor"
        >
        </path>
        <path
          class="header-logo__letter header-logo__letter--b"
          d="M106.812 29.7863C107.398 29.7863 107.95 29.6765 108.469 29.4508C108.99 29.2292 109.442 28.9162 109.83 28.5139C110.215 28.113 110.523 27.6187 110.749 27.0318C110.974 26.4436 111.089 25.7873 111.089 25.0588V25.0019C111.089 24.2946 110.974 23.6468 110.749 23.058C110.523 22.4704 110.215 21.9722 109.83 21.5613C109.442 21.1524 108.99 20.8348 108.469 20.6099C107.95 20.3875 107.399 20.2744 106.812 20.2744C106.225 20.2744 105.67 20.3875 105.143 20.6099C104.614 20.8348 104.151 21.1557 103.754 21.5759C103.357 21.994 103.041 22.4962 102.805 23.0725C102.569 23.6501 102.452 24.2953 102.452 25.0019V25.0588C102.452 25.7681 102.569 26.4158 102.805 27.0041C103.041 27.5916 103.357 28.0925 103.754 28.502C104.151 28.9123 104.614 29.2299 105.143 29.4515C105.67 29.6771 106.227 29.787 106.812 29.787M107.593 32.726C106.369 32.726 105.354 32.4647 104.543 31.942C103.732 31.4212 103.063 30.8125 102.537 30.1244V32.4184H99.0808V13.0022H102.537L102.507 20.1063C103.055 19.3223 103.734 18.6666 104.546 18.1333C105.358 17.6027 106.369 17.3354 107.575 17.3354C108.463 17.3354 109.321 17.5034 110.155 17.8409C110.985 18.1756 111.725 18.6712 112.376 19.3223C113.027 19.9767 113.551 20.7779 113.948 21.7287C114.344 22.6802 114.542 23.7726 114.542 25.0019V25.0588C114.542 26.2895 114.348 27.3812 113.962 28.3333C113.577 29.2841 113.058 30.0867 112.409 30.7397C111.759 31.3935 111.016 31.8857 110.176 32.2238C109.338 32.5586 108.477 32.7267 107.591 32.7267"
          fill="currentColor"
        >
        </path>
        <path
          class="header-logo__letter header-logo__letter--a"
          d="M125.34 26.2332C124.905 26.0652 124.392 25.9249 123.797 25.8144C123.202 25.7013 122.573 25.645 121.913 25.645C120.836 25.645 119.997 25.8501 119.392 26.2603C118.786 26.6706 118.487 27.231 118.487 27.9396V27.9952C118.487 28.7032 118.764 29.2451 119.321 29.6176C119.878 29.9921 120.563 30.1773 121.375 30.1773C121.942 30.1773 122.464 30.1026 122.946 29.9537C123.427 29.8035 123.848 29.5937 124.207 29.3238C124.565 29.0545 124.843 28.7276 125.04 28.3452C125.241 27.9615 125.339 27.5387 125.339 27.0709V26.2319L125.34 26.2332ZM125.254 32.417V30.5975C124.746 31.1963 124.094 31.6985 123.301 32.1087C122.507 32.5189 121.545 32.7253 120.412 32.7253C119.694 32.7253 119.015 32.6274 118.373 32.4296C117.73 32.2344 117.17 31.9466 116.688 31.5641C116.208 31.1817 115.819 30.7047 115.527 30.137C115.234 29.5679 115.087 28.9103 115.087 28.1646V28.109C115.087 27.2872 115.239 26.5753 115.541 25.9679C115.843 25.3625 116.265 24.857 116.802 24.456C117.339 24.0557 117.981 23.758 118.728 23.5615C119.472 23.3663 120.28 23.2677 121.148 23.2677C122.016 23.2677 122.825 23.3246 123.455 23.4358C124.088 23.5476 124.697 23.6971 125.283 23.883V23.6032C125.283 22.5769 124.968 21.7942 124.335 21.2516C123.701 20.7124 122.791 20.4418 121.6 20.4418C120.752 20.4418 119.997 20.5265 119.336 20.6926C118.675 20.8613 118.005 21.0849 117.325 21.3648L116.39 18.65C117.221 18.2775 118.069 17.9785 118.94 17.7542C119.807 17.5318 120.856 17.4187 122.082 17.4187C124.31 17.4187 125.963 17.9639 127.039 19.0563C128.115 20.1467 128.653 21.6817 128.653 23.6574V32.4164H125.253L125.254 32.417Z"
          fill="currentColor"
        >
        </path>
        <path
          class="header-logo__letter header-logo__letter--l3"
          d="M133.857 13H130.403V32.4168H133.857V13Z"
          fill="currentColor"
        >
        </path>
        <path
          class="header-logo__letter header-logo__letter--l4"
          d="M139.912 13H136.456V32.4168H139.912V13Z"
          fill="currentColor"
        >
        </path>

        <path
          class="header-logo__ball"
          d="M144.139 32.4174C143.877 32.4174 143.632 32.3711 143.407 32.2772C143.18 32.1839 142.987 32.0581 142.822 31.898C142.658 31.7379 142.529 31.5493 142.437 31.333C142.346 31.1153 142.299 30.887 142.299 30.6449V30.631C142.299 30.3842 142.347 30.1526 142.441 29.9356C142.535 29.7205 142.664 29.5293 142.829 29.3685C142.993 29.2058 143.189 29.0774 143.414 28.9815C143.639 28.8862 143.887 28.8379 144.154 28.8379C144.421 28.8379 144.667 28.8849 144.892 28.9768C145.118 29.0708 145.313 29.1978 145.477 29.3606C145.642 29.5227 145.77 29.7119 145.861 29.9263C145.954 30.14 146 30.3709 146 30.6184V30.6303C146 30.8731 145.953 31.1027 145.858 31.3191C145.765 31.5361 145.635 31.726 145.472 31.8881C145.306 32.0495 145.11 32.1792 144.882 32.2752C144.655 32.3704 144.407 32.4174 144.139 32.4174Z"
          fill="#EAFF01"
        >
        </path>
      </g>
    </g>
  </svg>
</div>

<style>
  .header-logo {
    --initial-scale: 1.368;
    --icon-size: 42px;
    --start-width: var(--icon-size);
    --end-width: 165px;

    @media screen(md) {
      --icon-size: 50px;
    }

    border-radius: theme('borderRadius.12');
    background-color: theme('colors.navy');
    width: var(--start-width);
    overflow: hidden;

    @media screen(lg) {
      &.has-hover {
        animation: header-grow-leave 0.5s
          theme('transitionTimingFunction.outExpo') both;
      }

      &:hover {
        animation: header-grow-enter 0.5s
          theme('transitionTimingFunction.smooth') both;
      }

      /* Prevent the hover animation flicker */
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: var(--end-width);
        height: 100%;
        z-index: 1;
        pointer-events: none;
      }

      &:hover::after {
        pointer-events: auto;
      }
    }

    @media not (hover: hover) {
      animation: none;
    }
  }

  @keyframes header-grow-enter {
    from {
      width: var(--start-width);
    }

    to {
      width: var(--end-width);
    }
  }

  @keyframes header-grow-leave {
    from {
      width: var(--end-width);
    }

    to {
      width: var(--start-width);
    }
  }

  .header-logo__svg {
    width: 139px;
    height: var(--icon-size);

    @media screen(md) {
      width: 165px;
      height: var(--icon-size);
    }
  }

  .header-logo__letter--y {
    scale: var(--initial-scale);
    translate: 0 -20% 0;
    transform-origin: 19% 14%;

    @media screen(lg) {
      transition: all 0.5s theme('transitionTimingFunction.outBack');

      .header-logo:hover & {
        scale: 1;
        translate: 0 0 0;
      }
    }
  }

  .header-logo__letter:not(.header-logo__letter--y, .header-logo__letter--o) {
    --delay: 0.025s;

    opacity: 0;

    @media screen(lg) {
      .has-hover & {
        animation: header-wave-leave 0.2s
          theme('transitionTimingFunction.smooth') both;
      }

      .header-logo:hover & {
        animation: header-wave-enter 0.5s
          theme('transitionTimingFunction.smooth') both;

        .header-logo__letter--e {
          animation-delay: calc(1 * var(--delay));
        }

        &.header-logo__letter--l1 {
          animation-delay: calc(2 * var(--delay));
        }

        &.header-logo__letter--l2 {
          animation-delay: calc(3 * var(--delay));
        }

        &.header-logo__letter--w {
          animation-delay: calc(4 * var(--delay));
        }

        &.header-logo__letter--b {
          animation-delay: calc(5 * var(--delay));
        }

        &.header-logo__letter--a {
          animation-delay: calc(6 * var(--delay));
        }

        &.header-logo__letter--l3 {
          animation-delay: calc(7 * var(--delay));
        }

        &.header-logo__letter--l4 {
          animation-delay: calc(8 * var(--delay));
        }
      }
    }
  }

  @keyframes header-wave-enter {
    0% {
      opacity: 0;
      transform: translateY(0);
    }

    50% {
      opacity: 1;
      transform: translateY(-10%);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes header-wave-leave {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .header-logo__letter--o {
    opacity: 0;

    @media screen(lg) {
      translate: 0 20% 0;
      animation: header-bump-leave 0.2s
        theme('transitionTimingFunction.outBack') both;

      .header-logo:hover & {
        animation: header-bump-enter 0.2s
          theme('transitionTimingFunction.outBack') 0.7s both;
      }
    }
  }

  @keyframes header-bump-enter {
    0% {
      opacity: 0;
      translate: 0 20% 0;
    }

    100% {
      opacity: 1;
      translate: 0 0% 0;
    }
  }

  @keyframes header-bump-leave {
    0% {
      opacity: 1;
      translate: 0 0 0;
    }

    100% {
      opacity: 0;
      translate: 0 0 0;
    }
  }

  .header-logo__word-start {
    @media screen(lg) {
      translate: 3% 0 0;
      animation: header-nudge-right-leave 0.2s
        theme('transitionTimingFunction.smooth') both;

      .header-logo:hover & {
        animation: header-nudge-right-enter 0.15s
          theme('transitionTimingFunction.smooth') 0.7s both;
      }
    }
  }

  @keyframes header-nudge-right-enter {
    0% {
      translate: 3% 0 0;
    }

    100% {
      translate: 0% 0 0;
    }
  }

  @keyframes header-nudge-right-leave {
    0% {
      translate: 0% 0 0;
    }

    100% {
      translate: 0% 0 0;
    }
  }

  .header-logo__word-end {
    @media screen(lg) {
      translate: -3% 0 0;

      animation: header-nudge-left-leave 0.2s
        theme('transitionTimingFunction.smooth') both;

      .header-logo:hover & {
        animation: header-nudge-left-enter 0.15s
          theme('transitionTimingFunction.smooth') 0.7s both;
      }
    }
  }

  @keyframes header-nudge-left-enter {
    0% {
      translate: -3% 0 0;
    }

    100% {
      translate: 0% 0 0;
    }
  }

  @keyframes header-nudge-left-leave {
    0% {
      translate: 0% 0 0;
    }

    100% {
      translate: 0% 0 0;
    }
  }

  .header-logo__ball {
    --ball-ease: cubic-bezier(0.54, 1.16, 0.44, 1);
    --ball-start-position: -62% 0 0;

    scale: var(--initial-scale);
    translate: var(--ball-start-position);
    transform-origin: 100% 65%;

    @media screen(lg) {
      .has-hover & {
        animation: header-roll-leave 0.5s
          theme('transitionTimingFunction.outExpo') both;
      }

      .header-logo:hover & {
        animation: header-roll-enter 0.7s var(--ball-ease) both;
      }
    }
  }

  @keyframes header-roll-enter {
    0% {
      scale: var(--initial-scale);
      translate: var(--ball-start-position);
    }

    100% {
      translate: 0 0 0;
      scale: 1;
    }
  }

  @keyframes header-roll-leave {
    0% {
      translate: 0 0 0;
      scale: 1;
    }

    100% {
      scale: var(--initial-scale);
      translate: var(--ball-start-position);
    }
  }
</style>
