---
import AppHeaderButton from '@/components/App/HeaderButton.astro';

interface Props {
  class?: string;
  items: {
    text: string;
    href: string;
  }[];
}

const { class: className, items } = Astro.props as Props;
---

<script>
  import gsap from 'gsap';

  const navs = [
    ...document.querySelectorAll('[data-js=header-nav]'),
  ] as HTMLElement[];

  navs.forEach(nav => {
    const navList = nav.querySelector('[data-js-header-nav-list]');
    const navItems = nav.querySelectorAll('[data-js-header-nav-item]');
    const pill = nav.querySelector('[data-js-header-nav-pill]');

    console.log('navItems', navItems);
    console.log('pill', pill);

    let pillActive = false;
    const duration = 0.3;
    const ease = 'back.out(0.8)';

    const updatePill = (target: any) => {
      const { offsetWidth, offsetLeft } = target.firstElementChild;

      if (pillActive) {
        gsap.to(pill, {
          opacity: 1,
          width: offsetWidth,
          left: offsetLeft,
          duration,
          ease,
        });
      } else {
        gsap.set(pill, {
          width: offsetWidth,
          left: offsetLeft,
        });

        gsap.to(pill, {
          opacity: 1,
          duration,
          ease,
          onStart: () => {
            pillActive = true;
          },
        });
      }
    };

    const hidePill = () => {
      gsap.to(pill, {
        opacity: 0,
        duration,
        ease,
      });
    };

    navList?.addEventListener('mouseleave', () => (pillActive = false));

    navItems?.forEach(item => {
      item.addEventListener('mouseenter', e => updatePill(e.target));
      item.addEventListener('mouseleave', hidePill);
    });
  });
</script>

<div
  data-js="header-nav"
  class:list={['relative flex items-center h-full', className]}
>
  <ul data-js-header-nav-list class="flex items-center justify-start">
    {
      items?.map((item: any) => (
        <li>
          <a data-js-header-nav-item class="block h-full px-2" href={item.href}>
            <AppHeaderButton text={item.text} />
          </a>
        </li>
      ))
    }
  </ul>

  <span
    data-js-header-nav-pill
    class="header-nav__pill block bg-yellow rounded-12 h-full absolute top-0 left-0 -z-1 opacity-0"
  >
  </span>
</div>
