---
import AppHeaderLogo from "@/components/App/HeaderLogo.astro";
import AppHeaderLink from "@/components/App/HeaderLink.astro";

const classNav =
  "flex gap-4 bg-offblack/10 backdrop-blur-20 rounded-16 border border-white/10 p-4";
---

<header class="sticky top-0 z-50 flex justify-between p-20">
  <nav class={classNav}>
    <AppHeaderLogo />

    <ul class="flex items-center justify-start gap-4">
      <li>
        <a href="/">
          <AppHeaderLink text="Services" />
        </a>
      </li>
      <li>
        <a href="/">
          <AppHeaderLink text="Our Work" />
        </a>
      </li>
      <li>
        <a href="/">
          <AppHeaderLink text="Agency" />
        </a>
      </li>
    </ul>
  </nav>

  <nav class={classNav}>
    <ul class="flex items-center justify-start gap-4">
      <li>
        <a href="/">
          <AppHeaderLink text="Guides" />
        </a>
      </li>
      <li>
        <a href="/">
          <AppHeaderLink text="Contact" />
        </a>
      </li>
      <li>
        <a href="/">
          <AppHeaderLink text="Work with us" type="navy" />
        </a>
      </li>
    </ul>
  </nav>
</header>
