---
const classLink =
  "block text-15 text-white text-center font-heading font-bold px-24 py-15 rounded-12";
---

<header class="fixed top-15 left-15 right-15 z-50 flex justify-between">
  <nav
    class="w-auto bg-[rgba(131,131,131,0.1)] backdrop-blur-2xl rounded-16 border border-[rgba(255,255,255,0.1)] p-4"
  >
    <ul class="w-auto flex items-center justify-start">
      <li>
        <a href="/" class:list={[classLink]}>Services</a>
      </li>
      <li>
        <a href="/" class:list={[classLink]}>Our Work</a>
      </li>
      <li>
        <a href="/" class:list={[classLink]}>Agency</a>
      </li>
    </ul>
  </nav>

  <nav
    class="w-auto bg-[rgba(131,131,131,0.1)] backdrop-blur-2xl rounded-16 border border-[rgba(255,255,255,0.1)] p-4"
  >
    <ul class="w-auto flex items-center justify-start">
      <li>
        <a href="/" class:list={[classLink]}>Guides</a>
      </li>
      <li>
        <a href="/" class:list={[classLink]}>Contact</a>
      </li>
      <li>
        <a href="/" class:list={[classLink, "bg-navy"]}>Work with us</a>
      </li>
    </ul>
  </nav>
</header>
