---

---

<div class="header-logo">
  <svg
    class="header-logo__svg"
    width="163"
    height="50"
    viewBox="0 0 163 50"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="header-logo__letter header-logo__letter--y"
      d="M28.6775 17.0349H24.8019L20.5843 28.9275L15.9687 17.0349H12L18.7695 33.0541C18.6625 33.2959 16.6447 38 16.6447 38H20.3369L28.676 17.0349H28.6775Z"
      fill="currentColor"></path>

    <g class="header-logo__group">
      <g class="header-logo__word-start">
        <path
          class="header-logo__letter header-logo__letter--e"
          d="M40.0608 23.9234C39.9968 23.3358 39.8644 22.7841 39.6584 22.2683C39.454 21.7518 39.1781 21.3077 38.8274 20.9346C38.4803 20.558 38.0634 20.261 37.5795 20.0378C37.0999 19.8169 36.5513 19.7057 35.9349 19.7057C34.7852 19.7057 33.8371 20.0952 33.089 20.8729C32.3395 21.652 31.8825 22.6686 31.7188 23.9234H40.0594H40.0608ZM36.3664 33.4177C35.1964 33.4177 34.1048 33.2161 33.0905 32.8107C32.0746 32.4061 31.192 31.8408 30.4425 31.1112C29.6944 30.3837 29.1043 29.5085 28.6735 28.4876C28.2427 27.4674 28.0273 26.3389 28.0273 25.105V25.0447C28.0273 23.8911 28.2224 22.8114 28.6109 21.7977C29.0002 20.7861 29.5496 19.9008 30.2598 19.1439C30.9657 18.3849 31.8025 17.7887 32.7659 17.3526C33.7316 16.9185 34.7976 16.6997 35.9677 16.6997C37.26 16.6997 38.3937 16.935 39.3674 17.3985C40.341 17.8634 41.1538 18.4911 41.7992 19.2795C42.4454 20.0687 42.9322 20.9834 43.2611 22.0258C43.5886 23.0661 43.7523 24.1637 43.7523 25.318C43.7523 25.4773 43.7465 25.6452 43.7377 25.8174C43.7253 25.9895 43.7101 26.1646 43.6897 26.3482H31.7501C31.956 27.6626 32.4836 28.6684 33.3357 29.3679C34.1864 30.0645 35.2167 30.4131 36.4268 30.4131C37.3524 30.4131 38.1514 30.2517 38.8274 29.9296C39.5056 29.6053 40.1707 29.1304 40.8292 28.5034L43.0144 30.4131C42.2336 31.325 41.3051 32.0524 40.2275 32.5984C39.1512 33.1465 37.8633 33.4177 36.3657 33.4177"
          fill="currentColor"></path>
        <path
          class="header-logo__letter header-logo__letter--l1"
          d="M49.2572 12H45.5039V33.054H49.2572V12Z"
          fill="currentColor"></path>
        <path
          class="header-logo__letter header-logo__letter--l2"
          d="M55.8393 12H52.0859V33.054H55.8393V12Z"
          fill="currentColor"></path>
      </g>

      <path
        class="header-logo__letter header-logo__letter--o"
        d="M66.2407 32.7831C66.9917 32.7831 67.6706 32.6461 68.2709 32.3742C68.8727 32.0994 69.3886 31.7321 69.8179 31.2665C70.2451 30.8016 70.5703 30.26 70.7952 29.6437C71.0193 29.026 71.1335 28.3753 71.1335 27.6873V27.6263C71.1335 26.9182 71.0099 26.2496 70.7654 25.6247C70.5216 24.997 70.1788 24.4518 69.7401 23.9854C69.3027 23.5191 68.7824 23.1518 68.1814 22.8763C67.5796 22.6037 66.9124 22.4674 66.1781 22.4674C65.4439 22.4674 64.7759 22.6037 64.1748 22.8763C63.5745 23.1518 63.0586 23.5155 62.6315 23.9682C62.2036 24.4252 61.8769 24.9654 61.6528 25.5932C61.4286 26.2195 61.3166 26.8773 61.3166 27.5639V27.6263C61.3166 28.3344 61.4395 28.9973 61.6833 29.6121C61.9278 30.2306 62.2691 30.7765 62.7079 31.2507C63.1459 31.7271 63.6655 32.1001 64.2687 32.3742C64.8705 32.6461 65.5269 32.7831 66.2422 32.7831M66.1781 35.9684C64.9484 35.9684 63.8037 35.7518 62.7471 35.3163C61.692 34.8801 60.7774 34.2897 60.0104 33.5414C59.2398 32.7939 58.6402 31.9129 58.2087 30.9021C57.7786 29.8898 57.5625 28.8187 57.5625 27.6866V27.6256C57.5625 26.4727 57.7823 25.3894 58.2254 24.3786C58.6642 23.367 59.2696 22.4832 60.0395 21.7227C60.8094 20.9658 61.7219 20.3646 62.7784 19.9191C63.8343 19.4736 64.9877 19.2505 66.2422 19.2505C67.4967 19.2505 68.6456 19.4679 69.7022 19.9041C70.7588 20.3374 71.672 20.9343 72.4412 21.694C73.211 22.4509 73.8114 23.3319 74.2414 24.332C74.6729 25.3342 74.8876 26.411 74.8876 27.5632V27.6256C74.8876 28.7584 74.6678 29.831 74.2261 30.8418C73.7852 31.8533 73.179 32.7386 72.4121 33.4962C71.6422 34.2553 70.7224 34.8572 69.6564 35.3005C68.5903 35.7453 67.4319 35.9677 66.1788 35.9677"
        fill="currentColor"></path>

      <g class="header-logo__word-end">
        <path
          class="header-logo__letter header-logo__letter--w"
          d="M73.7265 17.0344H77.5431L80.806 28.018L84.4065 16.9749H87.5755L91.2059 28.018L94.5306 17.0344H98.2533L92.9297 33.1741H89.6064L85.9761 22.2228L82.313 33.1741H78.989L73.7265 17.0344Z"
          fill="currentColor"></path>
        <path
          class="header-logo__letter header-logo__letter--b"
          d="M107.417 30.2009C108.053 30.2009 108.653 30.0818 109.218 29.8372C109.783 29.5968 110.274 29.2575 110.695 28.8213C111.115 28.3866 111.449 27.8507 111.695 27.2143C111.939 26.5765 112.063 25.8648 112.063 25.075V25.0133C112.063 24.2464 111.939 23.544 111.695 22.9055C111.449 22.2684 111.115 21.7282 110.695 21.2827C110.274 20.8393 109.783 20.495 109.218 20.2511C108.653 20.01 108.054 19.8873 107.417 19.8873C106.779 19.8873 106.176 20.01 105.602 20.2511C105.028 20.495 104.525 20.8429 104.094 21.2985C103.663 21.7519 103.319 22.2964 103.063 22.9213C102.806 23.5476 102.679 24.2471 102.679 25.0133V25.075C102.679 25.844 102.806 26.5464 103.063 27.1842C103.319 27.8212 103.663 28.3643 104.094 28.8084C104.525 29.2532 105.028 29.5976 105.602 29.8379C106.176 30.0825 106.781 30.2016 107.417 30.2016M108.265 33.3884C106.936 33.3884 105.832 33.105 104.951 32.5383C104.07 31.9736 103.342 31.3136 102.771 30.5675V33.0548H99.0156V12.0022H102.771L102.738 19.7051C103.334 18.855 104.071 18.144 104.954 17.5658C105.836 16.9904 106.935 16.7006 108.246 16.7006C109.211 16.7006 110.143 16.8828 111.049 17.2487C111.951 17.6117 112.755 18.149 113.463 18.855C114.17 19.5645 114.739 20.4333 115.171 21.4642C115.601 22.4959 115.816 23.6803 115.816 25.0133V25.075C115.816 26.4094 115.606 27.5931 115.186 28.6255C114.767 29.6564 114.204 30.5266 113.498 31.2347C112.792 31.9435 111.984 32.4773 111.072 32.8439C110.161 33.2069 109.226 33.3891 108.263 33.3891"
          fill="currentColor"></path>
        <path
          class="header-logo__letter header-logo__letter--a"
          d="M127.552 26.3494C127.079 26.1672 126.521 26.0151 125.875 25.8953C125.229 25.7726 124.546 25.7116 123.827 25.7116C122.658 25.7116 121.745 25.934 121.088 26.3788C120.43 26.8236 120.105 27.4313 120.105 28.1996V28.2599C120.105 29.0275 120.406 29.6151 121.011 30.019C121.617 30.4251 122.361 30.6259 123.244 30.6259C123.859 30.6259 124.427 30.5449 124.95 30.3835C125.473 30.2206 125.93 29.9932 126.32 29.7005C126.71 29.4085 127.012 29.0541 127.226 28.6394C127.445 28.2233 127.551 27.7649 127.551 27.2577V26.348L127.552 26.3494ZM127.458 33.0544V31.0815C126.906 31.7308 126.198 32.2753 125.336 32.7201C124.473 33.1649 123.428 33.3887 122.197 33.3887C121.417 33.3887 120.679 33.2825 119.981 33.068C119.282 32.8564 118.674 32.5443 118.151 32.1297C117.629 31.715 117.206 31.1977 116.889 30.5822C116.57 29.9652 116.41 29.2521 116.41 28.4436V28.3833C116.41 27.4923 116.576 26.7203 116.904 26.0617C117.232 25.4053 117.69 24.8572 118.274 24.4224C118.858 23.9884 119.555 23.6656 120.367 23.4525C121.176 23.2409 122.053 23.134 122.996 23.134C123.939 23.134 124.818 23.1957 125.504 23.3162C126.191 23.4374 126.853 23.5996 127.49 23.8012V23.4977C127.49 22.385 127.147 21.5363 126.459 20.948C125.771 20.3633 124.782 20.0699 123.488 20.0699C122.566 20.0699 121.745 20.1617 121.028 20.3418C120.309 20.5247 119.581 20.7672 118.842 21.0707L117.827 18.1271C118.729 17.7232 119.651 17.3989 120.597 17.1557C121.539 16.9147 122.68 16.792 124.011 16.792C126.432 16.792 128.229 17.3831 129.398 18.5676C130.567 19.7499 131.151 21.4143 131.151 23.5565V33.0537H127.458L127.458 33.0544Z"
          fill="currentColor"></path>
        <path
          class="header-logo__letter header-logo__letter--l3"
          d="M136.804 12H133.051V33.0533H136.804V12Z"
          fill="currentColor"></path>
        <path
          class="header-logo__letter header-logo__letter--l4"
          d="M143.388 12H139.633V33.0533H143.388V12Z"
          fill="currentColor"></path>
      </g>
    </g>

    <path
      class="header-logo__ball"
      d="M147.979 33.0543C147.694 33.0543 147.429 33.0041 147.184 32.9022C146.937 32.8011 146.727 32.6648 146.548 32.4911C146.37 32.3175 146.23 32.1131 146.13 31.8785C146.031 31.6424 145.98 31.3949 145.98 31.1324V31.1173C145.98 30.8497 146.032 30.5986 146.134 30.3633C146.237 30.1301 146.377 29.9228 146.556 29.7485C146.734 29.572 146.947 29.4328 147.192 29.3288C147.437 29.2255 147.705 29.1731 147.995 29.1731C148.286 29.1731 148.553 29.224 148.798 29.3238C149.043 29.4256 149.255 29.5634 149.433 29.7399C149.613 29.9156 149.752 30.1208 149.851 30.3532C149.951 30.585 150.002 30.8353 150.002 31.1037V31.1166C150.002 31.3799 149.95 31.6288 149.847 31.8634C149.746 32.0987 149.605 32.3046 149.427 32.4804C149.248 32.6554 149.035 32.796 148.786 32.9001C148.54 33.0034 148.27 33.0543 147.979 33.0543Z"
      fill="#EAFF01"></path>
  </svg>
</div>

<style>
  .header-logo {
    --start-width: 50px;
    --end-width: 170px;

    position: relative;
    border-radius: theme("borderRadius.12");
    background-color: theme("colors.black");
    width: var(--start-width);
    transition: width 0.5s theme("transitionTimingFunction.smooth");

    &:hover {
      width: var(--end-width);
    }
  }

  .header-logo__letter:not(.header-logo__letter--y, .header-logo__letter--o) {
    --delay: 0.025s;

    opacity: 0;

    .header-logo:hover & {
      animation: header-wave 0.5s theme("transitionTimingFunction.smooth")
        forwards;

      .header-logo__letter--e {
        animation-delay: calc(1 * var(--delay));
      }

      &.header-logo__letter--l1 {
        animation-delay: calc(2 * var(--delay));
      }

      &.header-logo__letter--l2 {
        animation-delay: calc(3 * var(--delay));
      }

      &.header-logo__letter--w {
        animation-delay: calc(4 * var(--delay));
      }

      &.header-logo__letter--b {
        animation-delay: calc(5 * var(--delay));
      }

      &.header-logo__letter--a {
        animation-delay: calc(6 * var(--delay));
      }

      &.header-logo__letter--l3 {
        animation-delay: calc(7 * var(--delay));
      }

      &.header-logo__letter--l4 {
        animation-delay: calc(8 * var(--delay));
      }
    }
  }

  .header-logo__letter--o {
    opacity: 0;
    translate: 0 20% 0;

    .header-logo:hover & {
      animation: header-bump 0.2s theme("transitionTimingFunction.outBack") 0.7s
        forwards;
    }
  }

  @keyframes header-bump {
    0% {
      opacity: 0;
      translate: 0 20% 0;
    }

    100% {
      opacity: 1;
      translate: 0 0% 0;
    }
  }

  .header-logo__word-start {
    translate: 3% 0 0;

    .header-logo:hover & {
      animation: header-nudge-start 0.15s
        theme("transitionTimingFunction.smooth") 0.7s forwards;
    }
  }

  @keyframes header-nudge-start {
    0% {
      translate: 3% 0 0;
    }

    100% {
      translate: 0% 0 0;
    }
  }

  .header-logo__word-end {
    translate: -3% 0 0;

    .header-logo:hover & {
      animation: header-nudge 0.15s theme("transitionTimingFunction.smooth")
        0.7s forwards;
    }
  }

  @keyframes header-nudge {
    0% {
      translate: -3% 0 0;
    }

    100% {
      translate: 0% 0 0;
    }
  }

  @keyframes header-wave {
    0% {
      opacity: 0;
      transform: translateY(0);
    }

    50% {
      opacity: 1;
      transform: translateY(-10%);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .header-logo__ball {
    position: absolute;
    translate: -74% 0 0;

    .header-logo:hover & {
      animation: header-roll 0.7s cubic-bezier(0.54, 1.16, 0.44, 1) forwards;
    }
  }

  @keyframes header-roll {
    0% {
      translate: -74% 0 0;
    }

    100% {
      translate: 0 0 0;
    }
  }
</style>
