---
import LayoutLines from '@/components/Layout/Lines.astro';

interface Props {
  theme?: string;
  isTopOfPage?: boolean;
  class?: string;
  hasNoLines?: boolean;
}

const {
  theme = 'dark',
  isTopOfPage = false,
  class: className,
  hasNoLines = false,
} = Astro.props as Props;
---

<div
  data-js-theme={theme}
  class:list={[
    theme === 'light' ? 'light light:bg-cream light:text-navy' : null,
    isTopOfPage
      ? '-mt-[var(--header-height)] rounded-b-40 lg:rounded-b-80'
      : 'rounded-40 lg:rounded-80',
  ]}
>
  {
    theme === 'light' ? (
      <LayoutLines
        class:list={[className]}
        theme={theme}
        hasNoLines={hasNoLines}
      >
        <div class={isTopOfPage ? 'pt-[var(--header-height)]' : null}>
          <slot />
        </div>
      </LayoutLines>
    ) : (
      <slot />
    )
  }
</div>
