---
import LayoutLines from '@/components/Layout/Lines.astro';

interface Props {
  theme?: string;
  class?: string;
}

const { theme = 'dark', class: className } = Astro.props as Props;
---

<div
  data-js-theme={theme}
  class:list={[
    theme === 'light'
      ? 'light light:bg-cream light:text-navy rounded-40 lg:rounded-80'
      : null,
  ]}
>
  {
    theme === 'light' ? (
      <LayoutLines class={className} theme={theme}>
        <slot />
      </LayoutLines>
    ) : (
      <slot />
    )
  }
</div>
