---
import type { HTMLAttributes } from 'astro/types';
import { componentProperties } from '@/utils/helpers';
import Icon from '@/components/Elements/Icon.astro';

interface Base {
  headline: string;
  description: string;
  class?: string;
}

type Props = HTMLAttributes<'div'> & Base;

const { headline, description, ...rest } = Astro.props as Props;

const { classes, attributes } = componentProperties(
  ['w-full bg-white text-left rounded-30 lg:rounded-50'],
  rest,
);
---

<script>
  // import gsap from 'gsap';
  // import { ScrollTrigger } from 'gsap/dist/ScrollTrigger';

  // gsap.registerPlugin(ScrollTrigger);

  // const cardAvatars = document.querySelectorAll(
  //   '[data-js="card-avatars"]',
  // ) as NodeListOf<HTMLElement>;

  // if (cardAvatars?.length) {
  //   cardAvatars.forEach(card => {
  //     const avatars = card.querySelector('[data-js-avatars]') as HTMLElement;

  //     if (avatars) {
  //       const images = avatars.querySelectorAll('img');

  //       if (images?.length) {
  //         gsap.fromTo(
  //           images,
  //           {
  //             yPercent: 50,
  //             opacity: 0,
  //             scale: 0.75,
  //           },
  //           {
  //             yPercent: 0,
  //             opacity: 1,
  //             scale: 1,
  //             stagger: 0.1,
  //             ease: 'power4.out',
  //             scrollTrigger: {
  //               markers: false,
  //               trigger: card,
  //               scrub: 1.5,
  //               start: 'bottom bottom',
  //               end: 'bottom center',
  //             },
  //           },
  //         );
  //       }
  //     }
  //   });
  // }
</script>

<div data-js="card-avatars" class:list={classes} {...attributes}>
  <a
    href="/"
    class="group rounded-30 lg:rounded-50 p-30 lg:p-50 gap-30 border-navy/15 flex flex-col items-start justify-start w-full h-full border"
  >
    <div class="gap-30 flex flex-col items-start justify-start">
      <div class="relative w-full">
        <h4
          class="font-heading text-fluid-h4 text-balance text-navy font-semibold"
        >
          {headline}
        </h4>

        <Icon
          name="arrow-ne"
          class="top-15 size-10 md:size-12 group-hover:translate-x-2 group-hover:-translate-y-2 shrink-0 absolute right-0 block transition-transform duration-300"
        />
      </div>

      <p class="text-15 lg:text-18 text-navy-lightest text-balance font-normal">
        {description}
      </p>
    </div>

    {
      Astro.slots.default && (
        <div
          data-js-avatars
          class="w-full [&>img]:rounded-12 [&>img]:lg:rounded-16 [&>img]:outline [&>img]:outline-1 [&>img]:outline-navy/15 grid grid-cols-5 gap-10 lg:gap-15 p-1"
        >
          <slot />
        </div>
      )
    }
  </a>
</div>
