---
import Icon from '@/components/Elements/Icon.astro';

interface Props {
  headline: string;
  description: string;
  class?: string;
}

const hasSlotDefault = !!Astro.slots.default;

const {
  headline,
  description,
  class: className,
  ...rest
} = Astro.props as Props;
---

<div
  data-js="card-avatars"
  class:list={['w-full bg-white text-left rounded-30 lg:rounded-50', className]}
  {...rest}
>
  <a
    href="/"
    class="group rounded-30 lg:rounded-50 p-30 lg:p-50 gap-30 border-navy/15 flex flex-col items-start justify-start w-full h-full border"
  >
    <div class="gap-30 flex flex-col items-start justify-start">
      <div class="relative w-full">
        <h4
          class="font-heading text-fluid-h4 text-balance text-navy font-semibold"
        >
          {headline}
        </h4>

        <Icon
          name="arrow-ne"
          class="top-15 size-10 md:size-12 group-hover:translate-x-2 group-hover:-translate-y-2 shrink-0 absolute right-0 block transition-transform duration-300"
        />
      </div>

      <p class="text-15 lg:text-18 text-navy-lightest text-balance font-normal">
        {description}
      </p>
    </div>

    {
      hasSlotDefault && (
        <div class="w-full [&>img]:rounded-12 [&>img]:lg:rounded-16 [&>img]:outline [&>img]:outline-1 [&>img]:outline-navy/15 grid grid-cols-5 gap-10 lg:gap-15 p-1">
          <slot />
        </div>
      )
    }
  </a>
</div>
