---
import LinkArrow from '@/components/Elements/LinkArrow.astro';
import ShapeRow from '@/components/Elements/ShapeRow.astro';

interface Props {
  headline: string;
  cta: string;
  class?: string;
}

const { headline, cta, class: className, ...rest } = Astro.props as Props;
---

<div
  data-js="card-cta"
  class:list={[
    'w-full bg-navy-light text-white text-left rounded-30 lg:rounded-50',
    className,
  ]}
  {...rest}
>
  <a
    href="/"
    class="group rounded-30 lg:rounded-50 p-30 lg:p-50 gap-30 flex flex-col items-start justify-start w-full h-full"
  >
    <ShapeRow />

    <h4 class="font-heading text-fluid-h6 text-balance font-semibold">
      {headline}
    </h4>

    <LinkArrow class="font-heading text-15 lg:text-18 font-bold">
      {cta}
    </LinkArrow>
  </a>
</div>
