---
import Icon from '@/components/Elements/Icon.astro'
import ShapeRow from '@/components/Elements/ShapeRow.astro'

interface Props {
  headline: string
  cta: string
  class?: string
}

const { headline, cta, class: className, ...props } = Astro.props as Props
---

<div
  data-js="card-cta"
  class:list={[
    'w-full bg-navy-light text-white text-left rounded-30 lg:rounded-50',
    className,
  ]}
  {...props}
>
  <a
    href="/"
    class="group w-full h-full rounded-30 lg:rounded-50 p-30 lg:p-50 flex flex-col justify-start items-start gap-30"
  >
    <ShapeRow />

    <h4 class="font-heading font-semibold text-21 lg:text-28 text-balance">
      {headline}
    </h4>

    <p
      class="flex justify-center items-center gap-10 font-heading font-bold text-15 lg:text-18 text-balance"
    >
      {cta}
      <Icon
        name="arrow-ne"
        class="block size-10 md:size-12 -mb-5 group-hover:translate-x-2 group-hover:-translate-y-2 transition-transform duration-300 shrink-0"
      />
    </p>
  </a>
</div>
