---
import { colourText } from '@/utils/maps';
import Icon from '@/components/Elements/Icon.astro';

interface Props {
  color?: ColorTypes | null;
  icon: string;
  title: string;
  copy?: string | undefined;
  class?: string;
}

const {
  icon = 'outline-info-migration',
  title,
  copy,
  color = 'current',
  class: className,
  ...rest
} = Astro.props as Props;
---

<div
  class:list={[
    'w-full h-inherit p-30 md:p-50 flex flex-col gap-20 md:gap-30 rounded-30 border',
    'bg-navy-light border-white/10',
    'light:bg-white light:border-navy/15',
    className,
  ]}
  {...rest}
>
  <div class="gap-30 flex flex-col">
    <Icon
      class:list={['size-22', colourText[color as keyof typeof colourText]]}
      name={icon}
    />

    <h3 class="font-heading text-fluid-h6 text-balance font-semibold">
      {title}
    </h3>
  </div>

  {copy && <p class="text-15 md:text-18 text-pretty opacity-70">{copy}</p>}
</div>
