---
interface Props {
  headline: string;
  description: string;
  class?: string;
}

const hasSlotDefault = !!Astro.slots.default;

const {
  headline,
  description,
  class: className,
  ...rest
} = Astro.props as Props;
---

<div
  class:list={['w-full bg-white text-left rounded-30 lg:rounded-50', className]}
  {...rest}
>
  <a
    href="/"
    class="group rounded-30 lg:rounded-50 p-30 lg:p-50 gap-30 border-navy/15 flex flex-col items-start justify-start w-full h-full border"
  >
    <div class="gap-15 flex flex-col items-start justify-start">
      <h3
        class="font-heading text-fluid-h6 text-balance text-navy font-semibold"
      >
        {headline}
      </h3>

      <p class="text-15 lg:text-18 text-navy-lightest text-balance font-normal">
        {description}
      </p>
    </div>

    {
      hasSlotDefault && (
        <div class="w-full">
          <slot />
        </div>
      )
    }
  </a>
</div>
