---
import { componentProperties, hasSlot } from '@/utils/helpers';
import { colourText } from '@/utils/maps';

interface Props {
  theme?: ThemeTypes;
  role: string;
  name: string;
  color?: ColorTypes;
}

const hasSlotDefault = await hasSlot(Astro.slots, 'default');
const {
  theme = 'dark',
  role,
  name,
  color = 'green',
  ...rest
} = Astro.props as Props;
const { classes, attributes } = componentProperties(
  [
    'block w-full h-full text-center p-12 pb-24 md:p-20 md:pb-40',
    'flex flex-col gap-24 md:gap-40',
    'border rounded-20 md:rounded-30',
    theme === 'dark'
      ? 'text-white bg-navy-light border-white/10'
      : 'text-navy bg-white border-navy/15',
  ],
  rest,
);
---

<div class:list={classes} {...attributes}>
  {
    hasSlotDefault && (
      <div class="w-full aspect-square rounded-8 md:rounded-10 overflow-hidden">
        <slot />
      </div>
    )
  }

  <div class="flex flex-col gap-12 md:gap-20 px-20">
    <p
      class:list={[
        'font-heading font-bold text-11 md:text-13 text-balance',
        colourText[color],
      ]}
    >
      {role}
    </p>

    <h3 class="font-heading font-semibold text-18 md:text-24 text-balance">
      {name}
    </h3>
  </div>
</div>
