---
import { componentProperties, hasSlot } from '@/utils/helpers';
import { colourText } from '@/utils/maps';

interface Props {
  title: string;
  copy: string;
  color?: ColorTypes;
}

const hasSlotDefault = await hasSlot(Astro.slots, 'default');
const { title, copy, color = 'green', ...rest } = Astro.props as Props;
const { classes, attributes } = componentProperties(
  [
    'block w-full h-full text-center p-12 pb-24 md:p-20 md:pb-40',
    'flex flex-col gap-24 md:gap-40 justify-evenly',
    'text-white bg-navy-light border border-white/10 rounded-20 md:rounded-30',
  ],
  rest,
);
---

<div class:list={classes} {...attributes}>
  {
    hasSlotDefault && (
      <div
        class:list={[
          'w-full max-w-[360px] mx-auto flex flex-wrap-reverse justify-center py-20',
          '[&>img]:w-[calc((2/7)_*_(83%-60px))] [&>img]:mx-[5%] [&>img]:my-[3%]',
          '[&>img:nth-child(1)]:-rotate-6',
          '[&>img:nth-child(2)]:rotate-6 [&>img:nth-child(2)]:translate-y-12',
          '[&>img:nth-child(3)]:rotate-3',
          '[&>img:nth-child(4)]:rotate-12',
          '[&>img:nth-child(5)]:-rotate-6 [&>img:nth-child(5)]:-translate-y-6',
          '[&>img]:rounded-12 [&>img]:md:rounded-[clamp(12px,_2.1538px_+_0.9615vw,_16px)] [&>img]:outline [&>img]:outline-1 [&>img]:outline-navy-lighter',
        ]}
      >
        <slot />
      </div>
    )
  }

  <div class="flex flex-col gap-12 md:gap-20 px-12 md:px-20">
    <h3
      class:list={[
        'font-heading font-bold text-11 md:text-13 text-balance',
        colourText[color],
      ]}
    >
      {title}
    </h3>

    {
      copy && (
        <p class="font-heading font-semibold text-15 md:text-18 text-balance">
          {copy}
        </p>
      )
    }
  </div>
</div>
