---
import { componentProperties } from '@/utils/helpers';
import { colourText } from '@/utils/maps';

interface Props {
  theme?: ThemeTypes;
  role: string;
  name: string;
  color?: ColorTypes;
}

const {
  theme = 'dark',
  role,
  name,
  color = 'green',
  ...rest
} = Astro.props as Props;

const { classes, attributes } = componentProperties(
  [
    'block w-full h-full text-center p-8 pb-14 md:p-12 md:pb-22',
    'flex flex-col gap-14 md:gap-20',
    'border rounded-16 md:rounded-24',
    theme === 'dark'
      ? 'text-white bg-navy-light border-white/10'
      : 'text-navy bg-white border-navy/15',
  ],
  rest,
);
---

<div class:list={classes} {...attributes}>
  {
    Astro.slots.default && (
      <div class="w-full aspect-square rounded-t-8 rounded-b-12 md:rounded-12 overflow-hidden">
        <slot />
      </div>
    )
  }

  <div class="flex flex-col gap-5 md:gap-8 px-20">
    <p
      class:list={[
        'font-heading font-bold text-8 md:text-10 text-balance',
        colourText[color],
      ]}
    >
      {role}
    </p>

    <h3 class="font-heading font-bold text-15 md:text-18 text-balance">
      {name}
    </h3>
  </div>
</div>
