---
import { colourText } from '@/utils/maps';
import Icon from '@/components/Elements/Icon.astro';
import ShapeGradient from '@/components/Elements/ShapeGradient.astro';

interface Props {
  shape: ShapeTypes;
  shapeGradient?: boolean;
  color: ColorTypes;
  hasArrow?: boolean;
  mini?: boolean;
  theme?: ThemeTypes;
  class?: string;
}

const {
  shape,
  shapeGradient = false,
  color,
  hasArrow = false,
  mini = false,
  theme = 'dark',
  class: className,
  ...rest
} = Astro.props as Props;

const colorShape = colourText[color as keyof typeof colourText] ?? '';
const colouring =
  theme === 'dark'
    ? 'text-white bg-navy-light border-white/10'
    : 'text-navy bg-white border-navy/15';
---

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/dist/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const cards = document.querySelectorAll(
    '[data-js="card-prompt"]',
  ) as NodeListOf<HTMLElement>;

  cards.forEach(card => {
    const shape = card.querySelector('[data-js-shape]') as HTMLElement;

    if (shape) {
      const { height: cardHeight } = card.getBoundingClientRect();
      const { height: shapeHeight } = shape.getBoundingClientRect();

      gsap.to(shape, {
        y: `-${cardHeight - shapeHeight / 2}`,
        scrollTrigger: {
          markers: false,
          trigger: card,
          scrub: 1,
          start: 'top bottom',
          end: 'bottom top',
        },
      });
    }
  });
</script>

<div
  data-js="card-prompt"
  class:list={[
    'w-full text-left border',
    colouring,
    mini ? 'rounded-30' : 'rounded-40 lg:rounded-80',
    className,
  ]}
  {...rest}
>
  <a
    href="/"
    class:list={[
      'group relative w-full h-full grid grid-cols-1 overflow-hidden',
      mini
        ? 'rounded-30 p-40'
        : `rounded-40 lg:rounded-80 p-30 lg:p-80 lgMax:grid-rows-[100px_1fr] lgMax:before:content-['']`,
    ]}
  >
    <div
      class:list={[
        'z-10 flex flex-col justify-start items-start',
        mini ? 'gap-30' : 'gap-30 lg:gap-60',
      ]}
    >
      {Astro.slots.headline && <slot name="headline" />}
      {Astro.slots.button && <slot name="button" />}
    </div>

    {
      shape && colorShape && !shapeGradient && (
        <Icon
          data-js-shape
          name={`shape-${shape}`}
          class:list={[
            colorShape,
            mini ? 'size-180' : 'size-280 lg:size-400',
            'absolute bottom-0 right-0 z-0 translate-x-1/3 translate-y-1/2 pointer-events-none',
          ]}
        />
      )
    }

    {
      shape && colorShape && shapeGradient && (
        <ShapeGradient
          data-js-shape
          {shape}
          {color}
          class:list={[
            mini ? 'size-180' : 'size-280 lg:size-400',
            'absolute bottom-0 right-0 z-0 translate-x-1/3 translate-y-1/2 pointer-events-none',
          ]}
        />
      )
    }

    {
      hasArrow && (
        <Icon
          name="arrow-ne"
          class="absolute top-30 right-30 z-0 size-12 transform-gpu transition-transform duration-250 ease-smooth group-hover:translate-x-1/2 group-hover:-translate-y-1/2"
        />
      )
    }
  </a>
</div>
