---
import { twMerge } from 'tailwind-merge';
import { hasSlot } from '@/utils/helpers';
import Icon from '@/components/Elements/Icon.astro';

interface Props {
  quote: string;
  name: string;
  company?: string;
  forceMedia?: boolean;
  class?: string;
}

const {
  quote,
  name,
  company,
  forceMedia = false,
  class: className,
  ...rest
} = Astro.props as Props;

const hasSlotDefault = await hasSlot(Astro.slots, 'default');

const classes = twMerge(
  'w-full text-navy text-left bg-white rounded-20 lg:rounded-30',
  className,
);
---

<div data-js="card-rating" class:list={['@container', classes]} {...rest}>
  <a
    href="/"
    class:list={[
      { '@sm:grid-cols-2 @sm:md:gap-x-30 @sm:lg:gap-x-60': hasSlotDefault },
      'group rounded-20 lg:rounded-30 p-15 lg:p-20 border-navy/15 w-full h-full border grid gap-y-15 lg:gap-y-20',
    ]}
  >
    {
      hasSlotDefault && (
        <div class="rounded-8 lg:rounded-10 @sm:lg:rounded-20 relative w-full overflow-hidden [&_img]:size-full [&_img]:object-cover">
          <slot /> woop
          <div class="bottom-20 left-20 size-64 bg-yellow rounded-20 absolute z-0 flex flex-col items-center justify-center">
            <Icon name="play" class="size-14 text-navy block ml-2" />
          </div>
        </div>
      )
    }

    <div
      class="gap-15 p-5 lg:p-20 flex flex-col items-start justify-start flex-grow w-full @sm:justify-center"
    >
      <div class="flex gap-5">
        <Icon name="star" class="size-16 lg:size-20 text-yellow block" />
        <Icon name="star" class="size-16 lg:size-20 text-yellow block" />
        <Icon name="star" class="size-16 lg:size-20 text-yellow block" />
        <Icon name="star" class="size-16 lg:size-20 text-yellow block" />
        <Icon name="star" class="size-16 lg:size-20 text-yellow block" />
      </div>

      <blockquote
        class:list={[
          'flex flex-col gap-15 lg:gap-20 font-heading text-balance -tracking-[0.05em] lg:-tracking-[0.05em]',
          { 'text-24 lg:text-28 font-semibold': hasSlotDefault && forceMedia },
          {
            'text-17 lg:text-28 font-bold lg:font-semibold':
              hasSlotDefault && !forceMedia,
          },
          { 'text-17 lg:text-21 font-bold': !hasSlotDefault },
        ]}
      >
        <p>
          &ldquo;{quote}&rdquo;
        </p>
      </blockquote>

      {
        name && company && (
          <p class="text-9 lg:text-13 font-heading flex items-center gap-5 pt-5 mt-auto font-bold @sm:mt-0">
            {name} <span>&bullet;</span>{' '}
            <cite class="not-italic">{company}</cite>
          </p>
        )
      }
    </div>
  </a>
</div>
