---
import HeaderLogo from '@/components/App/Header/Logo.astro';
import HeaderBackground from '@/components/App/Header/Background.astro';
import HeaderMenuButton from '@/components/App/Header/MenuButton.astro';
import HeaderNavigation from '@/components/App/Header/Navigation.astro';
import HeaderMenuLink from '@/components/App/Header/MenuLink.astro';
---

<script>
  // import Alpine from 'alpinejs';

  // Alpine.store('navigation', {
  //   isMenuOpen: false,
  //   isSubMenuOpen: false,

  //   toggleMenu() {
  //     this.isMenuOpen = !this.isMenuOpen;
  //   },

  //   closeMenu() {
  //     this.isMenuOpen = false;
  //     this.isSubMenuOpen = false;
  //   },

  //   toggleSubMenu() {
  //     this.isMenuOpen = true;
  //     this.isSubMenuOpen = !this.isSubMenuOpen;
  //   },
  // } as NavigationStore);
</script>

<header
  x-data
  :class="{'is-open': $store.navigation.isMenuOpen, 'is-submenu-open': $store.navigation.isSubMenuOpen}"
  class="header sticky top-0 z-50 p-12 md:p-18 pointer-events-none"
  data-js="header"
>
  <nav class="flex justify-between md:hidden">
    <HeaderBackground>
      <a class="block pointer-events-auto" href="/">
        <HeaderLogo />
      </a>
    </HeaderBackground>

    <HeaderBackground>
      <div class="flex gap-4">
        <a class="block p-2 -m-2 h-full pointer-events-auto" href="/">
          <HeaderMenuLink>Work with us</HeaderMenuLink>
        </a>

        <button
          class="pointer-events-auto"
          @click="$store.navigation.toggleMenu()"
          type="button"
        >
          <HeaderMenuButton />
        </button>
      </div>
    </HeaderBackground>
  </nav>

  <HeaderNavigation />

  <button
    @click="$store.navigation.closeMenu()"
    class="header__close absolute top-0 left-0 w-full h-screen -z-1 cursor-default"
  >
    <span class="sr-only">Close menus</span>
  </button>
</header>

<style is:global>
  .header__close {
    opacity: 0;
    pointer-events: none;

    @media screen(md) {
      .header.is-submenu-open & {
        opacity: 1;
        pointer-events: auto;
      }
    }

    @media screen(mdMax) {
      .header.is-open &,
      .header.is-submenu-open & {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
</style>
