---
import UILogo from '@/components/UI/Logo.astro';
---

<div data-js="header-logo" class="header-logo text-white rounded-12 bg-navy">
  <UILogo noHoverMobileOnly sizeMobile="42px" sizeDesktop="50px" />
</div>
