<span
  x-data
  :class="$store.navigation.isMenuOpen && 'is-open'"
  class:list={[
    'header-menu-button',
    'h-inherit font-heading font-bold text-13 lg:text-15',
    'flex items-center px-20 rounded-12 bg-yellow text-navy',
    'transition-[background-color] duration-300 ease-smooth',
  ]}
>
  <span class="header-menu-button__inner relative">
    <span class="header-menu-button__text header-menu-button__text--open block">
      Menu
    </span>

    <span
      class="header-menu-button__text header-menu-button__text--close absolute inset-0 flex items-center justify-center"
    >
      Close
    </span>
  </span>
</span>

<style is:global>
  .header-menu-button {
    &.is-open {
      background-color: theme('colors.white');
    }
  }

  .header-menu-button__inner {
    display: grid;
    grid-template-areas: 'stack';
  }

  .header-menu-button__text {
    grid-area: stack;
    transform: translateZ(0);

    &--open {
      opacity: 1;
      scale: 1;
      transition:
        opacity 0.25s theme('transitionTimingFunction.smooth'),
        scale 0.25s theme('transitionTimingFunction.smooth');

      .header-menu-button.is-open & {
        opacity: 0;
        scale: 0.9;

        transition:
          opacity 0.1s theme('transitionTimingFunction.smooth'),
          scale 0.1s theme('transitionTimingFunction.smooth');
      }
    }

    &--close {
      opacity: 0;
      scale: 0.9;

      transition:
        opacity 0.1s theme('transitionTimingFunction.smooth'),
        scale 0.1s theme('transitionTimingFunction.smooth');

      .header-menu-button.is-open & {
        opacity: 1;
        scale: 1;

        transition:
          opacity 0.25s theme('transitionTimingFunction.smooth'),
          scale 0.25s theme('transitionTimingFunction.smooth');
      }
    }
  }

  .header__menu-mobile__button-open {
    transition:
      opacity 0.25s theme('transitionTimingFunction.smooth'),
      scale 0.25s theme('transitionTimingFunction.smooth');

    .header.is-open & {
      opacity: 0;
      scale: 0.9;

      transition:
        opacity 0.1s theme('transitionTimingFunction.smooth'),
        scale 0.1s theme('transitionTimingFunction.smooth');
    }
  }

  .header__menu-mobile__button-close {
    opacity: 0;
    scale: 0.9;
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.12');
    transition:
      opacity 0.1s theme('transitionTimingFunction.smooth'),
      scale 0.1s theme('transitionTimingFunction.smooth');

    .header.is-open & {
      opacity: 1;
      scale: 1;

      transition:
        opacity 0.25s theme('transitionTimingFunction.smooth'),
        scale 0.25s theme('transitionTimingFunction.smooth');
    }
  }
</style>
