---
import { navList } from './data';

import AppHeaderNavigationList from '@/components/App/Header/NavigationList.astro';
import ShapeRow from '@/components/Elements/ShapeRow.astro';
---

<div class="header-navigation">
  <div data-lenis-prevent class="header-navigation__scroll">
    <div class="header-navigation__case">
      {
        navList.map(({ menuItems }, index) => (
          <AppHeaderNavigationList {menuItems} hasLogo={index === 0} />
        ))
      }
    </div>

    <div
      class="mt-60 flex flex-col gap-20 font-heading font-bold text-11 md:hidden"
    >
      <a href="/" class="block w-fit p-12 -m-12">
        <ShapeRow />
        <span class="sr-only">Home</span>
      </a>

      <div class="flex flex-col gap-16 mt-10 opacity-50">
        <a href="tel:+442080493080" class="block p-12 -m-12">020 8049 3080</a>

        <a href="mailto:hello@weareyellowball.com" class="block p-12 -m-12">
          hello@weareyellowball.com
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  .header-navigation {
    @media screen(mdMax) {
      @apply absolute left-0 px-12 pb-12 w-full;

      top: var(--header-height);
      height: calc(100vh - var(--header-height));
      height: calc(100svh - var(--header-height));
    }
  }

  .header-navigation__scroll {
    @media screen(mdMax) {
      @apply relative
        p-40
        rounded-16
        bg-navy-light
        border
        border-white/10
        w-full
        max-h-full
        overflow-y-auto
        overscroll-y-contain;
    }

    @media screen(mdMax) {
      @apply relative;
    }
  }

  .header-navigation__case {
    @apply flex
      flex-col
      gap-24;

    @media screen(md) {
      @apply flex-row
        justify-between
        gap-0;
    }
  }
</style>
