---
import { navList } from './data';

import AppHeaderNavigationList from '@/components/App/Header/NavigationList.astro';
---

<div class="header-navigation">
  <div data-lenis-prevent class="header-navigation__scroll">
    <div class="header-navigation__case">
      {navList.map(({ menuItems }) => <AppHeaderNavigationList {menuItems} />)}
    </div>
  </div>
</div>

<style>
  .header-navigation {
    @media screen(mdMax) {
      @apply px-12 pb-12;

      position: absolute;
      top: var(--header-height);
      left: 0;
      width: 100%;
      height: calc(100vh - var(--header-height));
      height: calc(100svh - var(--header-height));
    }
  }

  .header-navigation__scroll {
    @media screen(mdMax) {
      @apply p-40 rounded-16 bg-navy-light border border-white/10;

      width: 100%;
      max-height: 100%;
      overflow-y: auto;
      overscroll-behavior-y: contain;
    }
  }

  .header-navigation__case {
    @media screen(md) {
      @apply flex justify-between;
    }
  }

  .header-navigation__list {
    @apply flex flex-col;

    @screen md {
      @apply flex-row gap-4;
    }
  }

  .header-navigation__button {
    display: block;
    padding: 2px;
    margin: -2px;
  }
</style>
