---
import HeaderLogo from '@/components/App/Header/Logo.astro';
import HeaderBackground from '@/components/App/Header/Background.astro';
import NavigationListItem from '@/components/App/Header/NavigationListItem.astro';

interface Props {
  menuItems: HeaderNavigationItem[];
  hasLogo?: boolean;
}

const { menuItems, hasLogo = false } = Astro.props as Props;
---

<HeaderBackground isDesktopOnly>
  <nav
    data-js="navigation-list"
    class="md:relative md:flex md:gap-4 md:pointer-events-auto"
  >
    {
      hasLogo && (
        <a
          data-js-navigation-list-logo
          class="relative block p-2 -m-2 mdMax:hidden"
          href="/"
        >
          <HeaderLogo />
          <span class="sr-only">Home</span>
        </a>
      )
    }

    <ul
      data-js-navigation-list-list
      class="flex flex-col -my-12 md:flex-row md:gap-4 md:my-0"
    >
      {
        menuItems.map((menuItem: HeaderNavigationItem) => (
          <li
            data-js-navigation-list-item
            class={menuItem.type === 'navy' ? 'mdMax:hidden' : null}
          >
            <NavigationListItem menuItem={menuItem} />
          </li>
        ))
      }
    </ul>

    <span
      data-js-navigation-list-pill
      class="block bg-yellow rounded-12 h-full absolute top-0 left-0 -z-1 opacity-0 mdMax:hidden"
    >
    </span>
  </nav>
</HeaderBackground>
