---
import { navList } from './data';

import HeaderNavigationList from '@/components/App/Header/NavigationList.astro';
import ShapeRow from '@/components/Elements/ShapeRow.astro';
---

<div
  data-js="header-navigation"
  class="header-navigation mdMax:absolute mdMax:left-0 mdMax:px-12 mdMax:pb-12 mdMax:w-full"
  x-data="headerNavigation"
  :class="$store.navigation.isMenuOpen && 'is-open'"
>
  <div
    data-js-header-navigation-scroll
    data-lenis-prevent
    class="header-navigation__scroll mdMax:relative mdMax:rounded-16 mdMax:bg-navy-light mdMax:border mdMax:border-white/10 mdMax:w-full mdMax:max-h-full mdMax:overflow-y-scroll mdMax:overscroll-y-contain"
  >
    <div
      data-js-header-navigation-inner
      class="header-navigation__inner mdMax:relative mdMax:overflow-hidden mdMax:p-40"
    >
      <div class="flex flex-col md:flex-row md:justify-between gap-24 md:gap-0">
        {
          navList.map(({ menuItems }, index) => (
            <div class="header-navigation__list">
              <HeaderNavigationList {menuItems} hasLogo={index === 0} />
            </div>
          ))
        }
      </div>

      <div
        class="mt-60 flex flex-col gap-20 font-heading font-bold text-11 md:hidden"
      >
        <a href="/" class="block w-fit p-12 -m-12">
          <ShapeRow />
          <span class="sr-only">Home</span>
        </a>

        <div class="flex flex-col gap-16 mt-10 opacity-50">
          <a href="tel:+442080493080" class="block p-12 -m-12">020 8049 3080</a>

          <a href="mailto:hello@weareyellowball.com" class="block p-12 -m-12">
            hello@weareyellowball.com
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<style is:global>
  .header-navigation {
    @media screen(mdMax) {
      top: var(--header-height);
      height: calc(100vh - var(--header-height));
      height: calc(100dvh - var(--header-height));

      opacity: 0;
      translate: 0 -16px 0;
      transition:
        opacity 0.2s theme('transitionTimingFunction.out') 0s,
        translate 0s 0.4s;

      &.is-open {
        opacity: 1;
        translate: 0 0 0;
        transition:
          opacity 0.5s theme('transitionTimingFunction.outBack'),
          translate 0.5s theme('transitionTimingFunction.outBack');
      }
    }
  }

  /* Mobile activate click */
  .header-navigation__scroll {
    @media screen(mdMax) {
      pointer-events: none;

      .header-navigation.is-open & {
        pointer-events: auto;
      }
    }
  }

  .header-navigation__inner {
    @media screen(mdMax) {
      opacity: 0;
      transition: opacity 0.2s theme('transitionTimingFunction.smooth');

      .header-navigation.is-open & {
        opacity: 1;
        transition: opacity 0.3s theme('transitionTimingFunction.smooth') 0s;
      }
    }

    @media screen(md) {
      height: auto !important;
    }
  }

  /* Desktop activate click */
  .header-navigation__list {
    @media screen(md) {
      pointer-events: none;

      .header-navigation.is-open & {
        pointer-events: auto;
      }
    }
  }
</style>
