---
import { navList } from './data';

import HeaderNavigationList from '@/components/App/Header/NavigationList.astro';
import ShapeRow from '@/components/Elements/ShapeRow.astro';
---

<script>
  import gsap from 'gsap';
  import Alpine from 'alpinejs';

  const navigationInner = document.querySelector(
    '[data-js-header-navigation-inner]',
  ) as HTMLElement;

  const navigationListSubmenu = document.querySelector(
    '[data-js-navigation-list-submenu]',
  ) as HTMLElement;

  let mm = gsap.matchMedia();

  const animateHeight = (state: boolean) => {
    mm.add('(max-width: 767px)', () => {
      if (state) {
        gsap.to(navigationInner, {
          height: navigationListSubmenu.offsetHeight + 3,
          duration: 0.5,
          ease: 'back.out(0.6)',
        });
      } else {
        gsap.to(navigationInner, {
          height: 'auto',
          duration: 0.5,
          ease: 'back.out(0.6)',
        });
      }
    });
  };

  Alpine.data('headerNavigation', () => ({
    init() {
      this.$watch('$store.navigation.isSubMenuOpen', value => {
        animateHeight(value);
      });
    },
  }));
</script>

<div
  data-js="header-navigation"
  class="header-navigation"
  x-data="headerNavigation"
  :class="$store.navigation.isMenuOpen && 'is-open'"
>
  <div
    data-js-header-navigation-scroll
    data-lenis-prevent
    class="header-navigation__scroll"
  >
    <div data-js-header-navigation-inner class="header-navigation__inner">
      <div class="header-navigation__case">
        {
          navList.map(({ menuItems }, index) => (
            <div class="header-navigation__list">
              <HeaderNavigationList {menuItems} hasLogo={index === 0} />
            </div>
          ))
        }
      </div>

      <div
        class="mt-60 flex flex-col gap-20 font-heading font-bold text-11 md:hidden"
      >
        <a href="/" class="block w-fit p-12 -m-12">
          <ShapeRow />
          <span class="sr-only">Home</span>
        </a>

        <div class="flex flex-col gap-16 mt-10 opacity-50">
          <a href="tel:+442080493080" class="block p-12 -m-12">020 8049 3080</a>

          <a href="mailto:hello@weareyellowball.com" class="block p-12 -m-12">
            hello@weareyellowball.com
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<style is:global>
  .header-navigation {
    @media screen(mdMax) {
      @apply absolute left-0 px-12 pb-12 w-full;

      top: var(--header-height);
      height: calc(100vh - var(--header-height));
      height: calc(100svh - var(--header-height));
      opacity: 0;
      translate: 0 -16px 0;
      transition:
        opacity 0.2s theme('transitionTimingFunction.out') 0s,
        translate 0s 0.4s;

      &.is-open {
        opacity: 1;
        translate: 0 0 0;
        transition:
          opacity 0.5s theme('transitionTimingFunction.outBack'),
          translate 0.5s theme('transitionTimingFunction.outBack');
      }
    }
  }

  .header-navigation__scroll {
    @media screen(mdMax) {
      @apply relative rounded-16 bg-navy-light border border-white/10 w-full max-h-full overflow-y-auto overscroll-y-contain;
    }
  }

  .header-navigation__inner {
    @media screen(mdMax) {
      @apply relative overflow-hidden p-40;

      opacity: 0;
      transition: opacity 0.2s theme('transitionTimingFunction.smooth');

      .header-navigation.is-open & {
        opacity: 1;
        transition: opacity 0.3s theme('transitionTimingFunction.smooth') 0s;
      }
    }

    @media screen(md) {
      height: auto !important;
    }
  }

  .header-navigation__case {
    @apply flex flex-col gap-24;

    @media screen(md) {
      @apply flex-row justify-between gap-0;
    }
  }

  .header-navigation__list {
    pointer-events: none;

    .header-navigation.is-open & {
      pointer-events: auto;
    }
  }
</style>
