---
import NavigationListItemSubMenu from '@/components/App/Header/NavigationListItemSubMenu.astro';
import HeaderNavigationListButton from '@/components/App/Header/NavigationListButton.astro';

interface Props {
  menuItem: HeaderNavigationItem;
}

const { menuItem } = Astro.props as Props;
---

{
  menuItem.subMenu ? (
    <NavigationListItemSubMenu
      text={menuItem.text}
      subMenu={menuItem.subMenu}
    />
  ) : (
    <a
      data-js-navigation-pill-hover-item
      class="block px-40 py-12 -mx-40 md:w-auto md:p-2 md:-m-2"
      href={menuItem.url}
    >
      <HeaderNavigationListButton type={menuItem.type || 'transparent'}>
        {menuItem.text}
      </HeaderNavigationListButton>
    </a>
  )
}
