---
import Layout from '@/layouts/Layout.astro';

import Button from '@/components/Elements/Button.astro';
import TextGradient from '@/components/Elements/TextGradient.astro';
import TextReveal from '@/components/Elements/TextReveal.astro';

import Block404 from '@/components/Block/404.astro';
---

<Layout title="404">
  <main>
    <section
      class="relative grid items-center min-svh-screen -mt-[var(--header-height)] mb-[10vw]"
    >
      <Block404>
        <Fragment slot="headline">
          <TextReveal
            onEnter
            tag="h1"
            class="font-heading text-fluid-h2 font-semibold max-w-[16ch]"
          >
            <TextGradient>Oops!</TextGradient> Looks like you took a wrong turn
          </TextReveal>
        </Fragment>

        <Fragment slot="links">
          <p>
            <a href="/">
              <Button text="Return to Homepage" hasArrow />
            </a>
          </p>
        </Fragment>
      </Block404>
    </section>
  </main>
</Layout>
