---
import Layout from '@/layouts/Layout.astro';

import CardInfo from '@/components/Card/Info.astro';
import TextGradient from '@/components/Elements/TextGradient.astro';
import FormContact from '@/components/Form/Contact.astro';

import BlockForm from '@/components/Block/Form.astro';

const classSection = 'py-50 md:py-[75px]';
---

<Layout title="Contact">
  <main>
    <section class={classSection}>
      <BlockForm>
        <Fragment slot="content">
          <h1 class="font-heading text-fluid-h1 font-semibold">
            Let's get the<br /> ball <TextGradient>rolling</TextGradient>
          </h1>

          <p class="text-17 md:text-21 text-grey text-balance">
            We're a boutique, London-based web design agency, crafting stunning,
            bespoke websites that captivate and convert. Ready to get the ball
            rolling? Let's chat!
          </p>
        </Fragment>

        <Fragment slot="form">
          <FormContact />
        </Fragment>

        <Fragment slot="aside">
          <CardInfo title="Contact Details">
            <p class="text-white font-heading text-18 md:text-20">
              <a href="mailto:info@weareyellowball.com">
                info@weareyellowball.com
              </a>
            </p>

            <p class="text-white font-heading text-18 md:text-20">
              020 8049 3080
            </p>
          </CardInfo>

          <CardInfo title="Address">
            <address class="text-white font-heading text-18 md:text-20">
              Borough Yards, 13 Dirty Lane, London, SE1 9PA
            </address>
          </CardInfo>
        </Fragment>
      </BlockForm>
    </section>
  </main>
</Layout>
