---
import Layout from '@/layouts/Layout.astro';

import Button from '@/components/Elements/Button.astro';
import CardInfo from '@/components/Card/Info.astro';
import FormCheckbox from '@/components/Form/Checkbox.astro';
import FormControl from '@/components/Form/Control.astro';
import FormInput from '@/components/Form/Input.astro';
import FormGroup from '@/components/Form/Group.astro';
import LinkArrow from '@/components/Elements/LinkArrow.astro';
import TextGradient from '@/components/Elements/TextGradient.astro';
import TextReveal from '@/components/Elements/TextReveal.astro';

import BlockContact from '@/components/Block/Contact.astro';

const classSection = 'py-50 md:py-[75px]';
---

<Layout title="Contact">
  <main>
    <section class={classSection}>
      <BlockContact>
        <Fragment slot="content">
          <TextReveal
            onEnter
            tag="h1"
            class="font-heading text-fluid-h1 font-semibold text-balance"
          >
            Let's get the ball <TextGradient>rolling</TextGradient>
          </TextReveal>

          <p class="text-17 md:text-21 text-grey text-balance">
            We're a boutique, London-based web design agency, crafting stunning,
            bespoke websites that captivate and convert. Ready to get the ball
            rolling? Let's chat!
          </p>
        </Fragment>

        <Fragment slot="form">
          <form class="flex flex-col items-start gap-60 lg:gap-80">
            <FormInput
              label="Please tell us your name *"
              type="text"
              id="name"
              name="name"
              value=""
              placeholder="placeholder"
              required
            />

            <FormInput
              label="Email address we can reach you on? *"
              type="email"
              id="email"
              name="email"
              value=""
              placeholder="placeholder"
              required
            />

            <FormInput
              label="Best number for a quick call? *"
              type="tel"
              id="number"
              name="number"
              value=""
              placeholder="placeholder"
              required
            />

            <FormGroup
              headline="Which services are you interested in exploring with us? *"
            >
              <div class="flex gap-15 flex-wrap">
                <FormControl
                  type="checkbox"
                  color="yellow"
                  label="Web Design"
                  name="web-design"
                  id="web-design"
                  value="web-design"
                />

                <FormControl
                  type="checkbox"
                  color="green"
                  label="SEO"
                  name="seo"
                  id="seo"
                  value="seo"
                />

                <FormControl
                  type="checkbox"
                  color="blue"
                  label="PPC"
                  name="ppc"
                  id="ppc"
                  value="ppc"
                />

                <FormControl
                  type="checkbox"
                  color="white"
                  label="Other"
                  name="other"
                  id="other"
                  value="other"
                />
              </div>
            </FormGroup>

            <FormGroup headline="Total Web Design Budget *">
              <div class="flex gap-15 flex-wrap">
                <FormControl
                  type="radio"
                  color="yellow"
                  label="£0-5k"
                  name="web-design-budget"
                  id="web-design-budget-1"
                  value="web-design-budget-1"
                />

                <FormControl
                  type="radio"
                  color="yellow"
                  label="£5-10k"
                  name="web-design-budget"
                  id="web-design-budget-2"
                  value="web-design-budget-2"
                />

                <FormControl
                  type="radio"
                  color="yellow"
                  label="£10-25k"
                  name="web-design-budget"
                  id="web-design-budget-3"
                  value="web-design-budget-3"
                />

                <FormControl
                  type="radio"
                  color="yellow"
                  label="£25-50k"
                  name="web-design-budget"
                  id="web-design-budget-4"
                  value="web-design-budget-4"
                />

                <FormControl
                  type="radio"
                  color="yellow"
                  label="£50k+"
                  name="web-design-budget"
                  id="web-design-budget-5"
                  value="web-design-budget-5"
                />
              </div>

              <Fragment slot="bottom">
                <p class="text-grey text-14 lg:text-16 text-balance">
                  Our bespoke web projects start at £25,000. For smaller
                  budgets, we recommend Yellowball Lite - our affordable,
                  flexible WordPress theme ideal for small businesses, startups
                  and charities.
                  <a href="/">
                    <LinkArrow class="text-white">
                      Visit Yellowball Lite
                    </LinkArrow>
                  </a>
                </p>
              </Fragment>
            </FormGroup>

            <FormGroup headline="Monthly SEO Budget *">
              <div class="flex gap-15 flex-wrap">
                <FormControl
                  type="radio"
                  color="green"
                  label="£0-2k"
                  name="seo-budget"
                  id="seo-budget-1"
                  value="seo-budget-1"
                />

                <FormControl
                  type="radio"
                  color="green"
                  label="£2-5k"
                  name="seo-budget"
                  id="seo-budget-2"
                  value="seo-budget-2"
                />

                <FormControl
                  type="radio"
                  color="green"
                  label="£5-10k"
                  name="seo-budget"
                  id="seo-budget-3"
                  value="seo-budget-3"
                />

                <FormControl
                  type="radio"
                  color="green"
                  label="£10-20k"
                  name="seo-budget"
                  id="seo-budget-4"
                  value="seo-budget-4"
                />

                <FormControl
                  type="radio"
                  color="green"
                  label="£20k+"
                  name="seo-budget"
                  id="seo-budget-5"
                  value="seo-budget-5"
                />
              </div>

              <Fragment slot="bottom">
                <p class="text-grey text-14 lg:text-16 text-balance">
                  SEO campaigns from Yellowball start from £1500 per month,
                  structured over a minimum 3 month rolling agreement.
                </p>
              </Fragment>
            </FormGroup>

            <FormGroup headline="Monthly PPC Budget *">
              <div class="flex gap-15 flex-wrap">
                <FormControl
                  type="radio"
                  color="blue"
                  label="£0-1k"
                  name="ppc-budget"
                  id="ppc-budget-1"
                  value="ppc-budget-1"
                />

                <FormControl
                  type="radio"
                  color="blue"
                  label="£1-2k"
                  name="ppc-budget"
                  id="ppc-budget-2"
                  value="ppc-budget-2"
                />

                <FormControl
                  type="radio"
                  color="blue"
                  label="£2-5k"
                  name="ppc-budget"
                  id="ppc-budget-3"
                  value="ppc-budget-3"
                />

                <FormControl
                  type="radio"
                  color="blue"
                  label="£5-10k"
                  name="ppc-budget"
                  id="ppc-budget-4"
                  value="ppc-budget-4"
                />

                <FormControl
                  type="radio"
                  color="blue"
                  label="£10k+"
                  name="ppc-budget"
                  id="ppc-budget-5"
                  value="ppc-budget-5"
                />
              </div>

              <Fragment slot="bottom">
                <p class="text-grey text-14 lg:text-16 text-balance">
                  PPC campaigns from Yellowball start from £750 per month,
                  excluding Ad spend structured over a minimum 3 month rolling
                  agreement.
                </p>
              </Fragment>
            </FormGroup>

            <FormInput
              label="Tell us about your project *"
              type="text"
              id="about"
              name="about"
              value=""
              placeholder="placeholder"
              required
            />

            <FormGroup
              headline="Anything to share? Brief, technical scope or supporting documents?"
            >
              <input type="file" name="file" id="file" />
            </FormGroup>

            <FormGroup>
              <FormCheckbox color="white" name="agree" id="agree" value="agree">
                I agree to the Yellowball
                <a href="/" class="underline">Privacy Policy</a>
              </FormCheckbox>
            </FormGroup>

            <button type="submit">
              <Button text="Submit" hasArrow />
            </button>
          </form>
        </Fragment>

        <Fragment slot="aside">
          <CardInfo title="Contact Details">
            <p class="text-white font-heading text-18 md:text-20">
              <a href="mailto:info@weareyellowball.com">
                info@weareyellowball.com
              </a>
            </p>

            <p class="text-white font-heading text-18 md:text-20">
              020 8049 3080
            </p>
          </CardInfo>

          <CardInfo title="Address">
            <address class="text-white font-heading text-18 md:text-20">
              Borough Yards, 13 Dirty Lane, London, SE1 9PA
            </address>
          </CardInfo>
        </Fragment>
      </BlockContact>
    </section>
  </main>
</Layout>
