---
import Layout from '@/layouts/Layout.astro'
import BlockCardStacks from '@/components/Block/CardStacks.astro'
import BlockCarouselProjects from '@/components/Block/CarouselProjects.astro'
import BlockFAQs from '@/components/Block/FAQs.astro'
import BlockFeaturedProjects from '@/components/Block/FeaturedProjects.astro'
import BlockHeadingBanner from '@/components/Block/HeadingBanner.astro'
import BlockHeroHome from '@/components/Block/HeroHome.astro'
import BlockHeroText from '@/components/Block/HeroText.astro'
import BlockServiceCards from '@/components/Block/ServiceCards.astro'
import BlockServiceList from '@/components/Block/ServiceList.astro'
import BlockTestimonials from '@/components/Block/Testimonials.astro'
---

<Layout title="Home">
  <main>
    <BlockHeroHome />
    <BlockCarouselProjects />
    <BlockHeadingBanner />
    <BlockServiceCards />
    <BlockServiceList />
    <BlockCardStacks />
    <BlockHeroText
      headline="Stunning bespoke web design that captivates & converts"
    />
    <BlockFeaturedProjects />
    <BlockTestimonials />
    <BlockFAQs />
  </main>
</Layout>
