---
import Layout from "@/layouts/Layout.astro";
import BlockHeadingBanner from "@/components/Block/HeadingBanner.astro";
import BlockCarouselProjects from "@/components/Block/CarouselProjects.astro";
import HeroHome from "@/components/Block/HeroHome.astro";
import ServiceCards from "@/components/Block/ServiceCards.astro";
---

<Layout title="Home">
  <main>
    <HeroHome />
    <BlockCarouselProjects />
    <BlockHeadingBanner />
    <ServiceCards />
  </main>
</Layout>
