---
import Layout from '@/layouts/Layout.astro'
import BlockCardStacks from '@/components/Block/CardStacks.astro'
import BlockCarouselProjects from '@/components/Block/CarouselProjects.astro'
import BlockFAQs from '@/components/Block/FAQs.astro'
import BlockHeadingBanner from '@/components/Block/HeadingBanner.astro'
import BlockServiceCards from '@/components/Block/ServiceCards.astro'
import BlockServiceList from '@/components/Block/ServiceList.astro'
import BlockFeaturedProjects from '@/components/Block/FeaturedProjects.astro'
import HeroHome from '@/components/Block/HeroHome.astro'
import HeroText from '@/components/Block/HeroText.astro'
---

<Layout title="Home">
  <main>
    <HeroHome />
    <BlockCarouselProjects />
    <BlockHeadingBanner />
    <BlockServiceCards />
    <BlockServiceList />
    <BlockCardStacks />
    <BlockFAQs />
    <HeroText
      headline="Stunning bespoke web design that captivates & converts"
    />
    <BlockFeaturedProjects />
  </main>
</Layout>
