---
import Layout from "@/layouts/Layout.astro";
import HeadingBanner from "@/components/Block/HeadingBanner.astro";
import HeroHome from "@/components/Block/HeroHome.astro";
import ServiceCards from "@/components/Block/ServiceCards.astro";
import ServiceList from "@/components/Block/ServiceList.astro";
---

<Layout title="Home">
  <main>
    <HeroHome />
    <HeadingBanner />
    <ServiceCards />
    <ServiceList />
  </main>
</Layout>
