---
import Layout from '@/layouts/Layout.astro';
import Icon from '@/components/Elements/Icon.astro';
---

<Layout title="Index">
  <main class="w-full py-50 grid grid-cols-1 gap-50">
    <section>
      <div class="wrapper">
        <Icon name="yellowball" class="block w-[117px] h-[22px]" />
      </div>
    </section>

    <section>
      <ul class="wrapper flex flex-col gap-10 text-18 font-heading">
        <li>
          <a
            href="/home"
            class="hover:text-yellow transition-colors duration-300"
          >
            Home
          </a>
        </li>
        <li>
          <a
            href="/seo"
            class="hover:text-green transition-colors duration-300"
          >
            SEO
          </a>
        </li>
        <li>
          <a
            href="/seo/audit-services"
            class="hover:text-green transition-colors duration-300"
          >
            Audit Services
          </a>
        </li>
        <li>
          <a href="/ppc" class="hover:text-blue transition-colors duration-300">
            PPC
          </a>
        </li>
        <li>
          <a
            href="/wordpress"
            class="hover:text-yellow transition-colors duration-300"
          >
            WordPress
          </a>
        </li>
        <li>
          <a
            href="/graphic-design"
            class="hover:text-purple transition-colors duration-300"
          >
            Graphic Design
          </a>
        </li>
        <li>
          <a
            href="/guides"
            class="hover:text-blue transition-colors duration-300"
          >
            Guides
          </a>
        </li>
        <li>
          <a
            href="/guides/inner"
            class="hover:text-blue transition-colors duration-300"
          >
            Guides Inner
          </a>
        </li>
        <li>
          <a
            href="/contact"
            class="hover:text-green transition-colors duration-300"
          >
            Contact
          </a>
        </li>
        <li>
          <a
            href="/thank-you"
            class="hover:text-yellow transition-colors duration-300"
          >
            Thank You
          </a>
        </li>
        <li>
          <a
            href="/privacy-policy"
            class="hover:text-blue transition-colors duration-300"
          >
            Privacy Policy
          </a>
        </li>
        <li>
          <a
            href="/404"
            class="hover:text-purple transition-colors duration-300"
          >
            404
          </a>
        </li>
        <li>
          <a
            href="/yb-lite"
            class="hover:text-grey transition-colors duration-300"
          >
            Yellowball Lite
          </a>
        </li>
        <li>
          <a
            href="/our-work"
            class="hover:text-yellow transition-colors duration-300"
          >
            Our Work
          </a>
        </li>
        <li>
          <a
            href="/our-work-inner"
            class="hover:text-yellow transition-colors duration-300"
          >
            Our Work Inner
          </a>
        </li>
        <li>
          <a
            href="/our-work-inner-lite"
            class="hover:text-grey transition-colors duration-300"
          >
            Our Work Inner Lite
          </a>
        </li>
        <li>
          <a
            href="/agency"
            class="hover:text-purple transition-colors duration-300"
          >
            Agency
          </a>
        </li>
        <li>
          <a
            href="/styleguide"
            class="hover:text-yellow transition-colors duration-300"
          >
            Styleguide
          </a>
        </li>
      </ul>
    </section>
  </main>
</Layout>
