---
import Layout from "../layouts/Layout.astro";
import HeroHome from "../components/Block/HeroHome.astro";
import CardService from "../components/Card/Service.astro";
---

<Layout title="Home">
  <main>
    <HeroHome />

    <CardService
      title="SEO"
      description="Rank higher and grow your business faster with our leading SEO team. We'll get your site to the top of Google to increase revenue, leads and results."
    />

    <CardService
      title="Paid Search"
      description="Fast-track your brand's visibility with data-driven paid media strategies. Across Google, Instagram, Facebook and LinkedIn, we help you reach your audience instantly."
    />
  </main>
</Layout>
