---
import Layout from '@/layouts/Layout.astro';
import Icon from '@/components/Elements/Icon.astro';

const classSection = 'py-50 md:py-[75px]';
---

<Layout title="Index">
  <main>
    <section class={classSection}>
      <div class="wrapper">
        <Icon name="yellowball" class="block w-[117px] h-[22px]" />
      </div>
    </section>

    <section class={classSection}>
      <ul class="wrapper flex flex-col gap-10">
        <li class="text-20 font-heading">
          <a
            href="/home"
            class="hover:text-yellow transition-colors duration-300"
          >
            Home
          </a>
        </li>
        <li class="text-20 font-heading">
          <a
            href="/seo"
            class="hover:text-green transition-colors duration-300"
          >
            SEO
          </a>
        </li>
        <li class="text-20 font-heading">
          <a
            href="/seo/audit-services"
            class="hover:text-green transition-colors duration-300"
          >
            Audit Services
          </a>
        </li>
        <li class="text-20 font-heading">
          <a href="/ppc" class="hover:text-blue transition-colors duration-300">
            PPC
          </a>
        </li>
        <li class="text-20 font-heading">
          <a
            href="/wordpress"
            class="hover:text-yellow transition-colors duration-300"
          >
            WordPress
          </a>
        </li>
        <li class="text-20 font-heading">
          <a
            href="/guides"
            class="hover:text-blue transition-colors duration-300"
          >
            Guides
          </a>
        </li>
        <li class="text-20 font-heading">
          <a
            href="/guides/inner"
            class="hover:text-blue transition-colors duration-300"
          >
            Guides Inner
          </a>
        </li>
        <li class="text-20 font-heading">
          <a
            href="/contact"
            class="hover:text-green transition-colors duration-300"
          >
            Contact
          </a>
        </li>
        <li class="text-20 font-heading">
          <a
            href="/thank-you"
            class="hover:text-yellow transition-colors duration-300"
          >
            Thank You
          </a>
        </li>
        <li class="text-20 font-heading">
          <a
            href="/privacy-policy"
            class="hover:text-blue transition-colors duration-300"
          >
            Privacy Policy
          </a>
        </li>
        <li class="text-20 font-heading">
          <a
            href="/404"
            class="hover:text-purple transition-colors duration-300"
          >
            404
          </a>
        </li>
        <li class="text-20 font-heading">
          <a
            href="/yb-lite"
            class="hover:text-grey transition-colors duration-300"
          >
            Yellowball Lite
          </a>
        </li>
        <li class="text-20 font-heading">
          <a
            href="/our-work"
            class="hover:text-yellow transition-colors duration-300"
          >
            Our Work
          </a>
        </li>
        <li class="text-20 font-heading">
          <a
            href="/styleguide"
            class="hover:text-yellow transition-colors duration-300"
          >
            Styleguide
          </a>
        </li>
      </ul>
    </section>
  </main>
</Layout>
