---
import Layout from "@/layouts/Layout.astro";
import HeroHome from "@/components/Block/HeroHome.astro";
import ServiceCards from "@/components/Block/ServiceCards.astro";
---

<Layout title="Home">
  <main>
    <HeroHome />
    <ServiceCards />
  </main>
</Layout>
