---
import Layout from "@/layouts/Layout.astro";
import BlockHeadingBanner from "@/components/Block/HeadingBanner.astro";
import BlockCarouselProjects from "@/components/Block/CarouselProjects.astro";
import FeaturedProjects from "@/components/Block/FeaturedProjects.astro";
import HeroHome from "@/components/Block/HeroHome.astro";
import HeroText from "@/components/Block/HeroText.astro";
import ServiceCards from "@/components/Block/ServiceCards.astro";
import ServiceList from "@/components/Block/ServiceList.astro";
---

<Layout title="Home">
  <main>
    <HeroHome />
    <BlockCarouselProjects />
    <BlockHeadingBanner />
    <ServiceCards />
    <ServiceList />
    <HeroText
      headline="Stunning bespoke web design that captivates & converts"
    />
    <FeaturedProjects />
  </main>
</Layout>
