---
import Layout from "../layouts/Layout.astro";

import Button from "@/components/Elements/Button.astro";
---

<Layout title="Styleguide">
  <main class="mt-200 wrapper">
    <h1>Buttons</h1>

    <button>
      <Button text="Let’s Chat" hasArrow />
    </button>

    <button>
      <Button text="View all projects" hasArrow />
    </button>

    <button>
      <Button text="All posts" hasArrow />
    </button>

    <button>
      <Button text="Speak to a Web Expert" hasArrow />
    </button>

    <button>
      <Button text="View all projects" theme="white-border" />
    </button>
  </main>
</Layout>
