---
import Icon from "@/components/Elements/Icon.astro";
import Layout from "../layouts/Layout.astro";
import Cube from "@/components/Elements/Cube.astro";
import Chip from "@/components/Elements/Chip.astro";
import Button from "@/components/Elements/Button.astro";
import HeadingBanner from "@/components/Block/HeadingBanner.astro";
import ServiceCards from "@/components/Block/ServiceCards.astro";
import ServiceItem from "@/components/Elements/ServiceItem.astro";
import LayoutLines from "@/components/Layout/Lines.astro";
---

<Layout title="Styleguide">
  <main class="mt-200">
    <section class="wrapper my-40">
      <h1 class="font-heading font-bold text-21 mb-20">Buttons</h1>

      <div class="flex flex-wrap gap-8">
        <button type="button">
          <Button text="Let's Chat" hasArrow />
        </button>

        <button type="button">
          <Button text="View all projects" hasArrow />
        </button>

        <button type="button">
          <Button text="All posts" hasArrow />
        </button>

        <button type="button">
          <Button text="Speak to a Web Expert" hasArrow />
        </button>

        <button type="button">
          <Button text="View all projects" theme="white-border" />
        </button>
      </div>
    </section>

    <section class="wrapper my-40">
      <h1 class="font-heading font-bold text-21 my-20">Chips</h1>

      <div class="flex flex-wrap gap-8">
        <Chip title="PPC Team" class="bg-blue" />
        <Chip title="Design Team" class="bg-yellow" />
        <Chip title="SEO Team" class="bg-green" />
        <Chip title="Developers" class="bg-grey" />
      </div>
    </section>

    <section class="wrapper my-40">
      <h1 class="font-heading font-bold text-21 my-20">Cubes</h1>

      <div class="flex flex-wrap gap-8">
        <Cube iconSize="lg">
          <Icon name="logo-figma" />
        </Cube>

        <Cube iconSize="lg">
          <Icon name="logo-wp" />
        </Cube>

        <Cube iconSize="lg">
          <Icon name="logo-woo" />
        </Cube>

        <Cube iconSize="lg">
          <Icon name="logo-laravel" />
        </Cube>

        <Cube>
          <Icon name="logo-white-label" />
        </Cube>

        <Cube>
          <Icon name="logo-ecommerce" />
        </Cube>

        <Cube color="green">
          <Icon name="service-paper-magnifier" />
        </Cube>

        <Cube color="blue">
          <Icon name="service-paper-magnifier" />
        </Cube>

        <Cube color="yellow">
          <Icon name="service-paper-magnifier" />
        </Cube>

        <Cube color="purple">
          <Icon name="service-paper-magnifier" />
        </Cube>
      </div>
    </section>

    <section class="wrapper my-40">
      <h1 class="font-heading font-bold text-21 my-20">Shapes</h1>

      <div class="flex flex-wrap gap-8">
        <Icon name="shape-triangle" class="block w-20 text-yellow" />
        <Icon name="shape-square" class="block w-20 text-green" />
        <Icon name="shape-circle" class="block w-20 text-blue" />
      </div>
    </section>

    <section class="wrapper my-40">
      <h1 class="font-heading font-bold text-21 my-20">Service</h1>
      <p class="font-semibold text-15 my-20">&lt;ServiceItem /&gt;</p>

      <ServiceItem
        headline="WordPress Development"
        description="Custom WordPress websites designed for flexibility, performance, and scalability. Power your brand with a platform trusted by millions."
      >
        <Cube slot="icon" iconSize="lg">
          <Icon name="logo-wp" />
        </Cube>
      </ServiceItem>
    </section>

    <section class="wrapper my-40">
      <h1 class="font-heading font-bold text-21 my-20">Blocks</h1>

      <HeadingBanner />
      <ServiceCards />
    </section>

    <section class="bg-cream text-navy">
      <LayoutLines theme="light">
        <HeadingBanner />
      </LayoutLines>
    </section>

    <HeadingBanner />

    <HeadingBanner />
  </main>
</Layout>
