---
interface Props {
  class?: string;
  title: string;
}

const { class: className, title } = Astro.props as Props;
---

<section class:list={['wrapper mb-160', className]}>
  <h2 class="font-heading font-bold text-21 mb-[2em] opacity-50">{title}</h2>

  <slot />
</section>
