---
import CardProject from '@/components/Card/Project.astro';

interface Slide {
  imageMobile: ImageObject;
  imageDesktop: ImageObject;
}

interface Props {
  slides: Slide[];
  class?: string;
}

const { slides, class: className } = Astro.props as Props;

const classes = ['carousel-project', className];
---

<div
  data-js="carousel-project"
  data-css="carousel-project"
  class:list={classes}
  style={`--_slidesNumber: ${slides?.length}`}
>
  <div data-js-swiper class="swiper">
    <div class="swiper-wrapper">
      {
        slides.map(({ imageMobile, imageDesktop }) => (
          <div class="swiper-slide">
            <CardProject {imageMobile} {imageDesktop} />
          </div>
        ))
      }
    </div>

    <div class="swiper-pagination"></div>
  </div>
</div>

<style is:global>
  [data-css='carousel-project'] {
    --_nudge: theme('spacing.50');

    .carousel-project {
      width: 100%;
    }

    .swiper {
      --swiper-slide-duration: 1s;

      padding-bottom: var(--_nudge);
    }

    .swiper-slide {
      translate: 0 var(--_nudge) 0;
      transition: translate theme('transitionDuration.500')
        theme('transitionTimingFunction.smooth');

      &.swiper-slide-active {
        translate: 0 0 0;
      }
    }

    .swiper-pagination {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      z-index: 2;
    }
  }
</style>
