---
interface Props {
  class?: string;
}

const { class: className } = Astro.props as Props;
const classes = ['carousel-testimonials', 'w-full', className];
---

<div
  data-js="carousel-testimonials"
  data-css="carousel-testimonials"
  class:list={classes}
  class="swiper"
>
  <div class="swiper-wrapper">
    <slot name="slides" />
  </div>
</div>

<style is:global>
  [data-css='carousel-testimonials'] {
    .swiper {
      width: auto;
      margin-inline: calc(-1 * (var(--inner-gutter) / 2));
    }

    .swiper-slide {
      padding-inline: calc(var(--inner-gutter) / 2);
      width: 100%;

      @media screen(xs) {
        width: calc(6 / 8 * 100%);
      }

      @media screen(sm) {
        width: calc(1 / 2 * 100%);
      }

      @media screen(xl) {
        width: calc(1 / 3 * 100%);
      }
    }
  }
</style>
