---
import { colourText, colourBackground } from '@/utils/maps';
import Icon from '@/components/Elements/Icon.astro';

type Item = {
  color: ColorTypes;
  title: string;
  href: string;
};

interface Props {
  shape: 'circle' | 'square' | 'triangle';
  items: Item[];
  class?: string;
}

const {
  shape = 'triangle',
  items = [],
  class: className,
} = Astro.props as Props;
---

<ul
  class:list={[
    'flex justify-center items-center gap-15 sm:gap-20 select-none text-10 md:text-12 font-heading ',
    className,
  ]}
>
  {
    items.map((item, index) => (
      <li class="flex justify-center items-center gap-15 sm:gap-20">
        <a
          href={item.href}
          class:list={[
            'flex justify-center items-center gap-6 rounded-10 px-14 md:px-20 pt-[calc(10.5/12*1em)] pb-[calc(9.5/12*1em)] font-bold leading-[1]',
            index === items.length - 1 && items.length > 1
              ? `${colourBackground[item.color]} text-navy`
              : 'text-white border border-solid border-navy-lighter bg-navy',
            item.color === 'white'
              ? 'border border-solid border-navy/15'
              : null,
          ]}
        >
          {index === 0 && (
            <Icon
              name={`shape-${shape}`}
              class:list={[
                'block -mt-[0.1em]',
                shape === 'triangle'
                  ? 'w-[calc(11/12*1em)] h-[calc(10/12*1em)]'
                  : 'size-[calc(10/12*1em)]',
                colourText[item.color],
              ]}
            />
          )}

          {item.title}
        </a>

        {index < items.length - 1 && (
          <Icon name="chevron-right" class="block w-7 h-11" />
        )}
      </li>
    ))
  }
</ul>
