---
import { colourText, colourBackground } from '@/utils/maps';
import Icon from '@/components/Elements/Icon.astro';

type Item = {
  title: string;
  href: string;
};

interface Props {
  shape: 'circle' | 'square' | 'triangle';
  color?: ColorTypes;
  items: Item[];
  class?: string;
}

const {
  shape = 'triangle',
  color = 'yellow',
  items = [],
  class: className,
} = Astro.props as Props;

const lastItemClasses = `${colourBackground[color]} text-navy`;
---

<ul
  class:list={[
    'flex justify-center items-center gap-15 sm:gap-20 select-none text-11 sm:text-12 font-heading',
    className,
  ]}
>
  {
    items.map((item, index) => (
      <li class="flex justify-center items-center gap-15 sm:gap-20">
        <a
          href={item.href}
          class:list={[
            'flex justify-center items-center gap-10 rounded-8 px-15 sm:px-20 py-8 font-bold',
            index === items.length - 1 && items.length > 1
              ? lastItemClasses
              : 'text-white border border-white/10 bg-navy',
          ]}
        >
          {index === 0 && (
            <Icon
              name={`shape-${shape}`}
              class:list={['block w-10 h-9 -mt-1', colourText[color]]}
            />
          )}

          {item.title}
        </a>

        {index < items.length - 1 && (
          <Icon name="chevron-right" class="block text-white w-7 h-11" />
        )}
      </li>
    ))
  }
</ul>
