---
import Icon from '@/components/Elements/Icon.astro';

interface Props {
  class?: string;
  type?: 'white' | 'white-bordered' | 'navy-bordered' | 'navy';
  text: string;
  hasArrow?: boolean;
}

const {
  class: className,
  text,
  type = 'white',
  hasArrow = false,
} = Astro.props as Props;

const typeClasses = {
  white: [
    'bg-white text-navy before:border-transparent',
    '[a:hover_&]:bg-yellow [a:hover_&]:text-navy',
    '[button:hover_&]:bg-yellow [button:hover_&]:text-navy',
    '[a:hover_&]:light:bg-navy [a:hover_&]:light:text-white',
    '[button:hover_&]:light:bg-navy [button:hover_&]:light:text-white',
  ],
  navy: [
    'bg-navy text-white before:border-transparent',
    '[a:hover_&]:bg-yellow [a:hover_&]:text-navy',
    '[button:hover_&]:bg-yellow [button:hover_&]:text-navy',
    '[a:hover_&]:light:bg-navy/80 [a:hover_&]:light:text-white',
    '[button:hover_&]:light:bg-navy/80 [button:hover_&]:light:text-white',
  ],
  'white-bordered': [
    'bg-white text-navy before:border-grey',
    '[a:hover_&]:bg-yellow [a:hover_&]:text-navy [a:hover_&]:before:border-yellow',
    '[button:hover_&]:bg-yellow [button:hover_&]:text-navy [button:hover_&]:before:border-yellow',
    '[a:hover_&]:bg-navy [a:hover_&]:text-white [a:hover_&]:light:before:border-navy',
    '[button:hover_&]:bg-navy [button:hover_&]:text-white [button:hover_&]:light:before:border-navy',
  ],
  'navy-bordered': [
    'bg-navy text-white before:border-white',
    '[a:hover_&]:bg-yellow [a:hover_&]:text-navy [a:hover_&]:before:border-yellow',
    '[button:hover_&]:bg-yellow [button:hover_&]:text-navy [button:hover_&]:before:border-yellow',
  ],
};
---

<span
  class:list={[
    'relative inline-flex justify-center items-center gap-8 md:gap-12',
    'px-[36px] py-[1em]',
    'rounded-20 transition-colors duration-250 ease-smooth',
    'font-heading font-bold leading-[1.467] md:leading-[1.2223] text-15 md:text-18',
    'before:absolute before:inset-0 before:border before:border-solid before:rounded-[inherit] before:transition-colors before:duration-250 before:ease-smooth',
    'after:absolute after:inset-0 after:opacity-0 after:rounded-[inherit] after:transition-opacity after:duration-250 after:ease-smooth after:bg-navy',
    '[a:active_&]:after:opacity-10 [button:active_&]:after:opacity-10',
    typeClasses[type],
    className,
  ]}
>
  {text}

  {
    hasArrow && (
      <Icon
        name="arrow-ne"
        class="relative top-[0.05em] size-[0.6em] transform-gpu transition-transform duration-250 ease-smooth [a:hover_&]:translate-x-1/2 [a:hover_&]:-translate-y-1/2 [button:hover_&]:translate-x-1/2 [button:hover_&]:-translate-y-1/2"
      />
    )
  }
</span>
