---
import { colourText } from '@/utils/maps';

interface Props {
  color?: ColorTypes;
}

const { color = 'white' } = Astro.props as Props;

const hoverClasses = {
  white: '[a:hover_&]:text-navy [a:hover_&]:bg-white',
  green: '[a:hover_&]:text-navy [a:hover_&]:bg-green',
  blue: '[a:hover_&]:text-navy [a:hover_&]:bg-blue',
  yellow: '[a:hover_&]:text-navy [a:hover_&]:bg-yellow',
  purple: '[a:hover_&]:text-navy [a:hover_&]:bg-purple',
};
---

<span
  class:list={[
    'relative flex justify-center items-center size-40 md:size-50',
    'after:absolute after:inset-0',
    'after:border after:border-solid after:border-navy-lighter after:rounded-12',
    'bg-navy-light rounded-12',
    'transition-colors duration-250 ease-smooth',
    colourText[color],
    hoverClasses[color as keyof typeof hoverClasses],
  ]}
>
  <span class="size-22 [&_svg]:size-full">
    <slot />
  </span>
</span>
