---
interface Props {
  class?: string;
}

const { class: className } = Astro.props as Props;
---

<span
  class:list={[
    "flex justify-center items-center size-50",
    "rounded-lg",
    "text-white bg-navy border border-solid border-white/20",
    className,
  ]}
>
  <slot />
</span>
