---
interface Props {
  class?: string;
}

const { class: className } = Astro.props as Props;
---

<span
  class:list={[
    "relative inline-flex justify-center items-center size-50 [&>svg]:size-inherit",
    "after:absolute after:inset-0",
    "after:border after:border-solid after:border-navy-lighter after:rounded-lg",
    "rounded-lg",
    "text-white bg-navy-light",
    className,
  ]}
>
  <slot />
</span>
