---
import { colourText } from '@/utils/maps';
import Icon from '@/components/Elements/Icon.astro';

interface Props {
  type?: 'logo' | 'outline' | undefined;
  name?: string | undefined;
  hover?: string;
  color?: ColorTypes;
}

const { type, name, hover, color = 'white' } = Astro.props as Props;

const colorClasses = type === 'outline' ? colourText[color] : 'text-white';

const hoverClasses =
  type === 'outline'
    ? {
        white: '[a:hover_&]:text-navy [a:hover_&]:bg-white',
        green: '[a:hover_&]:text-navy [a:hover_&]:bg-green',
        blue: '[a:hover_&]:text-navy [a:hover_&]:bg-blue',
        yellow: '[a:hover_&]:text-navy [a:hover_&]:bg-yellow',
        purple: '[a:hover_&]:text-navy [a:hover_&]:bg-purple',
      }
    : {
        white: '[a:hover_&]:bg-white [a:hover_&]:text-navy',
        green: '[a:hover_&]:bg-white',
        blue: '[a:hover_&]:bg-white',
        yellow: '[a:hover_&]:bg-white',
        purple: '[a:hover_&]:bg-white',
      };
---

<span
  class:list={[
    'relative shrink-0 flex justify-center items-center size-40 md:size-50',
    'after:absolute after:inset-0',
    'after:border after:border-solid after:border-navy-lighter after:rounded-12',
    'bg-navy-light rounded-12',
    'transition-colors duration-250 ease-smooth',
    colorClasses,
    hoverClasses[color as keyof typeof hoverClasses],
  ]}
>
  {
    type === 'outline' ? (
      <span class="size-22 [&_svg]:size-full">
        <Icon name={name} width={28} height={28} class="size-full" />
      </span>
    ) : (
      <span class="relative size-22 md:size-28 [&_svg]:size-full">
        <span class="block size-full transition-opacity duration-250 ease-smooth [a:hover_&]:opacity-0">
          <Icon name={name} width={28} height={28} class="size-full" />
        </span>

        {hover && (
          <span class="absolute inset-0 size-inherit opacity-0 transition-opacity duration-250 ease-smooth [a:hover_&]:opacity-100">
            <Icon name={hover} width={28} height={28} class="size-full" />
          </span>
        )}
      </span>
    )
  }
</span>
