---
import Icon from '@/components/Elements/Icon.astro';

interface Props {
  title: string;
  class?: string | undefined;
}

const { title, class: className, ...rest } = Astro.props as Props;
---

<p
  data-js="cursor"
  class:list={[
    'text-10 md:text-12 font-bold text-navy rounded-8 px-10 py-4 inline-flex justify-center items-center gap-5 select-none',
    className,
  ]}
  {...rest}
>
  <Icon name="cursor" class="size-8 md:size-10" />
  {title}
</p>
