---
interface Props {
  hasExit?: boolean | null;
}

const { hasExit = null } = Astro.props as Props;
---

<div
  data-js="cursors"
  data-js-exit={hasExit}
  class="absolute inset-0 z-10 pointer-events-none"
>
  <slot />
</div>
