---
import type { HTMLAttributes } from 'astro/types';
import { colourOutline, colourBackground } from '@/utils/maps';

interface Input {
  label: string;
  color?: ColorTypes;
}

type Props = HTMLAttributes<'input'> & Input;

const { label, color = 'green', ...rest } = Astro.props as Props;
---

<div class="">
  <input type="checkbox" class="peer sr-only" {...rest} />

  <label
    for={rest.id}
    class:list={[
      'inline-flex text-white outline outline-white outline-1 justify-center items-baseline gap-8 md:gap-12 select-none px-[26px] pt-16 pb-15 md:px-[33px] rounded-20 font-heading text-15 md:text-18 font-bold peer-checked:text-navy transition-all duration-300',
      `peer-checked:${colourOutline[color]}`,
      `peer-checked:${colourBackground[color]}`,
    ]}
  >
    {label}
  </label>
</div>
