---
interface Props {
  text: string;
}

const { text } = Astro.props as Props;

const sentences = text.split("|");

const paddingClasses = ["md:pl-[0ch]", "md:pl-[2ch]", "md:pl-[1ch]"];
---

<h2 class="font-heading text-fluid-h2 font-semibold mdMax:text-center">
  {
    sentences.map((sentence, index) => (
      <span
        class:list={["md:block", paddingClasses[index % paddingClasses.length]]}
      >
        {sentence}
      </span>
    ))
  }
</h2>
