---
import type { HTMLAttributes } from "astro/types";

export interface O {
  name: string;
}

export type Props = HTMLAttributes<"div"> & O;

const { name, ...props } = Astro.props as Props;
const { default: innerHTML } = await import(`../../icon/${name}.svg?raw`);

// More: https://ellodave.dev/blog/article/using-svgs-as-astro-components-and-inline-css/
---

<span {...props}>
  <Fragment set:html={innerHTML} />
</span>
