---
import type { HTMLAttributes } from 'astro/types';

interface Icon {
  name: string;
}

type Props = HTMLAttributes<'span'> & Icon;

const { name, ...rest } = Astro.props as Props;
const { default: innerHTML } = await import(`../../icon/${name}.svg?raw`);

// More: https://ellodave.dev/blog/article/using-svgs-as-astro-components-and-inline-css/
---

<span {...rest}>
  <Fragment set:html={innerHTML} />
</span>
