---
import { twMerge } from "tailwind-merge";
import Icon from "@/components/Elements/Icon.astro";

interface Props {
  href: string;
  class?: string;
}

const { href, class: className } = Astro.props as Props;

const classes = twMerge(
  "group inline-flex justify-center items-center gap-10 select-none",
  className
);
---

<a href={href} class:list={[classes]}>
  <slot />

  <Icon
    name="arrow-ne"
    class="size-10 md:size-12 group-hover:translate-x-2 group-hover:-translate-y-2 transition-transform duration-300 shrink-0"
  />
</a>
