---
import { Icon } from 'astro-icon/components';

interface Props {
  color?: ColorTypes;
  class?: string;
}

const { color = 'yellow', class: className, ...props } = Astro.props as Props;

const hoverClasses = {
  green: '[a:hover_&]:text-green',
  blue: '[a:hover_&]:text-blue',
  yellow: '[a:hover_&]:text-yellow',
  purple: '[a:hover_&]:text-purple',
};
---

<span
  class:list={[
    'link-arrow inline-block select-none',
    'transition-colors duration-150 ease-smooth',
    hoverClasses[color as keyof typeof hoverClasses],
    className,
  ]}
  {...props}
>
  <slot /><Icon
    name="arrow-ne"
    class="link-arrow__icon inline-block align-baseline ml-[0.67em] size-10 md:size-12 transition-transform duration-150 ease-smooth shrink-0"
  />
</span>

<style>
  .link-arrow__icon {
    @media (hover: hover) {
      translate: 0 0 0;

      :global(a):hover &,
      :global(button):not(:disabled):hover & {
        translate: 0.25em -0.25em 0;
      }
    }
  }
</style>
