---
import { colourText } from '@/utils/maps';

interface Props {
  number: number;
  text: string;
  color?: ColorTypes;
  class?: string;
}

const {
  number,
  text,
  color = 'current',
  class: className,
} = Astro.props as Props;
---

<p
  class:list={[
    'grid grid-cols-4 gap-x-12 sm:flex sm:flex-col max-w-[26em] sm:max-w-[16em] place-items-start',
    'text-15 md:text-18 font-heading font-bold text-pretty',
    className,
  ]}
>
  <span
    class:list={[
      'numbered-text__index col-span-1 block text-fluid-h2 font-semibold opacity-15 -mt-[0.12em] -mb-[0.56em] whitespace-nowrap',
      colourText[color],
    ]}
  >
    {number.toString().padStart(2, '0')}
  </span>

  <span class="block col-span-3">
    {text}
  </span>
</p>

<style>
  .numbered-text__index {
    mask-image: linear-gradient(to top, transparent 35%, black 100%);
  }
</style>
