---
import { colourText } from '@/utils/maps';
import Icon from '@/components/Elements/Icon.astro';

interface Props {
  shape: 'circle' | 'square' | 'triangle';
  color?: ColorTypes;
  class?: string;
}

const {
  shape = 'triangle',
  color = 'yellow',
  class: className,
  ...rest
} = Astro.props as Props;
---

<div
  class:list={[
    'shape-gradient z-0 isolate pointer-events-none overflow-hidden',
    colourText[color],
    className,
  ]}
  {...rest}
>
  <Icon
    name={`shape-${shape}`}
    class="block size-full max-w-full max-h-full opacity-[0.2]"
  />
</div>

<style>
  .shape-gradient {
    mask-image: linear-gradient(to top, transparent 25%, black 100%);
  }
</style>
