---
import Icon from "@/components/Elements/Icon.astro";
---

<ul class="grid grid-cols-2 place-items-center gap-12 w-80">
  <li class="col-span-2 text-yellow">
    <Icon name="shape-triangle" />
  </li>

  <li class="col-span-1 text-green">
    <Icon name="shape-square" />
  </li>

  <li class="col-span-1 text-blue">
    <Icon name="shape-circle" />
  </li>
</ul>
