---
import type { HTMLAttributes } from 'astro/types';
import { componentProperties } from '@/utils/helpers';
import { colourText } from '@/utils/maps';
import Icon from '@/components/Elements/Icon.astro';

interface Base {
  shape: 'circle' | 'square' | 'triangle';
  color?: ColorTypes;
}

type Props = HTMLAttributes<'div'> & Base;

const { shape = 'triangle', color = 'yellow', ...rest } = Astro.props as Props;
const { classes, attributes } = componentProperties(
  [
    'shape-gradient z-0 isolate pointer-events-none overflow-hidden',
    colourText[color],
  ],
  rest,
);
---

<div class:list={classes} {...attributes}>
  <Icon
    name={`shape-${shape}`}
    class="block size-full max-w-full max-h-full opacity-[0.2]"
  />
</div>

<style is:global>
  .shape-gradient {
    mask-image: linear-gradient(to top, transparent 25%, black 100%);
  }
</style>
