---
import { colourText } from '@/utils/maps';
import { Icon } from 'astro-icon/components';

interface Props {
  shape: 'circle' | 'square' | 'triangle';
  color?: ColorTypes;
  class?: string;
}

const {
  shape = 'triangle',
  color = 'yellow',
  class: className,
} = Astro.props as Props;
---

<div
  class:list={[
    'isolate pointer-events-none overflow-hidden',
    'after:absolute after:inset-0 after:bg-gradient-to-b after:from-transparent after:to-navy after:to-75%',
    colourText[color],
    className,
  ]}
>
  <Icon
    data-js-shape-gradient-icon
    name={`shape-${shape}`}
    class="block size-full max-w-full max-h-full opacity-15"
  />
</div>
