---
import { colourText } from '@/utils/maps';

import Icon from '@/components/Elements/Icon.astro';

interface Props {
  shape?: ShapeTypes;
  color?: ColorTypes;
  text: string;
  class?: string;
}

const {
  shape = 'square',
  color = 'green',
  text,
  class: className,
  ...rest
} = Astro.props as Props;
---

<span
  class:list={[
    'flex justify-center items-center gap-6 rounded-10 px-14 md:px-16 pt-[calc(9.5/12*1em)] pb-[calc(10.5/12*1em)] text-10 md:text-12 font-heading font-bold',
    'bg-card',
    'border border-solid border-navy-lighter',
    className,
  ]}
  {...rest}
>
  <Icon
    name={`shape-${shape}`}
    class:list={[
      'block -mt-[0.1em]',
      shape === 'triangle'
        ? 'w-[calc(11/12*1em)] h-[calc(10/12*1em)]'
        : 'size-[calc(10/12*1em)]',
      colourText[color],
    ]}
  />

  <span class="leading-[1]">{text}</span>
</span>
