---
import { colourText } from '@/utils/maps';
import Icon from '@/components/Elements/Icon.astro';

interface Props {
  color?: ColorTypes;
  quote: string;
  name: string;
  company: string;
  theme?: ThemeTypes;
  class?: string;
}

const {
  color = 'current',
  quote,
  name,
  company,
  theme = 'dark',
  class: className,
} = Astro.props as Props;
---

<figure class:list={['flex flex-col gap-20', className]}>
  <div class="flex flex-col gap-30">
    <div
      class:list={[
        'flex gap-5',
        theme === 'light' ? 'text-navy' : 'text-yellow',
      ]}
    >
      <Icon name="star" class="size-16 lg:size-20 block" />
      <Icon name="star" class="size-16 lg:size-20 block" />
      <Icon name="star" class="size-16 lg:size-20 block" />
      <Icon name="star" class="size-16 lg:size-20 block" />
      <Icon name="star" class="size-16 lg:size-20 block" />
    </div>

    <blockquote
      class="quote__wrapper text-21 md:text-28 font-heading font-semibold text-balance"
    >
      <p class="">{quote}</p>
    </blockquote>
  </div>

  <figcaption>
    <p
      class:list={[
        'text-12 lg:text-14 font-heading flex items-center gap-5 pt-5 mt-auto font-bold',
        colourText[color as keyof typeof colourText],
      ]}
    >
      {name}
      <span>&bullet;</span>
      <cite class="not-italic">{company}</cite>
    </p>
  </figcaption>
</figure>

<style is:global>
  .quote__wrapper {
    position: relative;
    quotes: '“' '”';

    & p {
      font: inherit;
      letter-spacing: inherit;

      &:first-of-type::before {
        content: open-quote;
        position: absolute;
        left: -0.4em;
      }

      &:last-of-type::after {
        content: close-quote;
      }
    }
  }
</style>
