<span
  class="!inline-flex [&>img]:rounded-full [&>img]:outline [&>img]:outline-1 [&>img]:outline-card [&>img]:size-[0.75em] [&>img]:object-cover [&>img]:shrink-0 [&>img]:-mr-[0.3125em] pl-1 py-1 pr-[0.3125em]"
>
  <img
    src="/images/test-avatar-1.webp"
    alt=""
    class="w-full h-full object-cover"
  />
  <img
    src="/images/test-avatar-2.webp"
    alt=""
    class="w-full h-full object-cover"
  />
  <img
    src="/images/test-avatar-3.webp"
    alt=""
    class="w-full h-full object-cover"
  />
  <img
    src="/images/test-avatar-4.webp"
    alt=""
    class="w-full h-full object-cover"
  />
  <img
    src="/images/test-avatar-5.webp"
    alt=""
    class="w-full h-full object-cover"
  />
</span>
