---

---

<script>
  import { gsap } from "gsap";
  import SplitType from "split-type";

  const textReveal = document.querySelectorAll("[data-js='text-reveal']");

  if (textReveal?.length) {
    const masks = new SplitType("[data-js='text-reveal'] > *", {
      types: "lines",
      lineClass: "mask",
      tagName: "span",
    });

    gsap.set(masks.lines, {
      clipPath: `polygon(0 0, 100% 0, 100% 115%, 0% 115%)`,
    });

    const text = new SplitType("[data-js='text-reveal'] .mask", {
      types: "lines",
      tagName: "span",
    });

    if (text.lines?.length) {
      gsap.set(".line", { yPercent: 100 });

      textReveal.forEach((el) => {
        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                const lines = entry.target.querySelectorAll(".line");

                gsap.to(lines, {
                  duration: 1,
                  yPercent: 0,
                  ease: "power2.inOut",
                  stagger: 0.05,
                });
              }
            });
          },
          {
            threshold: 0.5,
          }
        );

        observer.observe(el);
      });
    }
  }
</script>

<div data-js="text-reveal">
  <slot />
</div>
