---

---

<script>
  import { gsap } from 'gsap';
  import SplitType from 'split-type';

  const textReveal = document.querySelectorAll("[data-js='text-reveal']");

  textReveal.forEach(reveal => {
    const directsSelector = [
      ...reveal.querySelectorAll(':scope > *'),
    ] as HTMLElement[];

    const directs = new SplitType(directsSelector, {
      types: 'lines',
      lineClass: 'mask',
      tagName: 'span',
    });

    gsap.set(directs.lines, {
      clipPath: `polygon(0 0, 100% 0, 100% 100%, 0% 100%)`,
    });

    const masksSelector = [
      ...reveal.querySelectorAll(':scope .mask'),
    ] as HTMLElement[];

    const masks = new SplitType(masksSelector, {
      types: 'lines',
      tagName: 'span',
    });

    gsap.fromTo(
      masks.lines,
      { yPercent: 100 },
      {
        duration: 1,
        yPercent: 0,
        ease: 'power4.out',
        stagger: 0.05,
        scrollTrigger: {
          markers: true,
          scrub: true,
          trigger: reveal,
          start: '20% 80%',
          end: 'bottom center',
        },
      },
    );
  });
</script>

<div data-js="text-reveal">
  <slot />
</div>
