---
interface Props {
  class?: string;
  spacingClasses?: string;
}

const { class: className, spacingClasses = '' } = Astro.props as Props;
---

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/dist/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const tickers = document.querySelectorAll(
    '[data-js="ticker"]',
  ) as NodeListOf<HTMLElement>;

  tickers.forEach(ticker => {
    const container = ticker.querySelector(
      '[data-js-container]',
    ) as HTMLElement;

    const wrappers = ticker.querySelectorAll(
      '[data-js-wrapper]',
    ) as NodeListOf<HTMLDivElement>;

    const lists = ticker.querySelectorAll(
      '[data-js-list]',
    ) as NodeListOf<HTMLDivElement>;

    if (container && wrappers && lists) {
      let lastProgress = 0;

      ScrollTrigger.create({
        markers: false,
        trigger: ticker,
        start: 'top bottom',
        end: 'bottom top',
        scrub: 1.5,
        onUpdate: self => {
          const progress = self.progress;

          if (progress < lastProgress) {
            wrappers.forEach(wrapper => {
              wrapper.style.animationPlayState = 'running';
            });

            lists.forEach(list => {
              list.style.animationPlayState = 'paused';
            });
          } else {
            wrappers.forEach(wrapper => {
              wrapper.style.animationPlayState = 'paused';
            });

            lists.forEach(list => {
              list.style.animationPlayState = 'running';
            });
          }

          lastProgress = progress;

          gsap.to(container, {
            x: -container.clientWidth * progress + 1,
          });
        },
      });
    }
  });
</script>

<div data-js="ticker" class:list={['contain-layout', className]}>
  <div data-js-container class="flex justify-center">
    {
      [...Array(4)].map(() => (
        <div data-js-wrapper class="min-w-full shrink-0">
          <div
            data-js-list
            class="select-none flex justify-center shrink-0 min-w-full"
          >
            <div
              class:list={[
                'flex shrink-0 items-center justify-around min-w-full',
                spacingClasses,
              ]}
            >
              <slot />
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style is:global>
  [data-js='ticker'] {
    --speed: 20s;

    @keyframes tickerLeft {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    @keyframes tickerRight {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }

    [data-js-wrapper] {
      animation: tickerRight var(--speed) linear infinite paused;
    }

    [data-js-list] {
      animation: tickerLeft var(--speed) linear infinite;
    }
  }
</style>
