---
import { twMerge } from "tailwind-merge";
import Icon from "../Elements/Icon.astro";

interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props as Props;

// TODO: Fix the merge issue with conif in TW? "text-12" gets removed.
const classes = twMerge(
  "font-bold text-12 text-navy rounded-lg px-2.5 py-1.5 flex justify-center items-center gap-2 select-none bg-green",
  className
);
---

<p class:list={[classes]}>
  <Icon name="cursor" />
  {title}
</p>
