/* Base */
@import url('tailwindcss/base');
@import url('@/assets/styles/base/settings.css');
@import url('@/assets/styles/base/fonts.css');

/* Components */
@import url('tailwindcss/components');
@import url('@/assets/styles/components/swiper.css');

/* Utilities */
@import url('tailwindcss/utilities');
@import url('@/assets/styles/utilities/extras.css');

@layer {
  :root {
    /* Global units */
    --header-height: 74px;
    --inner-gutter: theme('spacing.12');
    --outer-gutter: clamp(theme('spacing.24'), 1.8169px + 5.9155vw, 87px);

    @media screen(md) {
      --header-height: 94px;
      --inner-gutter: theme('spacing.30');
    }
  }
}
