---
import 'lenis/dist/lenis.css';
import '@/assets/styles/global.css';
import AppHeader from '@/components/App/Header.astro';
import AppFooter from '@/components/App/Footer.astro';
import AppFooterTicker from '@/components/App/FooterTicker.astro';
import LayoutLines from '@/components/Layout/Lines.astro';
import DevOnly from '@/components/Tools/DevOnly.astro';
import Guide from '@/components/Tools/Guide.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script>
  import Lenis from 'lenis';

  new Lenis({
    autoRaf: true,
  });
</script>

<html lang="en" class="bg-navy text-white">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Yellowball is London's leading web design and development agency specialising in beautiful bespoke websites that drive commercial growth."
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="preload"
      href="/fonts/AreaNormal-SemiBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/AreaNormal-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>

  <body class="font-body text-16 antialiased">
    <LayoutLines>
      <AppHeader />
      <slot />
      <AppFooterTicker />
      <AppFooter />
    </LayoutLines>
  </body>

  <DevOnly>
    <Guide />
  </DevOnly>
</html>
