---
import "lenis/dist/lenis.css";
import "@/assets/styles/global.css";
import AppHeader from "@/components/App/Header.astro";
import AppFooterTicker from "@/components/App/FooterTicker.astro";
import LayoutLines from "@/components/Layout/Lines.astro";
import DevOnly from "@/components/Tools/DevOnly.astro";
import Guide from "@/components/Tools/Guide.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script>
  import Lenis from "lenis";

  new Lenis({
    autoRaf: true,
  });
</script>

<html lang="en" class="bg-navy text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.typekit.net/cky5cvm.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="font-body text-16 antialiased">
    <AppHeader />

    <LayoutLines>
      <slot />
    </LayoutLines>

    <AppFooterTicker />
  </body>

  <DevOnly>
    <Guide />
  </DevOnly>
</html>

<style is:global></style>
