---
import "lenis/dist/lenis.css";
import "@/assets/styles/global.css";
import ToolsGuide from "@/components/Tools/Guide.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script>
  import Lenis from "lenis";

  const lenis = new Lenis({
    autoRaf: true,
  });

  lenis.on("scroll", (e: any) => {
    console.log(e);
  });
</script>

<html lang="en" class="bg-navy text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/cky5cvm.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="font-body text-16 antialiased">
    <slot />
  </body>

  <ToolsGuide />
</html>

<style is:global></style>
