---
interface Props {
  theme?: ThemeTypes;
}

const { theme = 'dark' } = Astro.props as Props;
---

<div class="ui-before-after__container flex flex-col items-center gap-y-30">
  <div
    class:list={[
      'rounded-16 p-3 border',
      theme === 'dark'
        ? 'bg-card border-navy-lighter'
        : 'bg-white border-navy/15',
    ]}
  >
    <div
      class="relative z-1 flex justify-center items-center gap-2 text-center"
    >
      <label
        class:list={[
          'ui-before-after__label relative w-1/2 shrink-0 font-heading font-bold text-12 px-18 py-10 rounded-12 transition-colors duration-200 ease-smooth select-none cursor-pointer',
          theme === 'dark'
            ? '[&:has(input:checked)]:text-navy'
            : '[&:has(input:checked)]:text-white',
        ]}
        for="before"
      >
        Before

        <input
          class="ui-before-after__input ui-before-after__input--before absolute top-0 left-0 opacity-0"
          type="radio"
          name="before-after"
          id="before"
          checked
        />
      </label>

      <label
        class:list={[
          'ui-before-after__label relative w-1/2 shrink-0 font-heading font-bold text-12 px-18 py-10 rounded-12 transition-colors duration-200 ease-smooth select-none cursor-pointer',
          theme === 'dark'
            ? '[&:has(input:checked)]:text-navy'
            : '[&:has(input:checked)]:text-white',
        ]}
        for="after"
      >
        After

        <input
          class="ui-before-after__input ui-before-after__input--after absolute top-0 left-0 opacity-0"
          type="radio"
          name="before-after"
          id="after"
        />
      </label>

      <span
        class:list={[
          'ui-before-after__pill absolute top-0 left-0 w-[calc(50%-1px)] h-full rounded-12 -z-1',
          theme === 'dark' ? 'bg-yellow' : 'bg-navy',
        ]}
      >
      </span>
    </div>
  </div>

  <div
    class:list={[
      'mdMax:relative mdMax:aspect-[2/3] mdMax:rounded-30 mdMax:overflow-hidden mdMax:w-full md:grid md:grid-cols-2 md:gap-x-30',
      theme === 'dark' ? 'mdMax:bg-card' : 'mdMax:bg-white',
    ]}
  >
    <div
      class:list={[
        'md:col-span-1 rounded-30 md:rounded-40 overflow-hidden border aspect-[2/3] mdMax:absolute mdMax:inset-0',
        theme === 'dark'
          ? 'md:bg-card border-navy-lighter'
          : 'md:bg-white border-navy/15',
      ]}
    >
      <div
        class="ui-before-after__media ui-before-after__media--before h-full [&>img]:size-full [&>img]:object-cover"
      >
        <slot name="before" />
      </div>
    </div>

    <div
      class:list={[
        'md:col-span-1 rounded-30 md:rounded-40 overflow-hidden border aspect-[2/3] mdMax:absolute mdMax:inset-0',
        theme === 'dark'
          ? 'border-navy-lighter md:bg-navy'
          : 'border-navy/15 md:bg-white',
      ]}
    >
      <div
        class="ui-before-after__media ui-before-after__media--after h-full [&>img]:size-full [&>img]:object-cover"
      >
        <slot name="after" />
      </div>
    </div>
  </div>
</div>

<style is:global>
  .ui-before-after__pill {
    --before-after-ease: cubic-bezier(0.24, 1.2, 0.24, 1);

    pointer-events: none;
    transition: translate theme('transitionDuration.500')
      var(--before-after-ease);

    .ui-before-after__container:has(.ui-before-after__input--before:checked) & {
      translate: 0 0 0;
    }

    .ui-before-after__container:has(.ui-before-after__input--after:checked) & {
      translate: calc(100% + 2px) 0 0;
    }
  }

  .ui-before-after__media {
    transition: opacity theme('transitionDuration.500')
      theme('transitionTimingFunction.out');

    .ui-before-after__container:has(.ui-before-after__input--before:checked)
      &--before {
      opacity: 1;
    }

    .ui-before-after__container:has(.ui-before-after__input--after:checked)
      &--after {
      opacity: 1;
    }

    .ui-before-after__container:has(.ui-before-after__input--before:checked)
      &--after {
      opacity: 0;

      @media screen(md) {
        opacity: 0.2;
      }
    }

    .ui-before-after__container:has(.ui-before-after__input--after:checked)
      &--before {
      opacity: 0;

      @media screen(md) {
        opacity: 0.2;
      }
    }
  }
</style>
