---
import HeaderLogo from '@/components/App/Header/Logo.astro';
import HeaderBackground from '@/components/App/Header/Background.astro';
import HeaderMenuLink from '@/components/App/Header/MenuLink.astro';

import LayoutLines from '@/components/Layout/Lines.astro';
---

<script>
  const modals = document.querySelectorAll('[data-js="modal"]');

  const isValidDialog = (element: HTMLDialogElement | null) =>
    Boolean(
      element &&
        element instanceof HTMLDialogElement &&
        element.nodeName === 'DIALOG',
    );

  const open = (_event: Event, dialog: HTMLDialogElement) => {
    dialog.showModal();
    dialog.classList.remove('opacity-0');
    dialog.classList.add('opacity-100');
  };

  const close = (_event: Event, dialog: HTMLDialogElement) => {
    dialog.classList.remove('opacity-100');
    dialog.classList.add('opacity-0');

    window.setTimeout(() => {
      dialog.close();
    }, 300);
  };

  if (modals?.length) {
    modals.forEach(modal => {
      const dialog = modal?.nextElementSibling as HTMLDialogElement;

      if (!isValidDialog(dialog)) {
        return;
      }

      const closeTrigger = dialog.querySelector('[data-js="modal-close"]');

      closeTrigger?.addEventListener('click', event => close(event, dialog));
      modal.addEventListener('click', event => open(event, dialog));
      dialog.addEventListener('close', event => close(event, dialog));
      // dialog.addEventListener('cancel', event => close(event, dialog));
    });
  }
</script>

{
  Astro.slots.trigger && (
    <button data-js="modal" type="button">
      <slot name="trigger" />
    </button>
  )
}

{
  Astro.slots.content && (
    <dialog
      data-lenis-prevent
      class="fixed inset-0 w-full h-dvh max-w-none max-h-none bg-navy opacity-0 transition-opacity duration-300 overflow-hidden text-white [&::backdrop]:hidden"
    >
      <LayoutLines class="w-full h-full">
        <header class="absolute top-0 left-0 w-full z-50 p-12 md:p-18">
          <nav class="flex justify-between">
            <HeaderBackground>
              <a class="block" href="/">
                <HeaderLogo />
              </a>
            </HeaderBackground>

            <HeaderBackground>
              <button data-js="modal-close" type="button">
                <HeaderMenuLink>Close</HeaderMenuLink>
              </button>
            </HeaderBackground>
          </nav>
        </header>

        <div class="w-full h-full overflow-y-scroll overscroll-contain">
          <div class="wrapper grid grid-cols-1 place-items-center overflow-hidden">
            <div class="w-full max-w-screen-md py-120 lg:py-160">
              <slot name="content" />
            </div>
          </div>
        </div>
      </LayoutLines>
    </dialog>
  )
}
