<div class="text-center">
  <p
    data-js-text-scrub-content
    class="text-fluid-h3 font-semibold font-heading text-balance"
  >
    We’re a [ICON] hand-picked global team of over 25 exceptional [ICON]
    designers, engineers, [ICON] SEO experts and [ICON] paid media specialists,
    crafting websites & digital experiences that work as hard as you do...
    [Button]
  </p>
</div>
