---
import Button from '@/components/Elements/Button.astro';
import Icon from '@/components/Elements/Icon.astro';
import TextScrubAvatars from '@/components/Elements/TextScrubAvatars.astro';
import TextGradient from '@/components/Elements/TextGradient.astro';
---

<div data-js="text-scrub" class="text-center">
  <p class="text-fluid-h3 font-semibold font-heading text-balance">
    <span data-js-text-scrub-chars>We’re a</span>

    <TextScrubAvatars />

    <span data-js-text-scrub-chars>
      hand-picked global team of over 25 exceptional
    </span>

    <Icon
      name="shape-triangle"
      class="inline-block w-[0.9em] h-[0.8em] text-yellow drop-shadow-md align-baseline"
    />

    <span data-js-text-scrub-chars>designers, engineers,</span>

    <Icon
      name="shape-square"
      class="inline-block size-[0.8em] text-green drop-shadow-md align-baseline"
    />

    <span data-js-text-scrub-chars>SEO experts and</span>

    <Icon
      name="shape-circle"
      class="inline-block size-[0.8em] text-blue drop-shadow-md align-baseline"
    />

    <span data-js-text-scrub-chars>paid media specialists, crafting</span>

    <TextGradient>websites</TextGradient>

    <span data-js-text-scrub-chars>
      & digital experiences that work as hard as you do...
    </span>

    <button type="button" class="align-middle -mt-[2.5%]">
      <Button
        text="Let’s chat"
        options={{
          borderColor: 'grey',
        }}
        optionsHover={{
          bgColor: 'white',
          borderColor: 'navy',
        }}
      />
    </button>
  </p>
</div>
