@layer utilities {
  .wrapper,
  .wrapper-full {
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--outer-gutter);
  }

  .wrapper {
    max-width: theme('screens.base');
  }

  .backface-visible {
    backface-visibility: visible;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .shadow-media {
    filter: drop-shadow(0px 5px 50px rgba(0, 0, 0, 0.30));
  }

  .min-svh-screen {
    min-height: 100vh;
    min-height: 100svh;
  }

  .scroll-x {
    scrollbar-width: none; /* for Firefox */
    scroll-snap-type: x mandatory;

    overflow-x: scroll;
    overscroll-behavior-x: contain;

    max-width: 100%;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */

    &::-webkit-scrollbar {
      display: none;
    }

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }

    @supports (-moz-appearance: none) {
      /*
        Disable in FF due to https://bugzilla.mozilla.org/show_bug.cgi?id=1744289
        using @supports https://stackoverflow.com/a/32455002
      */
      scroll-snap-type: none;
    }
  }

  .underline-gradient {
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 405 37" preserveAspectRatio="none"><path d="M399.049 16.284s5.596.77 4.777 2.974c-.559 1.503-6.473.535-7.151.725-3.029 1.044-122.137-5.478-191.18-3.391L6.623 23.398c-13.555.073-.507-2.887-.507-2.887 25.653-4.034 51.96-8.337 121.413-9.608 47.645-1.754 136.217-2.02 154.302-1.171 26.993.896 83.578 2.843 117.218 6.552Z"/></svg>');
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    background: linear-gradient(to right,
      theme('colors.yellow'),
      theme('colors.green') 50%,
      theme('colors.blue')
    );
  }

  @keyframes moveX {
    0% {
      background-position-x: 0%;
    }
    50% {
      background-position-x: 100%;
    }
    100% {
      background-position-x: 0%;
    }
  }

  .text-gradient {
    animation: moveX 10s linear infinite;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-image: linear-gradient(
      to right,
      theme('colors.yellow'),
      theme('colors.green'),
      theme('colors.blue'),
      theme('colors.purple')
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline !important;
  }
}
