@layer utilities {
  .wrapper,
  .wrapper-full {
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--outer-gutter);
  }

  .wrapper {
    max-width: theme('screens.base');
  }

  .backface-visible {
    backface-visibility: visible;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .shadow-media {
    filter: drop-shadow(0px 5px 50px rgba(0, 0, 0, 0.30));
  }

  .min-svh-screen {
    min-height: 100vh;
    min-height: 100svh;
  }

  .scroll-x {
    scrollbar-width: none; /* for Firefox */
    scroll-snap-type: x mandatory;

    overflow-x: scroll;
    overscroll-behavior-x: contain;

    max-width: 100%;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */

    &::-webkit-scrollbar {
      display: none;
    }

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }

    @supports (-moz-appearance: none) {
      /*
        Disable in FF due to https://bugzilla.mozilla.org/show_bug.cgi?id=1744289
        using @supports https://stackoverflow.com/a/32455002
      */
      scroll-snap-type: none;
    }
  }
}
