@layer utilities {
  .wrapper,
  .wrapper-full {
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--outer-gutter);
  }

  .wrapper {
    max-width: theme('screens.base');
  }

  .backface-visible {
    backface-visibility: visible;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .shadow-media {
    filter: drop-shadow(0px 5px 50px rgba(0, 0, 0, 0.30));
  }
}
