@layer utilities {
  .wrapper {
    width: 100%;
    max-width: theme('screens.base');
    margin-inline: auto;
    padding-inline: var(--outer-gutter);
  }

  .backface-visible {
    backface-visibility: visible;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }
}
